.inviteInput {
    float: right;
}

.vertical-menu {
    overflow-x: hidden;
}

.paginationText {
    font-size: 0.8rem;
    padding-top: 8%;
}

.userDataPointer {
    cursor: pointer;
}

.paginationText /deep/ .ngx-pagination .current {
    background: #CF6363;
}

.closeBtn {
    background-color: #CF6363;
    float: right;
    margin-top: 3%;
    cursor: pointer;
    color: white;
}