@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');

.login{
    font-family: 'Libre Franklin', sans-serif;
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    float: left;
      
}
.errorDis{
    color: red;
    font-size: 1.2rem;
}

.form{
    height: 100%;
    width: 50%;
   
}

.form a{
    text-decoration: none;
    color: black;
}

.showCase{
    height: 50%;
    width: 45%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
   
}

.image{
    width: 70%;
    height: 50%;
    display: flex;
    justify-content:center;
    background-image: url('../../../assets/StaticAssets/Login Page/46.png');
}

.image img{
    height: 130%;
    width: 84%;

}