<app-navbar></app-navbar>

<div class="login p-3 mb-5">
    <div class="form p-3">
        <h6 style="color:#f87171"><strong>SOLIUM</strong></h6>
        <h1>FOTGOT YOUR PASSWORD</h1>
        <p>
            <small>
                <img class="me-2" src="../../../assets/StaticAssets/Forgot password/Group 295.png">
                Enter your email address and we will send you a link to reset your password
            </small>
        </p>
        <br>
        <div class="mb-3">
            <label for="email"> Your email address </label>
            <input type="email" class="form-control form-control-lg" id="email" placeholder="e.g email@domain.com">
            <br>
            <div class="d-grid gap-2">
                <button class="btn btn-danger" type="submit">RESET PASSWORD</button>
            </div>
            <br>
            <br>
            <div class="d-flex justify-content-between">

                <button type="button" class="btn btn-outline-secondary">Don't have account?</button>
                <button type="button" class="btn btn-outline-secondary">Create an account</button>
            </div>
        </div>
    </div>

    <div class="showCase ms-5 p-3">
        <div class="d-flex justify-content-end">
            <button class="btn btn-lg btn-danger ps-5 pe-5 ">CREATE MEMORIAL</button>
        </div>
        <div class="image mt-5">
            <img class="mt-5" src="../../../assets/StaticAssets/Login Page/Group 332.png">
        </div>

    </div>

</div>

<!-- other components -->

<app-memorial-features></app-memorial-features>
<app-recent></app-recent>
<app-most-visited></app-most-visited>
<app-platform></app-platform>
<app-everyday></app-everyday>
<app-grief></app-grief>
<app-footer></app-footer>