<div class="navbarBackImg w-100">
    <app-navbar></app-navbar>
</div>

<div class="login container p-3 mb-5">
    <div class="form p-3">
        <h6>
            <button (click)="openDialogue(1)" id="forgotPLabelCss1" *ngIf="service.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
            <!-- <strong>SOLIUM</strong> -->
            <span class="forgotHeaderTextSoulium" *ngIf="editservice.numLabel==1">{{respo1.en}}</span>
            <span class="forgotHeaderTextSoulium" *ngIf="editservice.numLabel==2">{{respo1.de}}</span>
            <span class="forgotHeaderTextSoulium" *ngIf="editservice.numLabel==3">{{respo1.fr}}</span>
        </h6>

        <!-- extra code for label -->
        <li *ngIf="showNewDiv==1 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="forgotPDivCss1">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo1.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo1.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo1.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo1.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>

        <button (click)="openDialogue(2)" id="forgotPLabelCss2" *ngIf="service.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
        <h1 class="userLoginText" *ngIf="editservice.numLabel==1">{{respo2.en}}</h1>
        <h1 class="userLoginText" *ngIf="editservice.numLabel==2">{{respo2.de}}</h1>
        <h1 class="userLoginText" *ngIf="editservice.numLabel==3">{{respo2.fr}}</h1>

        <!-- extra code for label -->
        <li *ngIf="showNewDiv==2 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="forgotPDivCss2">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo2.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo2.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo2.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo2.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>


        <p>
            <button (click)="openDialogue(3)" id="forgotPLabelCss3" *ngIf="service.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
            <small *ngIf="editservice.numLabel==1">
                <img class="me-2 forgotLockImage" src="../../../assets/StaticAssets/Forgot password/Group 295.png">
                <span class="userLoginText1">{{respo3.en}}</span>
            </small>
            <small *ngIf="editservice.numLabel==2">
                <img class="me-2 forgotLockImage" src="../../../assets/StaticAssets/Forgot password/Group 295.png">
                <span class="userLoginText1">{{respo3.de}}</span>
            </small>
            <small *ngIf="editservice.numLabel==3">
                <img class="me-2 forgotLockImage" src="../../../assets/StaticAssets/Forgot password/Group 295.png">
                <span class="userLoginText1">{{respo3.fr}}</span>
            </small>

        </p>

        <!-- extra code for label -->
        <li *ngIf="showNewDiv==3 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="forgotPDivCss3">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo3.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo3.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo3.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo3.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>


        <br>
        <div class="mb-3">
            <div class="errorDis" *ngIf="condition==true">
                <span>Please enter a valid email address.</span>
            </div>
            <form #emailForm="ngForm" method="post">
                <button (click)="openDialogue(4)" id="forgotPLabelCss4" *ngIf="service.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                <label class="userLoginText1" for="email" *ngIf="editservice.numLabel==1">{{respo4.en}}</label>
                <label class="userLoginText1" for="email" *ngIf="editservice.numLabel==2">{{respo4.de}}</label>
                <label class="userLoginText1" for="email" *ngIf="editservice.numLabel==3">{{respo4.fr}}</label>

                <input type="email" class="form-control form-control-lg" id="email" name="email_id" ngModel
                    #email_id="ngModel" placeholder="e.g email@domain.com">
                <br>
                <!-- onpaste="return false" -->
                <button (click)="openDialogue(5)" *ngIf="service.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                <div class="d-grid gap-2">
                    <button class="btn btnForgotPassword" type="submit" (click)="forgotPassword(emailForm)"
                        *ngIf="editservice.numLabel==1">{{respo5.en}}</button>
                    <button class="btn btnForgotPassword" type="submit" (click)="forgotPassword(emailForm)"
                        *ngIf="editservice.numLabel==2">{{respo5.de}}</button>
                    <button class="btn btnForgotPassword" type="submit" (click)="forgotPassword(emailForm)"
                        *ngIf="editservice.numLabel==3">{{respo5.fr}}</button>

                </div>
            </form>

            <!-- extra code for label -->
            <li *ngIf="showNewDiv==4 && isvalid" style="position: absolute; margin-top: 25px;">
                <div class="forDiv" id="forgotPDivCss4">
                    <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                    <form class="example-form" #regForm2="ngForm">
                        <mat-form-field class="example-full-width" style="display: none;">
                            <mat-label>id</mat-label>
                            <textarea matInput name="id" [(ngModel)]="respo4.id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width englishLng">
                            <mat-label>English</mat-label>
                            <textarea matInput name="en" [(ngModel)]="respo4.en"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>German</mat-label>
                            <textarea matInput name="de" [(ngModel)]="respo4.de"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>French</mat-label>
                            <textarea matInput name="fr" [(ngModel)]="respo4.fr"></textarea>
                        </mat-form-field>
                    </form>
                    <button (click)="postEditData(regForm2);openDialogue1();"
                        class="btn btn-outline-success">Save</button>
                </div>
            </li>

            <!-- extra code for label -->
            <li *ngIf="showNewDiv==5 && isvalid" style="position: absolute; margin-top: 25px;">
                <div class="forDiv" id="forgotPDivCss5">
                    <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                    <form class="example-form" #regForm2="ngForm">
                        <mat-form-field class="example-full-width" style="display: none;">
                            <mat-label>id</mat-label>
                            <textarea matInput name="id" [(ngModel)]="respo5.id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width englishLng">
                            <mat-label>English</mat-label>
                            <textarea matInput name="en" [(ngModel)]="respo5.en"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>German</mat-label>
                            <textarea matInput name="de" [(ngModel)]="respo5.de"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>French</mat-label>
                            <textarea matInput name="fr" [(ngModel)]="respo5.fr"></textarea>
                        </mat-form-field>
                    </form>
                    <button (click)="postEditData(regForm2);openDialogue1();"
                        class="btn btn-outline-success">Save</button>
                </div>
            </li>

            <br>
            <br>
            <div class="d-flex justify-content-between bottomButtons">
                <div>
                    <p routerLink="/create-memorial" class="forgotLink" *ngIf="editservice.numLabel==1">{{respo6.en}}
                    </p>
                    <hr *ngIf="editservice.numLabel==1" class="forgotHr">
                    <p routerLink="/create-memorial" type="button" class="forgotLink" *ngIf="editservice.numLabel==2">
                        {{respo6.de}}</p>
                    <hr *ngIf="editservice.numLabel==2" class="forgotHr">
                    <p routerLink="/create-memorial" type="button" class="forgotLink" *ngIf="editservice.numLabel==3">
                        {{respo6.fr}}</p>
                    <hr *ngIf="editservice.numLabel==3" class="forgotHr">

                    <button (click)="openDialogue(6)" *ngIf="service.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                </div>
                <!-- extra code for label -->
                <li *ngIf="showNewDiv==6 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="forgotPDivCss6">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo6.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo6.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>German</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo6.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>French</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo6.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>

                <div>
                    <button routerLink="/create-memorial" type="button" class="btn btn-outline forgotCreateBtn"
                        *ngIf="editservice.numLabel==1">{{respo7.en}}</button>
                    <button routerLink="/create-memorial" type="button" class="btn btn-outline forgotCreateBtn"
                        *ngIf="editservice.numLabel==2">{{respo7.de}}</button>
                    <button routerLink="/create-memorial" type="button" class="btn btn-outline forgotCreateBtn"
                        *ngIf="editservice.numLabel==3">{{respo7.fr}}</button>


                    <button (click)="openDialogue(7)" *ngIf="service.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                </div>

                <!-- extra code for label -->
                <li *ngIf="showNewDiv==7 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="forgotPDivCss7">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo7.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo7.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>German</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo7.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>French</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo7.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>

            </div>
        </div>
    </div>


    <!-- For create memorial button -->

    <div class="showCase ms-5 p-3">
        <div class="d-flex justify-content-end">
            <!-- <button class="btn btn-lg btn-danger ps-5 pe-5 " routerLink="/create-memorial">CREATE MEMORIAL</button>
            <button (click)="openDialogue(8)" *ngIf="service.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button> -->
        </div>
        <!-- extra code for label -->
        <li *ngIf="showNewDiv==8 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="forgotPDivCss8">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo8.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo8.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo8.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo8.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>



        <div class="image mt-5">
            <img src="../../../assets/StaticAssets/Login Page/Group 332.png">
        </div>
    </div>

</div>
<div class="marginImg">
    <app-memory-images></app-memory-images>
</div>


<!-- For spinner -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>

<!-- other components -->

<!-- <app-memorial-features></app-memorial-features> -->
<app-recent></app-recent>
<!-- <app-most-visited></app-most-visited> -->
<!-- <app-platform></app-platform> -->
<!-- <app-everyday></app-everyday> -->
<app-grief></app-grief>
<app-footer></app-footer>