@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

.photoGalleryImg {
    height: 45%;
    opacity: 0.6;
}

.photoPlusImage {
    height: 32%;
    opacity: 0.6;
    cursor: pointer;
}

.photoBackText {
    padding-top: 0.5%;
    opacity: 0.6;
}

.imgMargin {
    margin-right: -13px;
}

.userHeading {
    background-color: #CF6363;
    height: 16vw;
}

.nameSml {
    font-size: 0.55rem;
    color: #CF6363;
    padding-top: 2%;
}

.viewsCss {
    margin-top: -4%;
}

.userHeading h1 {
    text-align: center;
    color: white;
    margin-top: -14%;
    font-size: 2rem;
}

.userBackground {
    color: white;
    padding-top: 2%;
    font-size: 0.6rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.userDate {
    text-align: center;
    color: whitesmoke;
    font-size: 0.85rem;
    opacity: 0.9;

}

.viewportHeight {
    height: 70vw;
}

.userImage {
    text-align: center;
    width: 5%;
    height: auto;
}

.userImage1 {
    border: 2px solid black;
    width: 5%;
    text-align: center;
    height: auto;
}

.circleImage {
    width: 11%;
    height: 66%;
    margin-left: 45%;
    margin-top: -2%;
    border: 5px solid white;
    background-color: #5D5959;

    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.circleImage img {
    width: 100%;
}

.btnColor {
    color: black;
    font-size: 0.85rem;
    border: 1.5px solid black;
    font-weight: 590;
}

.btnColor:hover {
    color: white;
    background-color: #B5B5B5;
}

.btnColor1 {
    color: #4Bc252;
    border: 1px solid #4Bc252;
}

.btnColor1:hover {
    color: #4Bc252;
    background-color: #B5B5B5;
}

.photoVideoGallary {
    height: 35vw;
    background-color: #F8F4EF;
    margin-top: -1%;
}

.photoVideoGalleryText {
    font-size: 0.85rem;
    font-weight: 500;
    margin-left: 1%;
}

.crossImg {
    height: 63px;
}

.condolencesText {
    font-weight: 600;
    font-size: 1.3rem;
}

.qotesImg {
    width: 68px;
    margin-top: 19%;
    opacity: 0.9;
}

.condolenceMain {
    height: 15vw;
    margin-bottom: 2%;
}

.condolenceMain1 {
    height: auto;
    margin-bottom: 2%;
}

.pVGallery {
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
    width: 14%;
    height: 150px;
    margin: 1%;
    border-radius: 7px;
}

.condolenceImg {
    width: 6%;
    float: left;
    margin-left: -1%;
}

.imageButton {
    position: relative;
    width: 100%;
    height: 100%;
}

.condolenceText {
    font-size: 0.7rem;
    color: #FFFFFF;
    opacity: 0.8;
    float: left;
    padding-top: 1%;
}

.condolencesComment {
    font-size: 0.9rem;
    color: #FFFFFF;
    text-align: justify;
    float: left;
    padding-top: 2%;
    width: 90%;
    opacity: 0.9;
    margin-left: -7%;
    height: 8vw;
    overflow: hidden;
}

.condolencesComment1 {
    font-size: 0.9rem;
    color: #FFFFFF;
    text-align: justify;
    float: left;
    padding-top: 2%;
    width: 90%;
    opacity: 0.9;
    margin-left: -7%;
    height: auto;
    overflow: hidden;
}

.viewEntireDiv {
    padding-top: 20%;
}

.viewEntire {
    float: left;
    font-size: 0.7rem;
    font-weight: 500;
    cursor: pointer;
}

.rightImg {
    width: 12%;
}

deletrImg {
    width: 20px;
}

.plusButton {
    position: absolute;
    left: 80%;
    cursor: pointer;
}

.plusButtonDelete {
    position: absolute;
    left: 83%;
    top: 82%;
    width: 19px;
    cursor: pointer;
}

.shareEdit {
    font-size: 0.6rem;
    color: whitesmoke;
    cursor: pointer;
    opacity: 0.7;
}

.shareEdit1 {
    font-size: 0.7rem;
    color: white;
    opacity: 0.7;
}


.editCondolences {
    text-align: center;
}

.subscribeImage {
    background-image: url('../../../assets/StaticAssets/Visitor Mode/112.png');
    background-size: 100%;
    border-radius: 20px;
    height: 14vw;
    width: 100%;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-position: center;
}

.subscribeText {
    font-size: 0.9rem;
    font-weight: 500;
}

.subInputBox {
    width: 29%;
    height: 45px;
    border-radius: 0px;
}

.subInputBox1 {
    height: 45px;
    border-radius: 0px;
}

.subscribeBtn {
    height: 45px;
    font-size: 0.9rem;
    padding-left: 30%;
    padding-right: 30%;
    border-radius: 0;
}

::placeholder {
    font-size: 0.9rem;
    padding-left: 3%;
    color: #B5B5B5;
}

.recentMemorial {
    background-color: #F8F4EF;
    height: 25vw;
}

.recentHeading {
    font-weight: 800;
    text-align: center;
    font-size: 1.1rem;
}

.recentMemo {
    display: flex;
    align-content: flex-start;
    margin-left: 12%;
}

.recentMemo .child1 {
    font-style: normal;
    margin: 0%;
    padding: 0%;

}

.recentHeading {
    font-weight: bold;
    text-align: center;
}

.recentImage {
    width: 50%;
    height: auto;
    border: 2px solid #CF6363;
    text-align: center;

}

.recentName {
    font-weight: 600;
    font-size: 0.9rem;
}

.condolenceDiv {
    height: auto;
}

/* For editCondolences */
.condolencesEdit {
    background-color: #CF6363;
    border-radius: 20px;
    width: 100%;
    height: 15vw;
    display: flex;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.condolencesEdit1 {
    background-color: #CF6363;
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.readAllCondo {
    padding-left: 3%;
    padding-right: 3%;
    border: 2px solid black;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 1%;
    padding-bottom: 1%;
}

#backgroundimage {
    height: auto;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.readAllCondo:hover {
    background-color: #B5B5B5;
    color: white;
    border: none;
}

.plusImageOnHeader {
    margin-top: 1.5%;
    z-index: 500;
    color: white;
    width: 2%;
    margin-left: -2%;
}

@media (min-width:481px) and (max-width:979px) {
    .photoVideoGallary {
        margin-top: 140%;
    }

    .submenu {
        margin-left: 66px;
    }
}

@media (min-width:781px) and (max-width:1160px) {
    .viewportHeight {
        height: 142vw;
    }

    .photoVideoGallary {
        height: 41vw;
    }

    .recentName {
        font-size: 0.6rem;
    }

    .recentMemorial {
        height: 28vw;
    }
}

@media (min-width:1160px)and (max-width:1517px) {
    .viewportHeight {
        height: 78vw;
    }

    .recentMemorial {
        height: 28vw;
    }

    .recentName {
        font-size: 0.7rem;
    }
}

@media (min-width:1398px) {

    /* 1398px */
    .centered {
        font-size: 1rem;
    }

    .centered2 {
        top: 44%;
        left: 50%;
    }

    .fontCenter {
        font-size: 1rem;
    }

    .bottom-left {
        bottom: 25px;
        left: 419px;
        font-size: 1rem;
    }

    .bottom-right1 {
        bottom: 25px;
        right: 422px;
        font-size: 1rem;
    }

    .userText {
        font-size: 1.5rem;
    }

    .personCentric {
        width: 42%;
    }
}

@media (min-width:1398px)and (max-width:1517px) {
    .viewportHeight {
        height: 68vw;
    }
}

@media (min-width:1518px)and (max-width:2017px) {
    .viewportHeight {
        height: 58vw;
    }

    .circleImage {
        margin-top: 1%;
    }

    .plusImageOnHeader {
        margin-left: -1%;
    }

    .photoVideoGallary {
        height: 27vw;
    }

    .subscribeImage {
        background-position: top;
    }

    .recentMemorial {
        height: 21vw;
    }
}

@media (min-width:2017px)and (max-width:2049px) {
    .viewportHeight {
        height: 50vw;
    }

    .circleImage {
        margin-top: 2%;
    }

    .plusImageOnHeader {
        margin-left: -1%;
    }

    .photoVideoGallary {
        height: 24vw;
    }

    .subscribeImage {
        background-position: top;
    }

    .recentMemorial {
        height: 18vw;
    }
}

@media (min-width:2050px)and (max-width:3839px) {
    .viewportHeight {
        height: 40vw;
    }

    .circleImage {
        margin-top: 3%;
    }

    .plusImageOnHeader {
        margin-left: -1%;
    }

    .photoVideoGallary {
        height: 19vw;
        margin-top: 4%;

    }

    .subscribeImage {
        background-position: top;
    }

    .recentMemorial {
        height: 15vw;
    }
}

@media (min-width:3840px)and (max-width:4098px) {
    .photoVideoGallary {
        height: 12vw;
        margin-top: -40%;

    }

    .subscribeImage {
        background-position: top;
    }

    .circleImage {
        margin-top: 4%;
    }
}

@media (min-width:4098px) {
    .viewportHeight {
        height: 34vw;
    }

    .photoVideoGallary {
        height: 13vw;
    }

    .subscribeImage {
        background-position: top;
    }

    .circleImage {
        margin-top: 4%;
    }

    .recentMemorial {
        height: 11vw;
    }
}