<div>
    <app-navbar></app-navbar>

    <div class="thank" *ngIf="emailActivationStatus">
        <h6><strong>WELCOME TO SOULIUM</strong></h6>
        <h1><strong>Your email has been activated successfully.</strong></h1>
        <br>
        <!-- <br> -->
        <small><strong><u><a routerLink="/login" class="fontSize">Please Login and see your
                        memories.</a></u></strong></small>
        <!-- <img src="../../../assets/StaticAssets/Create memorial/thank you page/565656565.png"> -->
    </div>

    
    <div class="thank" *ngIf="!emailActivationStatus">
        <h6><strong>WELCOME TO SOULIUM</strong></h6>
        <h1><strong>Your email is already verified.</strong></h1>
        <br>
        <!-- <br> -->
        <small><strong><u><a routerLink="/login" class="fontSize">Please Login and see your
                        memories</a></u></strong></small>
        <!-- <img src="../../../assets/StaticAssets/Create memorial/thank you page/565656565.png"> -->
    </div>

    <div class="FooterResp">
        <app-footer></app-footer>
    </div>
</div>