/* css for labels */
.forButton {
    position: relative;
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207, 99, 99, 0.2);
    opacity: 0.7;
}

/* For div css */
.forDiv {
    position: relative;
    z-index: 10;
    color: black;
    text-align: center;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 300px;
    font-size: 1rem;
    background-color: #F8F8F8;
}

.englishLng {
    padding-top: 15%;
    padding-left: 2%;
    margin-left: 12%;
}

#homeId {
    right: 83%;
    margin-top: -108%;
}

#premiumId {
    right: 57%;
    margin-top: -108%;
}

#comemorateId {
    right: 12%;
    margin-top: -108%;
}

#griefId {
    left: 16%;
    margin-top: -108%;
}

.footerText {
    font-size: 0.8rem;
}

.Tearms {
    background-color: #4E4E4E;
    width: 100%;
    text-align: center;
    color: #7E7575;
    font-size: 0.7rem;
    padding-top: 0.6%;
    height: 35px;
}

.footer {
    height: 10vw;
    width: 100%;
    background-color: #373737;
}

.footer-box {
    padding: 25px 90px;
    background-color: #373737;
}

.footer-box ul {
    text-decoration: none;
}

.footer-box ul li {
    list-style: none;
    padding-left: 15px;
}

.footer-box ul li a {
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
}

.nav {
    display: flex;
    flex-wrap: wrap;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show .nav-link {
    color: rgb(255 255 255);
}

@media(min-width:481px) and (max-width:768px) {

    #homeId {
        left: 113%;
        margin-top: 6%;
    }

    #premiumId {
        left: 112%;
        margin-top: 25%;
    }

    #comemorateId {
        left: 113%;
        margin-top: 46%;
    }

    #griefId {
        left: 116%;
        margin-top: 66%;
    }
}

@media(max-width:990px) {

    .footer-box {
        padding: 20px 0px;
    }

    .footer-logo {
        display: block;
        text-align: center;
    }

    .footer-box ul li {
        list-style: none;
    }

    .footer-box ul li a {
        color: #FFF;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.7rem;
    }
}

@media(max-width:504px) {
    .footer-box ul {
        padding-left: 0px !important;
    }
}