<nav class="navbar navbar-expand-lg navbar-light bg-transprant">

    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://www.soulium.com/onlinefriedhof/images/hires/LogoSoulium_com.png" alt="soulium-logo"
                class="mt-0 img-thumbnail top-0" style='height:"80px"; background-color: aliceblue;' />
        </a>
        <button class="navbar-toggler navBtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <!-- routerLink="/home" -->
                        <strong>HOME</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <strong>PREMIUM</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <strong>COMMEMORATE</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <strong>GRIEF FORUM</strong>
                    </a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-center align-self-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">

                    <a class="nav-link active" aria-current="page" href="#">
                        <div>
                            <img id="search" style="margin: auto;margin-bottom:5px"
                                src="../../../assets/StaticAssets/Home page/search.png" alt="Search">
                            <p><small>Search</small></p>
                        </div>

                    </a>
                </li>
                <li class="nav-item" *ngIf="!loginservice.islogin">
                    <a class="nav-link active" aria-current="page" routerLink="/login">
                        <img id="login" style="margin: auto" src="../../../assets/StaticAssets/Home page/login.png">
                        <p><small>Login</small></p>
                    </a>
                </li>
                <li *ngIf="loginservice.islogin" class="userName">
                    <span>Hii {{loginservice.loginSaveData}}</span>
                </li>
            </ul>
        </div>
    </div>
</nav>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo" >
        <a class="navbar-brand" href="/">
            <img src="https://www.soulium.com/onlinefriedhof/images/hires/LogoSoulium_com.png" alt="soulium-logo"
            className="mt-0 img-thumbnail" style='height:"80px";padding-right: 8rem' />
        </a>
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse main navbar-collapse justify-content-left" id="navbarNav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <strong>HOME</strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <strong>PREMIUM </strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <strong>COMMEMORATE </strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <strong>GRIEF FORUM</strong>
                </a>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-right" id="navbarNav">
        <ul class="nav">
            <li class="nav-item">
                <div style="font-size: 14px;padding-top: 5px;">
                    <a class="nav-link" style="display: inline-block ;position: relative;" href="#">
                        <img style="vertical-align: baseline" src="../../../assets/StaticAssets/Home page/search.png" />
                        <br>

                        search
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div style="font-size: 14px">
                    <a class="nav-link" style="display: inline-block;position: relative;" href="#">
                        <img style="vertical-align: baseline" src="../../../assets/StaticAssets/Home page/login.png" />

                        <br>
                        login
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>   -->