<div id="navDiv">
    <div class="container">
        <span style="color: green;" class="onlineUser">57</span>&nbsp;
        <span *ngIf="loginservice.otherPage" style="color: whitesmoke;" class="onlineUser"><span
                *ngIf="editservice.numLabel==1">{{respo11?.en}}</span></span>
        <span *ngIf="loginservice.otherPage" style="color: whitesmoke;" class="onlineUser"><span
                *ngIf="editservice.numLabel==2">{{respo11?.de}}</span></span>
        <span *ngIf="loginservice.otherPage" style="color: whitesmoke;" class="onlineUser"><span
                *ngIf="editservice.numLabel==3">{{respo11?.fr}}</span></span>
        <span *ngIf="!loginservice.otherPage" style="color:  #6a6a6a;" class="onlineUser"><span
                *ngIf="editservice.numLabel==1">{{respo11?.en}}</span></span>
        <span *ngIf="!loginservice.otherPage" style="color:  #6a6a6a;" class="onlineUser"><span
                *ngIf="editservice.numLabel==2">{{respo11?.de}}</span></span>
        <span *ngIf="!loginservice.otherPage" style="color:  #6a6a6a;" class="onlineUser"><span
                *ngIf="editservice.numLabel==3">{{respo11?.fr}}</span></span>
        <button (click)="openDialogue(11)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"
            style="float: left;"><span><img src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
        <span *ngIf="!loginservice.islogin && editservice.numLabel==1" class="registerButtonNav"
            routerLink="/create-memorial">&nbsp;{{respo12?.en}}</span>
        <span *ngIf="!loginservice.islogin && editservice.numLabel==2" class="registerButtonNav"
            routerLink="/create-memorial">&nbsp;{{respo12?.de}}</span>
        <span *ngIf="!loginservice.islogin && editservice.numLabel==3" class="registerButtonNav"
            routerLink="/create-memorial">&nbsp;{{respo12?.fr}}</span>
        <span style="float: right;"><img *ngIf="!loginservice.islogin" class="registerImage"
                src="../../../assets/StaticAssets/Home page/user.png" alt=""></span>
        <button (click)="openDialogue(12)" style="float: right;" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
        <span *ngIf="loginservice.islogin" routerLink="/user-account" class="registerButtonNav"
            style="cursor: pointer;">Hi {{loginservice.loginSaveData}} > </span>&nbsp;
        <span *ngIf="loginservice.otherPage" style="float: right;"><img *ngIf="loginservice.islogin"
                class="registerImage" src="../../../assets/StaticAssets/my account premium/user.png" alt=""></span>
        <span *ngIf="!loginservice.otherPage" style="float: right; margin-right: 6px;"><img *ngIf="loginservice.islogin"
                class="registerImage1" src="../../../assets/StaticAssets/Home page/user (1).png" alt=""></span>

        <li *ngIf="showNewDiv==12 && isvalid" style="position: absolute; margin-top: -47px;">
            <div class="forDiv" id="homeIdNew">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo12.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo12.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo12.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo12.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>

        <li *ngIf="showNewDiv==11 && isvalid" style="position: absolute; margin-top: -47px;">
            <div class="forDiv" id="homeId">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo11.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo11.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo11.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo11.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>

    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-transprant" style="width: 100%;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="margin-top: 2%;" *ngIf="!loginservice.logoDisplay">
            <img src="../../../assets/StaticAssets/Home page/LogoSoulium1.png" alt="soulium-logo" class="mt-0 top-0"
                style='height:"80px"; width: 83%; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;' />
        </a>

        <a class="navbar-brand" href="#" style="margin-top: 2%;" *ngIf="loginservice.logoDisplay">
            <img src="../../../assets/StaticAssets/Create memorial/step1/LogoSoulium_com.png" alt="soulium-logo"
                class="mt-0 top-0"
                style='height:"80px"; width: 100%; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;' />
        </a>

        <button class="navbar-toggler navBtn" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-lg-0" style="margin-top: 5%;">
                <li class="nav-item" style="position:relative; display:inline-block">
                    <button (click)="openDialogue(1)" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                    &nbsp;
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==1">
                        <strong>{{respo1?.en}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==2">
                        <strong>{{respo1?.de}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==3">
                        <strong>{{respo1?.fr}}</strong>
                    </a>
                </li>
                <!-- extra code for label -->
                <li *ngIf="showNewDiv==1 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="homeId">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo1.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo1.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>German</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo1.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>French</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo1.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>
                <li *ngIf="!loginservice.goPremiumLabel" class="nav-item" style="text-align: center;">
                    <img src="../../../assets/StaticAssets/Home page/diamond (-1.png" alt="">
                    <button (click)="openDialogue(2)" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                    &nbsp;
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==1">
                        <strong>{{respo2?.en}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==2">
                        <strong>{{respo2?.de}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==3">
                        <strong>{{respo2?.fr}}</strong>
                    </a>
                </li>
                <!-- for go premium -->
                <li *ngIf="loginservice.goPremiumLabel" class="nav-item" style="text-align: center;">
                    <img src="../../../assets/StaticAssets/Home page/diamond (-1.png" alt="">
                    <button (click)="openDialogue(10)" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                    &nbsp;
                    <a class="nav-link active fontNav1" aria-current="page" href="#" *ngIf="editservice.numLabel==1">
                        <strong class="labelPage">{{respo10?.en}}</strong>
                    </a>
                    <a class="nav-link active fontNav1" aria-current="page" href="#" *ngIf="editservice.numLabel==2">
                        <strong class="labelPage">{{respo10?.de}}</strong>
                    </a>
                    <a class="nav-link active fontNav1" aria-current="page" href="#" *ngIf="editservice.numLabel==3">
                        <strong class="labelPage">{{respo10?.fr}}</strong>
                    </a>
                </li>

                <!-- extra code for label -->
                <li *ngIf="showNewDiv==10 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="premiumId">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo10.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo10.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>German</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo10.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>French</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo10.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>

                <!-- extra code for label -->
                <li *ngIf="showNewDiv==2 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="premiumId">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo2.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo2.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>German</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo2.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>French</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo2.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>
                <li class="nav-item">
                    <button (click)="openDialogue(3)" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                    &nbsp;
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==1">
                        <strong>{{respo3?.en}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==2">
                        <strong>{{respo3?.de}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==3">
                        <strong>{{respo3?.fr}}</strong>
                    </a>
                </li>

                <!-- extra code for label -->
                <li *ngIf="showNewDiv==3 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="comemorateId">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo3.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo3.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>German</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo3.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>French</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo3.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>

                <li class="nav-item">
                    <button (click)="openDialogue(4)" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                    &nbsp;
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==1">
                        <strong>{{respo4?.en}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==2">
                        <strong>{{respo4?.de}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==3">
                        <strong>{{respo4?.fr}}</strong>
                    </a>
                </li>

                <!-- extra code label -->
                <li *ngIf="showNewDiv==4 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="griefId">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo4.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo4.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>German</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo4.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>French</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo4.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>

                <li class="nav-item">
                    <button (click)="openDialogue(9)" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                    &nbsp;
                    <a class="nav-link active fontNav" aria-current="page" href="#"
                        *ngIf="editservice.numLabel==1 && !loginservice.isUser">
                        <strong>{{respo9?.en}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#"
                        *ngIf="editservice.numLabel==2 && !loginservice.isUser">
                        <strong>{{respo9?.de}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#"
                        *ngIf="editservice.numLabel==3 && !loginservice.isUser">
                        <strong>{{respo9?.fr}}</strong>
                    </a>
                </li>

                <!-- extra code label -->
                <li *ngIf="showNewDiv==9 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="griefId">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo9.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo9.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>German</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo9.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>French</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo9.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button (click)="openDialogue(5)" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>

                    <img id="search" style="margin: auto;margin-bottom:5px"
                        src="../../../assets/StaticAssets/Home page/search.png" alt="Search">
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==1">
                        <strong>{{respo5?.en}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==2">
                        <strong>{{respo5?.de}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==3">
                        <strong>{{respo5?.fr}}</strong>
                    </a>
                </li>

                <!-- extra code label -->
                <li *ngIf="showNewDiv==5 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="searchId">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo5.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo5.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>German</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo5.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>French</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo5.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>
                
                <li class="nav-item" *ngIf="!loginservice.islogin">
                    <button (click)="openDialogue(6)" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>

                    <img id="login" style="margin: auto" src="../../../assets/StaticAssets/Home page/login.png">
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==1">
                        <strong>{{respo6?.en}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==2">
                        <strong>{{respo6?.de}}</strong>
                    </a>
                    <a class="nav-link active fontNav" aria-current="page" href="#" *ngIf="editservice.numLabel==3">
                        <strong>{{respo6?.fr}}</strong>
                    </a>
                </li>

                <!-- extra code label -->
                <li *ngIf="showNewDiv==6 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="loginId">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo6.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo6.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>German</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo6.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>French</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo6.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>

                <li *ngIf="loginservice.islogin" class="userName">
                    <span routerLink="/user-account" style="cursor: pointer;">Hi {{loginservice.loginSaveData}}</span>
                </li>

                <li class="navbarButtons">
                    <!-- *ngIf="isVisible" -->
                    <button (click)="buttonLanguage(1)" title="English"
                        class="btn btn-sm btn-outline-danger">En</button>
                    <button (click)="buttonLanguage(2)" title="German" class="btn btn-sm btn-outline-danger">Ge</button>
                    <button (click)="buttonLanguage(3)" title="Français"
                        class="btn btn-sm btn-outline-danger">Fr</button>
                </li>

                <li *ngIf="loginservice.isVisible">
                    <button (click)="openDialogue(7)"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                    <p *ngIf="editservice.numLabel==1" class="navbarButtons2" routerLink="/login">
                        <u><a>{{respo7?.en}}</a></u>
                    </p>
                    <p *ngIf="editservice.numLabel==2" class="navbarButtons2" routerLink="/login">
                        <u><a>{{respo7?.de}}</a></u>
                    </p>
                    <p *ngIf="editservice.numLabel==3" class="navbarButtons2" routerLink="/login">
                        <u><a>{{respo7?.fr}}</a></u>
                    </p>
                </li>

                <!-- extra code label -->
                <li *ngIf="showNewDiv==7 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="loginId1">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo6.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo7.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>German</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo7.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>French</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo7.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>

                <li *ngIf="loginservice.islogin">
                    <button (click)="openDialogue(8)" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                    <p *ngIf="editservice.numLabel==1" class="navbarButtons1" (click)="userLogout()">
                        <u><a>{{respo8?.en}}</a></u>
                    </p>
                    <p *ngIf="editservice.numLabel==2" class="navbarButtons1" (click)="userLogout()">
                        <u><a>{{respo8?.de}}</a></u>
                    </p>
                    <p *ngIf="editservice.numLabel==3" class="navbarButtons1" (click)="userLogout()">
                        <u><a>{{respo8?.fr}}</a></u>
                    </p>
                </li>

                <!-- extra code label -->
                <li *ngIf="showNewDiv==8 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="logoutId">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo8.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo8.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>German</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo8.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>French</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo8.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- For spinner -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>



<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="logo" >
        <a class="navbar-brand" href="/">
            <img src="https://www.soulium.com/onlinefriedhof/images/hires/LogoSoulium_com.png" alt="soulium-logo"
            className="mt-0 img-thumbnail" style='height:"80px";padding-right: 8rem' />
        </a>
    </div>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse main navbar-collapse justify-content-left" id="navbarNav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <strong>HOME</strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <strong>PREMIUM </strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <strong>COMMEMORATE </strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <strong>GRIEF FORUM</strong>
                </a>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-right" id="navbarNav">
        <ul class="nav">
            <li class="nav-item">
                <div style="font-size: 14px;padding-top: 5px;">
                    <a class="nav-link" style="display: inline-block ;position: relative;" href="#">
                        <img style="vertical-align: baseline" src="../../../assets/StaticAssets/Home page/search.png" />
                        <br>

                        search
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <div style="font-size: 14px">
                    <a class="nav-link" style="display: inline-block;position: relative;" href="#">
                        <img style="vertical-align: baseline" src="../../../assets/StaticAssets/Home page/login.png" />

                        <br>
                        login
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>   -->