/* a{
    color: inherit;
    
}
.main{
    font-size: 0.9rem;
    padding-right: 5cm;
    display: flex;
    flex-wrap: wrap;

}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.logo{
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
} */
nav {
    margin-top: -11px;
}

#navDiv {
    background-color: #424347;
    position: fixed;
    width: 100%;
    margin-top: 0.7%;
    padding-top: 0.5%;
    z-index: 500;
}

.navbar-brand {
    margin-left: 3rem;
    display: block;
    top: 0px;

}

.fontNav {
    font-size: 0.8rem;
    font-weight: 600;
}

.fontNav1 {
    font-size: 0.8rem;
    font-weight: 600;
    color: #CF6363;
}

.lablePage {
    color: #CF6363;
    opacity: 0.9;
}

a {
    font-size: medium;
}

.userName {
    margin-top: 32px;
    margin-left: 6px;
    color: red;
}

/* For button css */
.forButton {
    position: relative;
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207, 99, 99, 0.2);
    opacity: 0.7;
}

/* For div css */
.forDiv {
    position: relative;
    z-index: 10;
    text-align: center;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 300px;
    background-color: #F8F8F8;
}

.labelPage {
    color: #CF6363;
}

.navbarButtons {
    margin-left: 40px;
    margin-top: 20px;
}

.navbarButtons1 {
    margin-left: 25px;
    margin-top: 24px;
    cursor: pointer;
    color: blue;
}

.navbarButtons2 {
    margin-left: 25px;
    margin-top: 24px;
    cursor: pointer;
    color: blue;
}

.registerButtonNav {
    float: right;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    margin-top: 0.3%;
}

.onlineUser {
    font-size: 0.8rem;
}

.registerImage {
    width: 85%;
}

.registerImage1 {
    width: 18px;
    height: 18px;
}

#homeIdNew {
    left: 244%;
}

#premiumId {
    right: 57%;
}

#comemorateId {
    right: 12%;
}

#griefId {
    left: 16%;
}

#searchId {
    right: 82%;
}

#loginId {
    right: 58%;
}

#loginId1 {
    right: -7%;
}

#logoutId {
    left: 28%;
}

.englishLng {
    padding-top: 15%;
    padding-left: 2%;
    margin-left: 12%;
}

@media (max-width: 514px) {
    .logo {
        width: 8.5rem;
        height: 5.8rem;
        margin-left: 1rem;
    }
}

@media (max-width:480px) {
    #search {
        display: none;
    }

    small {
        border: 0.5px solid gainsboro;
        background-color: gray;
        border-radius: 5px;
        font-size: 1.5rem;
    }

    #login {
        display: none;
    }
}

@media (min-width:481px) and (max-width:780px) {
    #search {
        display: none;
    }

    small {
        border: 0.5px solid gainsboro;
        background-color: gray;
        border-radius: 5px;
        font-size: 1.5rem;
    }

    .englishLng {
        padding-top: 6%;
        margin-left: 0%;
        padding-left: 0%;
    }

    #loginId1 {
        left: 139%;
        margin-top: 66%;
    }

    #logoutId {
        left: 139%;
        margin-top: 85%;
    }

    .example-form {
        width: 100%;
    }

    .example-full-width {
        width: 100%;
    }

    #login {
        display: none;
    }

    .navBtn {
        margin-right: 58px;
    }

    /* Label id's */

    #homeId {
        left: 142%;
    }

    #premiumId {
        left: 142%;
        margin-top: 23%;
    }

    #comemorateId {
        left: 142%;
        margin-top: 46%;
    }

    #griefId {
        left: 142%;
        margin-top: 66%;
    }

    #searchId {
        left: 142%;
        margin-top: 4%;
    }

    #loginId {
        left: 142%;
        margin-top: 26%;
    }
}


@media (min-width:1518px)and (max-width:2017px) {
    #navDiv {
        margin-top: 0.3%;
    }
}

@media (min-width:2017px)and (max-width:2049px) {
    #navDiv {
        margin-top: 0.3%;
    }
}

@media (min-width:2050px)and (max-width:3839px) {
    #navDiv {
        margin-top: 0.4%;
    }
}

@media (min-width:3840px)and (max-width:4098px) {
    #navDiv {
        margin-top: 0.3%;
    }
}