@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');




/* Edit label css */

/* For button css */
.forButton{
    position: relative;
    /* z-index: 10; */
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207,99,99, 0.2);
    opacity: 0.7;
}

/* For div css */
.forDiv{
    position: relative;
    z-index: 10;
    /* border: 1px dotted tomato; */
    text-align: center;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 300px;
    background-color: #F8F8F8;
}
.englishLng{
    padding-top: 15%; 
    padding-left: 2%;
    margin-left: 12%;
}
#longTextId{
    margin-top: 99%;
     left: 176%;
}

#headerLabel1{
    margin-top: -15%; 
    left: 157%;
}















header {
    background-image: url('../../../assets/StaticAssets/Home page/p1.png') ;
    background-image: -webkit-repeating-radial-gradient;
    background-size: cover ;
    background-position: center;
    z-index: -9999;
    background-repeat: no-repeat;
    width: 100%;
    min-height: auto;
}

#color{
    color: white;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    /* flex-wrap: wrap;  */
    flex-direction: column;
    height:25rem;
    width:auto;
    background-color: transparent;
    font-family: 'Noto Sans KR', sans-serif; 
       

}

.child{
    margin:2px;
    width: 100%;
    height:18%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
}

.find{
    width: 100%;
    margin-top: 20px;
}

.find .input-group{
    margin-top: 50px;
}



#box4 button{
    padding-top: 5px;
    margin-left: 10px;
}

#box4{
    flex-wrap: nowrap;
    margin-top: 25px;
}

/* featured memorial */

.container2{
        margin-top: 30px;
        margin-bottom:50px;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
}
.memorial{
    margin-top: 20px;
    margin-left: 20px;
    height: 180px;
    width: 180px;
    /* background-color: black; */
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: flex-end;
    
}
.year{
    width: 30%;
    height: 25%;
    background-color: #eee5dc;
    margin-top: inherit;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    font-weight: bolder;
    color: #ce1414;
    padding-top: 7px;
    text-align: center;
    border-radius: 5px;
    
}
.year p{
    font-size: 14px;
}

h5{
    margin-top: 30px;
    font-family: 'Noto Sans KR', sans-serif; 
    font-weight: bold;
}

.second{
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchHgt{
    height: 35vw;
}
.searchImg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.searchImg1{
    height: 150px;
    width: 150px;
    border: 1px solid tomato;
    margin: 10px;
    /* margin-left: 10%; */
    margin-top: 31%;
}

.example-viewport {
    height: 35vw; 
    width: 60%;
    /* border: 1px solid black; */
    
  }
  
.example-item {
    height: 50px;
  }
.searchName{
    text-align: center;
}
.searchCandel{
    text-align: center;
}
.searchValue{
    font-size: 0.8rem;
}


mat-slider {
    width: 300px;
  }









@media (max-width: 992px){
    
    header{
        background-position: 50%;
        background-size: auto;
    }

    #box3{
        margin-top: 10px;
    }

    #box4{
        margin-top:50px; 
        flex-shrink: 2;
     }
     #longTextId{
         left: 73%;
     }
     #headerLabel1{
        margin-top: -15%; 
        left: 49%;
    }
}
@media (max-width: 700px){
    
    header{
        background-position: 35%;
        background-size: auto;
    }

    #box3{
        margin-top: 20px;
    }

    #box4{
        margin-top:70px;
    }

    /* background-position: 50%;
    background-size: auto; */
}


@media (max-width: 450px){
/* @media (max-width: 320px){ */

    
    header{   
        background-position: 20%;
        background-size: auto;

    }

    .container{
       margin-top: 20px;
       height: auto;

    }

    #box3{
        margin-top: 0px;
    }

    #box4{
        margin-top:8rem;
    }
    /* background-position: 50%;
    background-size: auto; */
}

