<header class="flex flex-col my-auto items-center bgimg bg-cover py-20">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="child h-auto" style="margin-bottom: -23px;">
            <button (click)="openDialogue(1)" *ngIf="loginservice.isVisible" style="float: right;"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
            <h3 class="headerLabel">
                <p *ngIf="editservice.numLabel==1">{{respo1?.en}}</p>
                <p *ngIf="editservice.numLabel==2">{{respo1?.de}}</p>
                <p *ngIf="editservice.numLabel==3">{{respo1?.fr}}</p>
            </h3>
            <!-- Extra code for div -->
            <li *ngIf="showNewDiv==1 && isvalid" style="position: absolute; margin-top: 25px;">
                <div class="forDiv" style="margin-top: 90%; right: 86%;">
                    <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                    <form class="example-form" #regForm2="ngForm">
                        <mat-form-field class="example-full-width" style="display: none;">
                            <mat-label>id</mat-label>
                            <textarea matInput name="id" [(ngModel)]="respo1.id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width englishLng">
                            <mat-label>English</mat-label>
                            <textarea matInput name="en" [(ngModel)]="respo1.en"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>German</mat-label>
                            <textarea matInput name="de" [(ngModel)]="respo1.de"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>French</mat-label>
                            <textarea matInput name="fr" [(ngModel)]="respo1.fr"></textarea>
                        </mat-form-field>
                    </form>
                    <button (click)="postEditData(regForm2);openDialogue1();"
                        class="btn btn-outline-success">Save</button>
                </div>
            </li>
        </div>
        <div class="child text-center text-secondary mt-0">
            <button (click)="openDialogue(2)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
            <h1 class="keepingAlive" *ngIf="editservice.numLabel==1"><strong>{{respo2?.en}}</strong></h1>
            <h1 class="keepingAlive" *ngIf="editservice.numLabel==2"><strong>{{respo2?.de}}</strong></h1>
            <h1 class="keepingAlive" *ngIf="editservice.numLabel==3"><strong>{{respo2?.fr}}</strong></h1>
        </div>
        <!-- Extra code for div -->
        <li *ngIf="showNewDiv==2 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" style="margin-top: 60%; left: 9%;">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo2.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo2.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo2.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo2.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>
        <div class="child text-center" id="box3">
            <p>
                <button (click)="openDialogue(3)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                <span>
                    <small class="headerText" *ngIf="editservice.numLabel==1">{{respo3?.en}}</small>
                </span>
                <span>
                    <small class="headerText" *ngIf="editservice.numLabel==2">{{respo3?.de}}</small>
                </span>
                <span>
                    <small class="headerText" *ngIf="editservice.numLabel==3">{{respo3?.fr}}</small>
                </span>
            </p>
        </div>
        <!-- Extra code for div -->
        <li *ngIf="showNewDiv==3 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="longTextId">
                <button style="float: right;" (click)="openDialogue1()" class="btn bt btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo3.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo3.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo3.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo3.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>
        <!-- Extra code for div -->
        <li *ngIf="showNewDiv==8 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="longTextId">
                <button style="float: right;" (click)="openDialogue1()" class="btn bt btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo8.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo8.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo8.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo8.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>
        <div class="child" id="box4">
            <button (click)="openDialogue(4)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
            <button type="button" class="btn btn-lg viewText">
                <strong *ngIf="editservice.numLabel==1"><a id="color"
                        routerLink="create-memorial">{{respo4?.en}}</a></strong>
                <strong *ngIf="editservice.numLabel==2"><a id="color"
                        routerLink="create-memorial">{{respo4?.de}}</a></strong>
                <strong *ngIf="editservice.numLabel==3"><a id="color"
                        routerLink="create-memorial">{{respo4?.fr}}</a></strong>
            </button>
            <!-- Extra code for div -->
            <li *ngIf="showNewDiv==4 && isvalid" style="position: absolute; margin-top: 25px;">
                <div class="forDiv" style="margin-top: 96%; right: 23%;">
                    <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                    <form class="example-form" #regForm2="ngForm">
                        <mat-form-field class="example-full-width" style="display: none;">
                            <mat-label>id</mat-label>
                            <textarea matInput name="id" [(ngModel)]="respo4.id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width englishLng">
                            <mat-label>English</mat-label>
                            <textarea matInput name="en" [(ngModel)]="respo4.en"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>German</mat-label>
                            <textarea matInput name="de" [(ngModel)]="respo4.de"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>French</mat-label>
                            <textarea matInput name="fr" [(ngModel)]="respo4.fr"></textarea>
                        </mat-form-field>
                    </form>
                    <button (click)="postEditData(regForm2);openDialogue1();"
                        class="btn btn-outline-success">Save</button>
                </div>
            </li>
            <button type="button" class="btn btn-lg ml-2 viewText1">
                <strong *ngIf="editservice.numLabel==1"><a id="color">{{respo5?.en}}</a></strong>
                <strong *ngIf="editservice.numLabel==2"><a id="color">{{respo5?.de}}</a></strong>
                <strong *ngIf="editservice.numLabel==3"><a id="color">{{respo5?.fr}}</a></strong>
            </button>
            <button (click)="openDialogue(5)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
            <!-- Extra code for div -->
            <li *ngIf="showNewDiv==5 && isvalid" style="position: absolute; margin-top: 25px;">
                <div class="forDiv" style="left: 25%; margin-top: 98%;">
                    <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                    <form class="example-form" #regForm2="ngForm">
                        <mat-form-field class="example-full-width" style="display: none;">
                            <mat-label>id</mat-label>
                            <textarea matInput name="id" [(ngModel)]="respo5.id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width englishLng">
                            <mat-label>English</mat-label>
                            <textarea matInput name="en" [(ngModel)]="respo5.en"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>German</mat-label>
                            <textarea matInput name="de" [(ngModel)]="respo5.de"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>French</mat-label>
                            <textarea matInput name="fr" [(ngModel)]="respo5.fr"></textarea>
                        </mat-form-field>
                    </form>
                    <button (click)="postEditData(regForm2);openDialogue1();"
                        class="btn btn-outline-success">Save</button>
                </div>
            </li>
        </div>
    </div>
    <form #myForm1="ngForm">
        <div class="find d-flex justify-content-center">
            <div class="input-group" style="height: 31px; width: 42%;">
                <input type="text" class="form-control input-lg cityInput" name="searchText" ngModel
                    [(ngModel)]="searchText" *ngIf="editservice.numLabel==1" placeholder={{respo9?.en}}>
                <input type="text" class="form-control input-lg cityInput" name="searchText" ngModel
                    [(ngModel)]="searchText" *ngIf="editservice.numLabel==2" placeholder={{respo9?.de}}>
                <input type="text" class="form-control input-lg cityInput" name="searchText" ngModel
                    [(ngModel)]="searchText" *ngIf="editservice.numLabel==3" placeholder={{respo9?.fr}}>

                <div class="input-group-append">
                    <button (click)="searchMemorialCity(myForm1)" class="btn btn-lg cityBtn" type="submit">
                        <img src="../../../assets/StaticAssets/Home page/search-1.png">
                    </button>
                </div>
                <button (click)="openDialogue(9)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
            </div>
        </div>
    </form>
    <!-- Extra code for div -->
    <li *ngIf="showNewDiv==9 && isvalid" style="position: absolute; margin-top: 25px;">
        <div class="forDiv" id="headerLabelNew">
            <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
            <form class="example-form" #regForm2="ngForm">
                <mat-form-field class="example-full-width" style="display: none;">
                    <mat-label>id</mat-label>
                    <textarea matInput name="id" [(ngModel)]="respo9.id"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width englishLng">
                    <mat-label>English</mat-label>
                    <textarea matInput name="en" [(ngModel)]="respo9.en"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>German</mat-label>
                    <textarea matInput name="de" [(ngModel)]="respo9.de"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>French</mat-label>
                    <textarea matInput name="fr" [(ngModel)]="respo9.fr"></textarea>
                </mat-form-field>
            </form>
            <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
        </div>
    </li>
</header>
<br>
<br>
<br>
<div *ngIf="!searchResult">
    <button (click)="openDialogue(6)" style="right: 42%;" *ngIf="loginservice.isVisible"
        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
    <h5 style="text-align: center">
        <strong class="featuredMemorialFont" *ngIf="editservice.numLabel==1">{{respo6?.en}}</strong>
        <strong class="featuredMemorialFont" *ngIf="editservice.numLabel==2">{{respo6?.de}}</strong>
        <strong class="featuredMemorialFont" *ngIf="editservice.numLabel==3">{{respo6?.fr}}</strong>
    </h5>
    <!-- Extra code for div -->
    <li *ngIf="showNewDiv==6 && isvalid" style="position: absolute; margin-top: 25px;">
        <div class="forDiv" id="headerLabel1">
            <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
            <form class="example-form" #regForm2="ngForm">
                <mat-form-field class="example-full-width" style="display: none;">
                    <mat-label>id</mat-label>
                    <textarea matInput name="id" [(ngModel)]="respo6.id"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width englishLng">
                    <mat-label>English</mat-label>
                    <textarea matInput name="en" [(ngModel)]="respo6.en"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>German</mat-label>
                    <textarea matInput name="de" [(ngModel)]="respo6.de"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>French</mat-label>
                    <textarea matInput name="fr" [(ngModel)]="respo6.fr"></textarea>
                </mat-form-field>
            </form>
            <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
        </div>
    </li>
    <div class="container2">
        <div class="memorial" style="cursor: pointer;" (click)="recentMemorialGrabId(data.grab_id,data.user_id)"
            *ngFor="let data of memorialData "
            [ngStyle]="{'background-image': 'url(' + data.grab_image + ')','background-size':'cover'}">
            <div class="year">
                <h6>
                    <p><small>{{data.age}} Y<br> old</small></p>
                </h6>
            </div>
        </div>
        <div class="second text-align-center w-100">
            <button type="button" class="btn btn-lg mb-5 createBtnNew">
                <strong routerLink="/create-memorial" *ngIf="editservice.numLabel==1">{{respo7?.en}}</strong>
                <strong routerLink="/create-memorial" *ngIf="editservice.numLabel==2">{{respo7?.de}}</strong>
                <strong routerLink="/create-memorial" *ngIf="editservice.numLabel==3">{{respo7?.fr}}</strong>
            </button>
            <button (click)="openDialogue(7)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
            <!-- Extra code for div -->
            <li *ngIf="showNewDiv==7 && isvalid" style="position: absolute; margin-top: 25px;">
                <div class="forDiv" style="right: 25%; margin-top: 100%;">
                    <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                    <form class="example-form" #regForm2="ngForm">
                        <mat-form-field class="example-full-width" style="display: none;">
                            <mat-label>id</mat-label>
                            <textarea matInput name="id" [(ngModel)]="respo7.id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width englishLng">
                            <mat-label>English</mat-label>
                            <textarea matInput name="en" [(ngModel)]="respo7.en"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>German</mat-label>
                            <textarea matInput name="de" [(ngModel)]="respo7.de"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>French</mat-label>
                            <textarea matInput name="fr" [(ngModel)]="respo7.fr"></textarea>
                        </mat-form-field>
                    </form>
                    <button (click)="postEditData(regForm2);openDialogue1();"
                        class="btn btn-outline-success">Save</button>
                </div>
            </li>
        </div>
    </div>
</div>
<div *ngIf="searchResult" class="searchHgt mb-5 container-fluid">
    <!-- <div style="float: right;"  class="btn btn-outline-danger align-self-end mb-1">X</div> -->
    <div class="row mb-5 searchMemories">
        <div class="col-3 filterDiv">
            <button (click)="openDialogue(10)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
            <div class="filterText" *ngIf="editservice.numLabel==1">{{respo10?.en}}</div>
            <div class="filterText" *ngIf="editservice.numLabel==2">{{respo10?.de}}</div>
            <div class="filterText" *ngIf="editservice.numLabel==3">{{respo10?.fr}}</div>
            <div class="pt-4">
                <button (click)="openDialogue(11)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                <label class="ageLable" *ngIf="editservice.numLabel==1">{{respo11?.en}}</label>
                <label class="ageLable" *ngIf="editservice.numLabel==2">{{respo11?.de}}</label>
                <label class="ageLable" *ngIf="editservice.numLabel==3">{{respo11?.fr}}</label>
            </div>
            <div class="custom-slider">
                <ngx-slider [(value)]="value" [(highValue)]="highValue" (userChange)="getEvent($event);"
                    [options]="options"></ngx-slider>
            </div>
            <div class="pt-4">
                <button (click)="openDialogue(12)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                <label class="ageLable" *ngIf="editservice.numLabel==1">{{respo12?.en}}</label>
                <label class="ageLable" *ngIf="editservice.numLabel==2">{{respo12?.de}}</label>
                <label class="ageLable" *ngIf="editservice.numLabel==3">{{respo12?.fr}}</label>
            </div>
            <div>
                <div class="custom-slider">
                    <ngx-slider [(value)]="value1" [(highValue)]="highValue1" (userChange)="getEvent1($event);"
                        [options]="options1"></ngx-slider>
                </div>
            </div>
            <div class="pt-4">
                <button (click)="openDialogue(13)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                <label class="ageLable" *ngIf="editservice.numLabel==1">{{respo13?.en}}</label>
                <label class="ageLable" *ngIf="editservice.numLabel==2">{{respo13?.de}}</label>
                <label class="ageLable" *ngIf="editservice.numLabel==3">{{respo13?.fr}}</label>
            </div>
            <div class="datePickerCss">
                <mat-form-field class="tabWidth">
                    <input matInput [matDatepicker]="picker" [max]="maxDate" name="DOB" #DOB="ngModel"
                        placeholder="MM/DD/YYYY" required [(ngModel)]="dateSlider" (ngModelChange)="getEvent2($event)"
                        ngModel readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker" style="color: #CF6363;">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="pt-4">
                <button (click)="openDialogue(14)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                <label class="ageLable" *ngIf="editservice.numLabel==1">{{respo14?.en}}</label>
                <label class="ageLable" *ngIf="editservice.numLabel==2">{{respo14?.de}}</label>
                <label class="ageLable" *ngIf="editservice.numLabel==3">{{respo14?.fr}}</label>
            </div>
            <div class="datePickerCss">
                <mat-form-field class="tabWidth">
                    <input matInput [matDatepicker]="picker1" [max]="maxDate" name="DOD" #DOD="ngModel"
                        placeholder="MM/DD/YYYY" required [(ngModel)]="dateSlider1" (ngModelChange)="getEvent3($event)"
                        ngModel readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1" style="color: #CF6363;">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="pt-4">
                <button (click)="openDialogue(15)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                <label class="ageLable" *ngIf="editservice.numLabel==1">{{respo15?.en}}</label>
                <label class="ageLable" *ngIf="editservice.numLabel==2">{{respo15?.de}}</label>
                <label class="ageLable" *ngIf="editservice.numLabel==3">{{respo15?.fr}}</label>
            </div>
            <div class="inputWidth">
                <input type="text" *ngIf="editservice.numLabel==1" maxlength="25" [(ngModel)]="userBirthLocation"
                    (ngModelChange)="getEvent4($event)" class="form-control shadow bg-body rounded"
                    placeholder={{respo15?.en}} ngModel>
                <input type="text" *ngIf="editservice.numLabel==2" maxlength="25" [(ngModel)]="userBirthLocation"
                    (ngModelChange)="getEvent4($event)" class="form-control shadow bg-body rounded"
                    placeholder={{respo15?.de}} ngModel>
                <input type="text" *ngIf="editservice.numLabel==3" maxlength="25" [(ngModel)]="userBirthLocation"
                    (ngModelChange)="getEvent4($event)" class="form-control shadow bg-body rounded"
                    placeholder={{respo15?.fr}} ngModel>
            </div>
            <div class="pt-4">
                <button (click)="openDialogue(16)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" alt=""></span></button>
                <label class="ageLable" *ngIf="editservice.numLabel==1">{{respo16?.en}}</label>
                <label class="ageLable" *ngIf="editservice.numLabel==2">{{respo16?.de}}</label>
                <label class="ageLable" *ngIf="editservice.numLabel==3">{{respo16?.fr}}</label>
            </div>
            <div class="inputWidth">
                <input type="text" *ngIf="editservice.numLabel==1" maxlength="25" [(ngModel)]="userDeathLocation"
                    (ngModelChange)="getEvent5($event)" class="form-control shadow bg-body rounded"
                    placeholder={{respo16?.en}} ngModel>
                <input type="text" *ngIf="editservice.numLabel==2" maxlength="25" [(ngModel)]="userDeathLocation"
                    (ngModelChange)="getEvent5($event)" class="form-control shadow bg-body rounded"
                    placeholder={{respo16?.de}} ngModel>
                <input type="text" *ngIf="editservice.numLabel==3" maxlength="25" [(ngModel)]="userDeathLocation"
                    (ngModelChange)="getEvent5($event)" class="form-control shadow bg-body rounded"
                    placeholder={{respo16?.fr}} ngModel>
            </div>
        </div>
        <!-- Extra code for div -->
        <li *ngIf="showNewDiv==10 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="headerSearchLable">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo10.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo10.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo10.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo10.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>

        <!-- Extra code for div -->
        <li *ngIf="showNewDiv==11 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="headerSearchLable1">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo11.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo11.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo11.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo11.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>
        <!-- Extra code for div -->
        <li *ngIf="showNewDiv==12 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="headerSearchLable2">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo12.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo12.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo12.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo12.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>
        <!-- Extra code for div -->
        <li *ngIf="showNewDiv==13 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="headerSearchLable3">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo13.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo13.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo13.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo13.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>
        <!-- Extra code for div -->
        <li *ngIf="showNewDiv==14 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="headerSearchLable4">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo14.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo14.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo14.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo14.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>
        <!-- Extra code for div -->
        <li *ngIf="showNewDiv==15 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="headerSearchLable5">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo15.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo15.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo15.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo15.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>
        <!-- Extra code for div -->
        <li *ngIf="showNewDiv==16 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="headerSearchLable6">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo16.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo16.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>German</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo16.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>French</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo16.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>
        <div class="col-9 example-viewport1">
            <button (click)="divHide()" class="btn btn-sm mb-1 closeBtn"><img class="crossImg"
                    src="../../../assets/StaticAssets/Home page/211650_close_circled_icon 1 (1).png" alt=""></button>
            <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
                <div class="searchImg">
                    <div *cdkVirtualFor="let search of dataSearch2"
                        (click)="seachByCityMemorial(search.grab_id,search.user_id)" class="inputHeightWidth">
                        <div>
                            <img class="searchImg1" [src]="search?.path" alt="">
                        </div>
                        <div class="searchName">
                            <span>{{search.fname}}</span>&nbsp;<span>{{search.lname}}</span>
                        </div>
                        <div class="searchCandel">
                            <span>
                                <img src="../../../assets/StaticAssets/Home page/eye.png" alt="">&nbsp;<span
                                    class="searchValue">{{search.total_candles}}</span>
                            </span>
                            &nbsp;
                            <span>
                                <img src="../../../assets/StaticAssets/Home page/candle.png" alt="">&nbsp;<span
                                    class="searchValue">{{search.total_candles}}</span>
                            </span>
                            &nbsp;
                            <span>
                                <img src="../../../assets/StaticAssets/Home page/google-docs.png" alt="">&nbsp;<span
                                    class="searchValue">{{search.total_kondolenz}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>
</div>