<header class="flex flex-col my-auto items-center bgimg bg-cover py-20">
    <app-navbar></app-navbar>

    <div class="container">
        <div class="child h-auto">
            <h5 style="color:#ce1414">
                <strong>USE FOR FREE 24h/day</strong>
            </h5>
        </div>
        <div class="child text-center text-secondary">
            <h1><strong>KEEPING MEMORIES ALIVE</strong></h1>
        </div>
        <div class="child text-center w-50" id="box3">
            <p>
                <small>
                        <strong>soulium.com</strong> the virtual cemetery. Here, you can create memorable sites for your loved ones free of charge, which will continue to live in your memory forever. You can also mourn together with us and exchange with other people
                </small>
            </p>
            <!-- <h6>soulium.com the virtual cemetery. Here, you can create memorable sites for your loved ones free of charge, which will continue to live in your memory forever. You can also mourn together with us and  exchange with other people</h6> -->
        </div>
        <div class="child" id="box4">
            <button type="button"  class="btn btn-danger btn-lg">
                <strong><a id="color" routerLink="create-memorial">Create Memorial</a></strong>
            </button>
            <button type="button" class="btn btn-success btn-lg">
                <strong>View an Example</strong>
            </button>
        </div>



    </div>

    <div class="find d-flex justify-content-center">
        <div class="input-group w-50" style="height: 20px">
            <input type="text" class="form-control input-lg " style="border-radius: 30px 0 0 30px" placeholder="Find a Memorial...">
            <div class="input-group-append">
                <button class="btn btn-lg " style="background-color: #f87171;border-radius: 0px 50% 50% 0 " type="submit">
                    <img src="../../../assets/StaticAssets/Home page/search-1.png">
                </button>
            </div>
        </div>

    </div>


















    <!-- <div class="flex flex-col my-auto items-center bgimg bg-cover homepage-banner py-20">
        <div class="w-10/12 md:w-4/12 grid grid-cols-1 md:mt-20 mt-40 text-center">
            <h5 class="font-medium my-3 md:text-lg text-md">USE FOR FREE 24h/day</h5>
            <h2 class="text-gray-600 md:text-4xl text-2xl uppercase font-extrabold"><strong>KEEPING MEMORIES ALIVE</strong></h2>
            <div>
                <h6 class="font-light text-sm text-black my-4">soulium.com the virtual cemetery. Here, you can create memorable sites for your loved ones free of charge, which will continue to live in your memory forever. You can also mourn together with us and exchange with other people</h6>
                <div class="flex flex-col my-5">
                    <div class="grid grid-cols-2">
                            <a href="/create-memorial"
                            class="font-bold md:text-md text-sm bg-red-400 text-white px-1 py-2 rounded md:mx-5 mx:2 uppercase">
                            create memorial
                            </a>
                            <a href="/create-memorial"
                            class="font-bold md:text-md text-sm bg-green-600 text-white px-1 py-2 rounded md:mx-5 mx-2 uppercase">
                            view an example
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</header>


<!-- 
<app-navbar></app-navbar> -->