<header class="flex flex-col my-auto items-center bgimg bg-cover py-20">
    <app-navbar></app-navbar>

    <div class="container">
        <div class="child h-auto">
            <h5 style="color:#ce1414">
                <strong>USE FOR FREE 24h/day</strong>
            </h5>
        </div>
        <div class="child text-center text-secondary">
            <h1><strong>KEEPING MEMORIES ALIVE</strong></h1>
        </div>
        <div class="child text-center w-50" id="box3">
            <p>
                <small>
                    <strong>soulium.com</strong> the virtual cemetery. Here, you can create memorable sites for your
                    loved ones free of charge, which will continue to live in your memory forever. You can also mourn
                    together with us and exchange with other people
                </small>
            </p>
            <!-- <h6>soulium.com the virtual cemetery. Here, you can create memorable sites for your loved ones free of charge, which will continue to live in your memory forever. You can also mourn together with us and  exchange with other people</h6> -->
        </div>
        <div class="child" id="box4">
            <button type="button" class="btn btn-danger btn-lg">
                <strong><a id="color" routerLink="create-memorial">Create Memorial</a></strong>
            </button>
            <button type="button" class="btn btn-success btn-lg">
                <strong>View an Example</strong>
            </button>
        </div>



    </div>
    <form #myForm1="ngForm">
        <div class="find d-flex justify-content-center">
            <div class="input-group w-50" style="height: 20px">
                <input type="text" class="form-control input-lg " name="searchText" ngModel #searchText="ngModel"
                    style="border-radius: 30px 0 0 30px" placeholder="Find a Memorial...">
                <div class="input-group-append">
                    <button (click)="searchMemorialCity(myForm1)" class="btn btn-lg "
                        style="background-color: #f87171;border-radius: 0px 50% 50% 0 " type="submit">
                        <img src="../../../assets/StaticAssets/Home page/search-1.png">
                    </button>
                </div>
            </div>

        </div>
    </form>






















    <!-- <div class="flex flex-col my-auto items-center bgimg bg-cover homepage-banner py-20">
        <div class="w-10/12 md:w-4/12 grid grid-cols-1 md:mt-20 mt-40 text-center">
            <h5 class="font-medium my-3 md:text-lg text-md">USE FOR FREE 24h/day</h5>
            <h2 class="text-gray-600 md:text-4xl text-2xl uppercase font-extrabold"><strong>KEEPING MEMORIES ALIVE</strong></h2>
            <div>
                <h6 class="font-light text-sm text-black my-4">soulium.com the virtual cemetery. Here, you can create memorable sites for your loved ones free of charge, which will continue to live in your memory forever. You can also mourn together with us and exchange with other people</h6>
                <div class="flex flex-col my-5">
                    <div class="grid grid-cols-2">
                            <a href="/create-memorial"
                            class="font-bold md:text-md text-sm bg-red-400 text-white px-1 py-2 rounded md:mx-5 mx:2 uppercase">
                            create memorial
                            </a>
                            <a href="/create-memorial"
                            class="font-bold md:text-md text-sm bg-green-600 text-white px-1 py-2 rounded md:mx-5 mx-2 uppercase">
                            view an example
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</header>

<br>
<br>
<br>

<div *ngIf="!searchResult">
    <h5 style="text-align: center">
        <strong>Featured Memorial</strong>
    </h5>
    <div class="container2">
        <div class="memorial" *ngFor="let data of memorialData "
            [ngStyle]="{'background-image': 'url(' + data.grab_image + ')','background-size':'cover'}">
            <div class="year">
                <h6>
                    <p><small>{{data.age}} Y<br> old</small></p>
                </h6>
            </div>
        </div>

        <div class="second text-align-center pt-3 w-100">

            <button type="button" class="btn btn-danger ">
                <strong routerLink="/create-memorial">CREATE MEMORIAL</strong>
            </button>

        </div>

    </div>
</div>
<div *ngIf="searchResult" class="searchHgt mb-5">
    <div class="row">
        <div class="col-4" style="text-align: center; margin-top: 30px;">
            <div>
                <label>Age</label>
            </div>
            <!-- <div>
                <input type="range" min="0" max="100"  style="width: 200px;">
            </div>
            <div>
                <input type="text" [(ngModel)]="ageSearch" >
            </div> -->


            <span>0</span>
            <input type="range" min="0" max="100" [(ngModel)]="sliderValue" />
            <span>100</span>
<!-- 
            <mat-slider thumbLabel [displayWith]="formatLabel" [(ngModel)]="sliderValue" tickInterval="1000" step="1000" min="0" max="100000"
                aria-label="units"></mat-slider> -->



        </div>
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
            <div class="col-8 searchImg">
                <div *cdkVirtualFor="let search of dataSearch1 | filter: sliderValue">{{dataSearch1.age}}
                    <div>
                        <img class="searchImg1" [src]="search.path" alt="">
                    </div>
                    <div class="searchName">
                        <span>{{search.fname}}</span>&nbsp;<span>{{search.lname}}</span>
                    </div>
                    <div class="searchCandel">
                        <span>
                            <img src="../../../assets/StaticAssets/Home page/eye.png" alt=""><span
                                class="searchValue">{{search.total_candles}}</span>
                        </span>
                        &nbsp;
                        <span>
                            <img src="../../../assets/StaticAssets/Home page/candle.png" alt=""><span
                                class="searchValue">{{search.total_candles}}</span>
                        </span>
                        &nbsp;
                        <span>
                            <img src="../../../assets/StaticAssets/Home page/google-docs.png" alt=""><span
                                class="searchValue">{{search.total_kondolenz}}</span>
                        </span>
                    </div>
                </div>

            </div>
        </cdk-virtual-scroll-viewport>
    </div>

</div>


<!-- 
<app-navbar></app-navbar> -->