<app-navbar></app-navbar>

<div class="thank pt-3">
    <h6><strong>WELCOME TO SOULIUM</strong></h6>
    <h1><strong>Thank you for registering</strong></h1>
    <br>
    <!-- <br> -->
    <small><strong><u>Please check your email and conform account</u></strong></small>
    <!-- <img src="../../../assets/StaticAssets/Create memorial/thank you page/565656565.png"> -->
    <div class="pt-4 thankYouImg">
        <img [src]="service.saveCanvas">
    </div>
</div>

<!-- second part -->

<div class="createPreMem p-2">
    <div class="box1">
        <img src="../../../assets/StaticAssets/Create memorial/thank you page/diamond.png">
        <h1><strong>Create Premium Memorial</strong></h1>
        <span>Beside our free basic acess,we offer you a so-called premium membership with extended capabilities</span>
    </div>

    <div class="box2">
        <div class="specification">
            <img class="me-2" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
            <span id="m">All your memorial pages are free of advertising,for you and all your guests, <br> when you are
                looged
                in!</span>
        </div>
        <div class="specification">
            <img class="me-2" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
            <span>More memorial canddles and recive message of condolence.</span>
        </div>
        <div class="specification">
            <img class="me-2" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
            <span>Vertually none size limitation while providing your own photos.</span>
        </div>
        <div class="specification">
            <img class="me-2" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
            <span>Use up to 400 seperate images when desinging your memorial!!</span>
        </div>
        <div class="specification">
            <img class="me-2" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
            <span>use p to 400 images when designing your mwmorial</span>
        </div>
        <div class="specification">
            <img class="me-2" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
            <span>All guests visit your memorial also without advertisement</span>
        </div>
        <div class="specification">
            <img class="me-2" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
            <span>No advertisement at all after login </span>
        </div>
        <div class="specification">
            <img class="me-2" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
            <span>Almost no size limitation while providing your own images</span>
        </div>
        <div class="specification">
            <img class="me-2" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
            <span>Automatic Benifit of extensions which we impleent in the future</span>
        </div>
    </div>



</div>

<div class="price">
    <h1><strong>23,99&#x20AC; each year </strong></h1>
    <button class="btn btn-success btn-lg ps-5 pe-5 pt-3 pb-3"><strong>
            <h4>BUY PREMIUM</h4>
        </strong></button>
</div>
<app-footer></app-footer>