<div>
    <div class="navPadding">
        <app-navbar></app-navbar>
    </div>
    <div class="d-flex w-100 tab justify-content-center align-items-center">

    </div>
</div>


<div class="thank pt-5">
    <h6>
        <button (click)="openDialogue(1)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>

        <strong *ngIf="editservice.numLabel==1">{{respo1?.en}}</strong>
        <strong *ngIf="editservice.numLabel==2">{{respo1?.de}}</strong>
        <strong *ngIf="editservice.numLabel==3">{{respo1?.fr}}</strong>


    </h6>
    <h1 *ngIf="!loginservice.islogin">
        <button (click)="openDialogue(2)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>

        <strong class="userLoginText" *ngIf="editservice.numLabel==1">{{respo2?.en}}</strong>
        <strong class="userLoginText" *ngIf="editservice.numLabel==2">{{respo2?.de}}</strong>
        <strong class="userLoginText" *ngIf="editservice.numLabel==3">{{respo2?.fr}}</strong>

    </h1>
    <h1>
        <strong *ngIf="loginservice.islogin">Thank You for Creating Memorial.</strong>
    </h1>
    <br>
    <!-- <br> -->
    <small>
        <button (click)="openDialogue(3)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>
        <strong class="loginTextFont" *ngIf="editservice.numLabel==1"><u>{{respo3?.en}}</u></strong>
        <strong class="loginTextFont" *ngIf="editservice.numLabel==2"><u>{{respo3?.de}}</u></strong>
        <strong class="loginTextFont" *ngIf="editservice.numLabel==3"><u>{{respo3?.fr}}</u></strong>


    </small>
    <!-- <img src="../../../assets/StaticAssets/Create memorial/thank you page/565656565.png"> -->
    <div class="pt-4 thankYouImg">
        <img [src]="service.saveCanvas">
    </div>
</div>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==1 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss1">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo1.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo1.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>dutch</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo1.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>french</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo1.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==2 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss2">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo2.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo2.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>dutch</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo2.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>french</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo2.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==3 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss3">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo3.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo3.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>dutch</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo3.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>french</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo3.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<div>
    <app-create-premiun-mem></app-create-premiun-mem>
</div>

<app-footer></app-footer>