@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

/* css for labels */
.forButton {
    position: relative;
    /* z-index: 10; */
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207, 99, 99, 0.2);
    opacity: 0.7;
}

/* For div css */
.forDiv {
    position: relative;
    z-index: 10;
    color: black;
    /* border: 1px dotted tomato; */
    text-align: center;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 300px;
    font-size: 1rem;
    background-color: #F8F8F8;
}

.englishLng {
    padding-top: 15%;
    padding-left: 2%;
    margin-left: 12%;
}

#tombstonMemoCss {
    right: 10%;
}

#personMemoCss {
    right: 10%;
}

#personMemoCss1 {
    right: 20%;
}

#step3LabelCss1 {
    right: 55%;
}

#createMemoDivCss1 {
    left: 168%;
}

#createMemoDivCss2 {
    left: 24%;
    margin-top: -2%;
}

#createMemoDivCss3 {
    margin-top: -134%;
    left: 74%;
}

#createMemoDivCss4 {
    left: 69%;
    margin-top: -134%;
}

#createMemoDivCss5 {
    margin-top: -102%;
    left: 74%;
}

#createMemoDivCss6 {
    left: 70%;
    margin-top: -102%;
}

#createMemoDivCss7 {
    margin-top: -69%;
    left: 68%;
}

#createMemoDivCss8 {
    margin-top: -43%;
    left: 73%;
}

#createMemoDivCss9 {
    margin-top: -42%;
    left: 68%;
}

#createMemoDivCss10 {
    margin-top: 7%;
    right: 6%;
}

#createMemoDivCss11 {
    left: 111%;
    margin-top: 8%;
}

#createMemoDivCss12 {
    margin-top: -19%;
    right: 2%;
}

#createMemoDivCss13 {
    left: 88%;
}

#createMemoDivCss14 {
    margin-top: 46%;
    right: 44%;
}

#createMemoDivCss15 {
    margin-top: -47%;
    left: 177%;
}

#createMemoDivCss16 {
    margin-top: -31%;
    left: 113%;
}

#createMemoDivCss17 {
    left: 49%;
    margin-top: -131%;
}

#createMemoDivCss18 {
    left: 111%;
    margin-top: -131%;
}

#createMemoDivCss19 {
    left: 166%;
    margin-top: -131%;
}

/* for step-3 */
#createMemoDivCss20 {
    left: 72%;
    margin-top: -16%;
}

#createMemoDivCss21 {
    left: 74%;
    margin-top: -18%;
}

#createMemoDivCss22 {
    left: 79%;
    margin-top: -40%;
}

#createMemoDivCss23 {
    margin-top: -244%;
    left: 80%;
}

#createMemoDivCss24 {
    left: 81%;
    margin-top: -244%;
}

#createMemoDivCss25 {
    margin-top: -211%;
    left: 80%;
}

#createMemoDivCss26 {
    margin-top: -211%;
    left: 80%;
}

#createMemoDivCss27 {
    margin-top: -179%;
    left: 80%;
}

#createMemoDivCss28 {
    margin-top: -156%;
    left: 80%;
}

#createMemoDivCss29 {
    margin-top: -139%;
    left: 80%;
}

#createMemoDivCss30 {
    margin-top: -139%;
    left: 80%;
}

#createMemoDivCss31 {
    margin-top: -105%;
    left: 80%;
}

#createMemoDivCss32 {
    margin-top: -73%;
    left: 80%;

}

#createMemoDivCss33 {
    margin-top: -40%;
    left: 80%;
}

#createMemoDivCss34 {
    margin-top: -16%;
    left: 56%;
}

#createMemoDivCss35 {
    margin-top: 7%;
    left: 317%;
}

#createMemoDivCss36 {
    margin-top: 18%;
    left: 317%;
}

#createMemoDivCss37 {
    margin-top: 46%;
    left: 317%;
}

#createMemoDivCss38 {
    margin-top: 57%;
    left: 317%;
}

#createMemoDivCss39 {
    margin-top: 86%;
    left: 280%;
}

#createMemoDivCss40 {
    margin-top: 95%;
    left: 280%;
}

#createMemoDivCss41 {
    margin-top: 120%;
    left: 316%;
}

#createMemoDivCss42 {
    margin-top: 130%;
    left: 316%;
}

#createMemoDivCss43 {
    margin-top: 162%;
    left: 286%;
}

#createMemoDivCss44 {
    margin-top: 204%;
    left: 169%;
}

#createMemoDivCss45 {
    margin-top: -133%;
    right: -146%;
}

#createMemoDivCssNew {
    left: 272%;
    top: -10px;
}

.navPadding {
    background-color: #F8F8F8;
    max-height: 21%;
}

.createMemorialText {
    font-size: 2rem;
    font-weight: 600;
}

.freeAndDigni {
    color: #5D5959;
    font-size: 1rem;
}

.freeAndDignified {
    top: -60px;
    right: 17%;
}

.create-memorial {
    /* display: flex; */
    width: 100%;
    height: auto;
    justify-content: flex-start;
    flex-direction: column;
}

#tombstoneSize {
    height: 147px;
    width: 153px;
}

.indicationPerTomb {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.indicationPerTomb small {
    color: darkgray;
}

.tab {
    padding: 20px 0px;
    color: #CF6363;
    background-color: #EEE6DD;
    text-align: center;
}

.tab2 {
    height: auto;
    float: left;
}

.steeper {
    height: 53px;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}

/* part 1 */
.content1 {
    display: flex;
    flex-direction: row;
}

.child {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.child img {
    height: 31px;
    width: 30px;
}

.form-one .heading {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.child2 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-pills .nav-link {
    color: green;
    cursor: pointer;
}

.nav-link img {
    height: 23px;
    width: 23px;
}

.nav-link {
    padding-top: 1%;
}

.tambstone {
    height: 100%;
    width: 100%;
    margin-top: 7%;
}

.carousel-indicators button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.carousel-control-next {
    position: absolute;
    top: 40%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 6%;
    height: 10%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.carousel-control-prev {
    position: absolute;
    top: 40%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 6%;
    height: 10%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.prev {
    height: 5%;
    width: 5%;
}

.show {
    border: 2px solid #CF6363;
}

.tambstone .carousel-item button {
    height: 45%;
    width: 32%;
}

.tambstone button img {
    height: 100%;
    width: 100%;
}

.checkimg {
    height: 17px;
    width: 17px;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    background-repeat: no-repeat;
    background-image: url("../../../assets/StaticAssets/Create memorial/step1/check (2).png");
    background-size: 17px;
    z-index: 9999;
    color: #CF6363;
    float: right;
}

.personCentric {
    height: 340px;
    width: 100%;
    background-image: url('../../../assets/StaticAssets/Create memorial/step1/user-portrait.png');
    background-repeat: no-repeat;
    background-position: center;
}

#photo {
    display: none;
}

.Photo {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

.userHeadingLogo {
    margin-top: 15px;
}

::placeholder {
    font-size: 0.75rem;
    color: black;
    opacity: 0.9;
}

.tombstoneText {
    margin-top: 3%;
    font-size: 0.9rem;
    /* color: #4BC252; */
}

.tombstoneText1 {
    margin-top: 2%;
    font-size: 0.9rem;
    /* color: black; */
}

.personCentricMemo {
    height: 23px;
    width: 23px;
}

.lovedPersonText {
    font-size: 0.9rem;
}

.emailText {
    font-size: 0.75rem;
    color: #B5B5B5;
    margin-top: 2%;
    margin-left: 4%;
}

.emailText1 {
    font-size: 0.7rem;
    color: #B5B5B5;
    margin-top: 1%;
}

.emailMarginText {
    margin-bottom: -3%;
}

.tearmMargin {
    font-size: 0.7rem;
    color: #5D5959;
    margin-top: -1%;
    opacity: 0.9;
}

.columnTwoHeaderText {
    font-size: 1.2rem;
    font-weight: 600;
    color: #CF6363;
}

/* Part 2  */
.content2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 60vw;
}

.box1 {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.canvas {
    border: 2px solid black;
    height: 100%;
    width: 100%;
}

.name {
    height: 10%;
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 45%;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 60px;
    width: 70px;
    background-image: url('../../../assets/StaticAssets/Create memorial/step2/add-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.box2 {
    /* background-color: #f87171;  */
    height: auto;
    width: 58%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.menu {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.submenu {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.submenu .candle {
    height: 100%;
    width: 14%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 0.75rem;
    cursor: pointer;
}

.SubmenuContent {
    height: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.canddles {
    height: 92px;
    width: 70px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: move;
}

.selected {
    border: 2px solid red;
}

.carousel-item.active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.form-group {
    width: 75%;
}

.URNS {
    height: 6rem;
    width: 6rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flowers {
    height: auto;
    width: 6rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-block: inherit;
}

.background {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.showbackground {
    height: 100px;
    width: 100px;
}

.vita {
    width: 100%;
    height: 75%;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
}

.video {
    width: 100%;
    height: 75%;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.video .addVideo {
    height: 60%;
    width: 30%;
    border: 2px solid gray;
    display: flex;
}

/* part 2 */
.content3 {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    font-family: 'Libre Franklin', sans-serif;
    justify-content: space-between;
}

.regForm {
    height: 100%;
    width: 45%;
}

.regForm h6 {
    color: #f87171;
}

.specification {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.spec {
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-wrap: break-word;
}

.subject {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.subject h5 {
    margin-bottom: 0%;
}

.preview {
    width: 80%;
    height: 35%;
}

.createBtn {
    width: 100%;
    height: 10%;
    align-self: center;
    display: flex;
    justify-content: center;
}

.createBtn button {
    width: 297px;
}

.registerBtnThirdStep {
    font-size: 1.2rem;
    background-color: #09AA13;
    color: white;
}

.nextBtn {
    width: 100%;
    height: 10%;
    display: flex;
}

.nextBtnStepFirst {
    background-color: #09AA13;
    color: white;
    font-size: 0.8rem;
    padding: 6px 30px;
}

.nextBtn1 {
    width: 100%;
    height: 10%;
    margin-top: 7%;
    align-self: center;
    display: flex;
    justify-content: center;
}

.nextBtnNew {
    background-color: #4Bc252;
    color: white;
    font-size: 0.8rem;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 3%;
    padding-right: 2%;
}

.nextBtnNew1 {
    background-color: #4Bc252;
    color: white;
    font-size: 1.2rem;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 3%;
    padding-right: 2%;
}

.container1 {
    position: relative;
    text-align: center;
    color: white;
    margin: 2% auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 480px;
    color: black;
    width: 14%;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 310px;
    color: black;
}

.bottom-right1 {
    position: absolute;
    bottom: 20px;
    right: 320px;
    color: black;
}

input.ng-touched.ng-invalid {
    border: 0.5px solid #FF5C5C;
}

.fireError {
    color: tomato;
    font-size: small;
}

#logo {
    width: "100px" !important;
    height: "100px" !important;
    margin-top: 3%;
}

.datePickerCss {
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: 5px 5px 10px 2px rgb(0, 0, 0, .2);
    font-size: 0.8rem;
}

.buttonNone {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 2%;
}

.buttonNone1 {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 2%;
    margin-left: 26%;
}

.stepThreeName {
    font-size: 0.85rem;
    color: #CF6363;
    font-weight: 600;
    opacity: 0.9;
}

.stepThreeHeading {
    font-size: 2.3rem;
    font-weight: 600;
    color: #6A6A6A;
}

.stepThreePara {
    margin-top: 4%;
    font-size: 0.8rem;
    color: #000000;
}

.formMargin {
    margin-top: -11%;
}

.columnTwoText {
    font-size: 0.75rem;
    color: #000000;
}

.columnTwoImageSize {
    height: 37px;
    margin-top: -7%;
    width: 38px;
}

.previewImage {
    width: 100%;
    height: 40%;
}

.rowTomb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.colTomb {
    width: 40%;
}

.colTomb a {
    padding: 8%;
}

.colPerson {
    width: 40%;
}

.colPerson a {
    padding: 8%;
}

.colButton {
    width: 20%;
}

.tombText {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 480px) {

    .content1 {
        flex-direction: column;
        display: block;
    }

    .child {
        display: block;
        width: 100%;
        height: auto;
    }

    .child2 {
        display: block;
        width: 100%;
        height: auto;
    }

    #imageMemorial img {
        height: 110px;
        width: 100%;
    }

    .centered {
        font-size: 0.6rem;
    }

    .bottom-left {
        bottom: 12px;
        left: 240px;
        font-size: 0.6rem;
    }

    .bottom-right1 {
        bottom: 12px;
        right: 250px;
        font-size: 0.6rem;
    }

    #rect {
        width: 100%;
        height: auto;
    }

    .nextBtn {
        align-items: center;
        justify-content: center;
        float: right;
    }

    .regForm {
        height: 100%;
        width: 100%;
    }

    .specification {
        height: 100%;
        width: 100%;
        display: flex;
    }

    #tombstoneSize {
        height: 125px;
        width: 125px;
    }
}

@media (min-width:481px) and (max-width:1024px) {
    #rect {
        width: 100%;
    }

    #tombstoneSize {
        height: 125px;
        width: 125px;
    }

    .tabWidth {
        width: 100%;
    }

    .child {
        display: block;
        width: 80%;
        height: auto;
    }

    .child2 {
        width: 100%;
        height: 300px;
    }

    .nextBtn {
        height: 34%;
    }

    .nextBtn1 {
        /* padding-top: 950px; */
    }

    #imageMemorial {
        font-size: 0.7rem;
    }

    #imageMemorial img {
        height: 130px;
        width: 100%;
    }

    .bottom-right {
        position: relative;
    }

    .centered {
        font-size: 1rem;
    }

    .bottom-left {
        bottom: 25px;
        left: 540px;
        font-size: 1rem;
    }

    .bottom-right1 {
        bottom: 25px;
        right: 550px;
        font-size: 1rem;
    }

    .regForm {
        height: 100%;
        width: 100%;
    }

    .specification {
        height: 100%;
        width: 100%;
        display: flex;
    }

    #createMemoDivCss1 {
        left: 66%;
    }

    #createMemoDivCss2 {
        left: 8%;
        margin-top: -2%;
    }

    #createMemoDivCss3 {
        margin-top: -134%;
        left: 36%;
    }

    #createMemoDivCss4 {
        left: 85%;
        margin-top: -134%;
    }

    #createMemoDivCss5 {
        margin-top: -102%;
        left: 35%;
    }

    #createMemoDivCss6 {
        left: 84%;
        margin-top: -102%;
    }

    #createMemoDivCss7 {
        margin-top: -69%;
        left: 83%;
    }

    #createMemoDivCss8 {
        margin-top: -43%;
        left: 36%;
    }

    #createMemoDivCss9 {
        margin-top: -42%;
        left: 83%;
    }

    #createMemoDivCss11 {
        left: 7%;
        margin-top: 22%;
    }

    #createMemoDivCss12 {
        margin-top: -24%;
        right: 39%;
    }

    #createMemoDivCss13 {
        left: -7%;
        margin-top: 32%;
    }

    #createMemoDivCss14 {
        margin-top: 33%;
        right: 44%;
    }

    #createMemoDivCss15 {
        margin-top: -145%;
        left: 76%;
    }

    #createMemoDivCss16 {
        margin-top: -31%;
        left: 113%;
    }

    #createMemoDivCss17 {
        left: 125%;
        margin-top: -131%;
    }

    #createMemoDivCss18 {
        left: 49%;
        margin-top: -131%;
    }

    #createMemoDivCss19 {
        left: 45%;
        margin-top: -131%;
    }

    /* for step-3 */
    #createMemoDivCss20 {
        left: 92%;
        margin-top: -16%;
    }

    #createMemoDivCss21 {
        left: 92%;
        margin-top: -18%;
    }

    #createMemoDivCss22 {
        left: 123%;
        margin-top: -40%;
    }

    #createMemoDivCss23 {
        margin-top: -244%;
        left: 102%;
    }

    #createMemoDivCss24 {
        left: 120%;
        margin-top: -244%;
    }

    #createMemoDivCss25 {
        margin-top: -211%;
        left: 102%;
    }

    #createMemoDivCss26 {
        margin-top: -211%;
        left: 120%;
    }

    #createMemoDivCss27 {
        margin-top: -179%;
        left: 120%;
    }

    #createMemoDivCss28 {
        margin-top: -156%;
        left: 120%;
    }

    #createMemoDivCss29 {
        margin-top: -139%;
        left: 102%;
    }

    #createMemoDivCss30 {
        margin-top: -139%;
        left: 120%;
    }

    #createMemoDivCss31 {
        margin-top: -105%;
        left: 120%;
    }

    #createMemoDivCss32 {
        margin-top: -73%;
        left: 120%;

    }

    #createMemoDivCss33 {
        margin-top: -40%;
        left: 120%;
    }

    #createMemoDivCss35 {
        margin-top: 327%;
        left: 62%;
    }

    #createMemoDivCss36 {
        margin-top: 337%;
        left: 62%;
    }

    #createMemoDivCss37 {
        margin-top: 362%;
        left: 75%;
    }

    #createMemoDivCss38 {
        margin-top: 369%;
        left: 75%;
    }

    #createMemoDivCss39 {
        margin-top: 396%;
        left: 117%;
    }

    #createMemoDivCss40 {
        margin-top: 408%;
        left: 117%;
    }

    #createMemoDivCss41 {
        margin-top: 432%;
        left: 62%;
    }

    #createMemoDivCss42 {
        margin-top: 440%;
        left: 62%;
    }

    #createMemoDivCss43 {
        margin-top: 465%;
        left: 80%;
    }

    #createMemoDivCss44 {
        margin-top: 490%;
        left: 69%;
    }

    #createMemoDivCss45 {
        margin-top: -133%;
        right: -46%;
    }
}

@media (min-width:781px) {
    #imageMemorial img {
        height: 180px;
        width: 100%;
    }
}

@media (min-width:980px) and (max-width:1197px) {
    .nextBtn1 {
        /* padding-top: 900px; */
    }

    .centered {
        font-size: 1rem;
    }

    .bottom-left {
        bottom: 25px;
        left: 480px;
        font-size: 1rem;
    }

    .bottom-right1 {
        bottom: 25px;
        right: 480px;
        font-size: 1rem;
    }
}

@media (min-width:992px) and (max-width:1197px) {
    .centered {
        font-size: 1rem;
    }

    .bottom-left {
        bottom: 25px;
        left: 600px;
        font-size: 1rem;
    }

    .bottom-right1 {
        bottom: 25px;
        right: 600px;
        font-size: 1rem;
    }

}

@media (min-width:1398px) {
    .centered {
        font-size: 1rem;
    }

    .centered2 {
        top: 44%;
        left: 50%;
    }

    .fontCenter {
        font-size: 1rem;
    }

    .bottom-left {
        bottom: 25px;
        left: 419px;
        font-size: 1rem;
    }

    .bottom-right1 {
        bottom: 25px;
        right: 422px;
        font-size: 1rem;
    }

    .userText {
        font-size: 1.5rem;
    }
}

@media (max-width:1199px) {
    .order2 {
        order: 2;
    }

    .order1 {
        order: 1;
    }

    .previewImage {
        height: 400px;
        width: 400px;
    }
}

@media (max-width:767px) {

    .carousel-inner {
        height: 157px !important;
    }

    .tambstone .carousel-item button {
        height: 45%;
        width: 50%;
    }

    .buttonNoneDiv {
        width: 23%;
        margin: 0px auto;
    }

    .colButton {
        width: 25%;
    }

    .colTomb {
        width: 44%;
    }

    .colTomb a {
        /* background-color: #09AA13; */
        text-align: center;
        padding: 25px 30px;
        border-radius: 15px;
        margin-bottom: 20px;
        /* color: #fff; */
        margin-right: 10px;
        min-height: 150px;
    }

    .activeTomb {
        background-color: #09AA13;
        color: #fff;
    }

    .colPerson {
        width: 44%;
    }

    .colPerson a {
        text-align: center;
        padding: 25px 30px;
        border-radius: 15px;
        margin-bottom: 20px;
        /* border: 1px solid gray; */
        /* color: gray; */
        min-height: 150px;
    }

    .activePerson {
        color: gray;
        border: 1px solid gray;
    }

    .tombImage {
        margin: 0px auto;
        display: block;
    }

    .nextBtn1 {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .previewImage {
        height: 300px;
        width: 300px;
    }
}