<div>
    <form class="row g-3 needs-validation" #regForm1="ngForm" novalidate>
        <div>
            <label for="Password">New Password:</label>
            <input type="password" autocomplete="off" name="pwd" #pwd="ngModel" ngModel [(ngModel)]="service.pwd"
                class="form-control shadow bg-body rounded" placeholder="Password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
            <small class="fireError" *ngIf="pwd.touched && !pwd.valid">Password Must contain at least
                one number and one uppercase and lowercase letter, and at least 8 or more characters</small>
        </div>
        
        <!-- for password -->

        <!-- #password="ngModel"
        [(ngModel)]="service.createMemorial.password"
        ngModel -->


        <div>
            <label for="confirm Password">Confirm Password:</label>
            <input type="password" autocomplete="off" name="pwd1" #pwd1="ngModel" [(ngModel)]="service.pwd1" ngModel
                validateEqual="pwd" class="form-control shadow bg-body rounded" placeholder="Confirm Password" required>



            <div class="fireError" *ngIf="pwd1.errors && (pwd1.touched || pwd1.dirty)">
                Please enter your valid password
            </div>

            <div class="fireError" *ngIf="service.pwd1 != service.pwd && (pwd1.touched || pwd1.dirty)">
                Please match your password
            </div>
        </div>
        <!-- for confirm password -->

        <!-- #password1="ngModel"
        [(ngModel)]="service.createMemorial.password1"
        ngModel -->


        <div>
            <mat-dialog-actions align="end">
                <button mat-button [mat-dialog-close]="true" cdkFocusInitial type="submit" (click)="register(regForm1)" routerLink="/login"
                    [disabled]="!regForm1.valid || service.pwd1 != service.pwd" class="btn btn-success btn-lg">
                    <strong>Save</strong>
                </button>
            </mat-dialog-actions>
        </div>

    </form>
</div>