@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

/* css for labels */
.forButton {
    position: relative;
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207, 99, 99, 0.2);
    opacity: 0.7;
}

/* For div css */
.forDiv {
    position: relative;
    z-index: 10;
    color: black;
    text-align: center;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 300px;
    font-size: 1rem;
    background-color: #F8F8F8;
}

.englishLng {
    padding-top: 15%;
    padding-left: 2%;
    margin-left: 12%;
}

#loginDiv1 {
    left: 67%;
    margin-top: -15%;
}

.fireError {
    color: tomato;
    font-size: small;
}

.forButtonSlide {
    right: 62%;
}

.forButtonSlide1 {
    right: 27%;
}

#forDivText {
    left: 70%;
    margin-top: -14%;
}

#forDivText1 {
    left: 144%;
    margin-top: -22%;
}

.form {
    height: 100%;
    width: 50%;

}

.form h6 {
    color: #CF6363;
    opacity: 0.9;
    font-weight: 500;
    font-size: 0.9rem;
}

.userLoginText {
    font-weight: 600;
    color: #5D5959;
}

.userLoginText1 {
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.8;
    color: black;
}

::placeholder {
    color: #B5B5B5;
    font-size: 0.9rem;
    opacity: 0.9;
    margin-left: 20px;
}

.fontSizeBtn {
    font-size: 0.97rem;
}

.loginBtn {
    background-color: #CF6363;
    color: white;
    font-size: 0.9;
    padding-left: 8%;
    padding-right: 8%;
    font-weight: 600;
}

#loginLabel1 {
    right: 64%;
}

.image {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    background-image: url('../../../../assets/StaticAssets/Login Page/46.png');
    background-repeat: no-repeat;
}

.image img {
    height: 130%;
    width: 100%;

    margin-top: -11%;

}

.marginImg {
    margin-top: -6%;
}

.showCase {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.navbarBackImg {
    background-image: url('../../../../assets/StaticAssets/Login Page/header.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 211px;
}

.login1 {
    font-family: 'Libre Franklin', sans-serif;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -1%;
}

.inputBox {
    margin-bottom: 9%;
}

.inputBox1 {
    margin-bottom: 4%;
}

@media (min-width:481px) and (max-width:780px) {}