/* css for labels */
.forButton{
    position: relative;
    /* z-index: 10; */
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207,99,99, 0.2);
    opacity: 0.7;
}

/* For div css */
.forDiv{
    position: relative;
    z-index: 10;
    /* border: 1px dotted tomato; */
    text-align: center;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 300px;
    background-color: #F8F8F8;
}
.englishLng{
    padding-top: 15%; 
    padding-left: 2%;
    margin-left: 12%;
}

#featureMemorialLabel1{
    margin-top: -17%;
    left: 160%;
}
#featureMemorialLabel2{
    right: 130%;
    margin-top: 112%;
}#featureMemorialLabel3{
    right: 78%;
    margin-top: 112%;
}#featureMemorialLabel4{
    right: 29%; 
    margin-top: 112%;
}#featureMemorialLabel5{
    left: 20%; 
    margin-top: 112%;
}#featureMemorialLabel6{
    left: 73%; 
    margin-top: 112%;
}
#featureMemorialLabel7{
    left: 167%; 
    margin-top: -21%;
}#featureMemorialLabel8{
    left: 326%; 
    margin-top: -11%;
}
#featureMemorialLabel9{
    left: 318%;
    margin-top:0%; 
}







.flex-main{
    display: flex;
    align-items: flex-start;
    max-height: auto;
    padding: 60px;
}


.box{
    margin-left: 5px;
    width: 144px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    text-align: center;
    flex-direction: column;
}

img{
    width: auto;
    height: 54px;
    margin-bottom: 10px;
}

span{
    font-size: .75rem;
    text-align: center;
}



/* css promerties of next tab */

.cemetry{
    /* background-image: url('https://h2913228.stratoserver.net/static/media/desktop.c844d5cf.png'); */
    background-image: url('../../../assets/StaticAssets/Home page/41729.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;    
    height:40vw;
    
}

.memory{
    background-image: url('https://h2913228.stratoserver.net/static/media/testimonial.eb559490.png');
    height: 16.6vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-position: center;
}
/* .vertualCemetry{
    width: 100%;
    height: auto;
} */
 .vertualCemetry{
    background-image: url("../../../assets/StaticAssets/Home page/41729.png");
    /* height:40vw;
    display: flex; */
    /* justify-content: center;
    flex-direction: column;
    flex-wrap: wrap; */
} 
.virtualHeading{
    padding-top: 6%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}
.virtualText{
    text-align: center;
}
.virtualBtn{
    text-align: right;
}
.virtualPara{
    margin-bottom: 0rem;
    font-size: 0.8rem;
    font-weight: 400;
}
.virtualLabel{
    float: right;
    color: tomato;
    font-weight: bold;
    background-color: white; 
    border: 1px solid white; 
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: 10px; 
    margin-right: 20px;
    padding: 0.4%;
    padding-right: 5%;
    padding-left: 5%;
}





/* -----CSS for dummy images------ */

.cemetryPhoto1{
    width: auto;
    height: auto;
    margin-top: 21%;
}
.cemetryPhoto2{
    width: auto;
    height: 54px;
    margin-top: 184px;
    margin-left: -44px;
}
/* .cemetryPhoto3{
    width: auto;
    height: auto;
    margin-left: 43%;
}
.cemetryPhoto4{
    width: auto;
    height: 54px;
    margin-top: -100px;
    margin-left: -44px;
}
.cemetryPhoto5{
    width: auto;
    height: auto;
    margin-top: -8%;
    margin-left: 311px;
}
.cemetryPhoto6{
    width: auto;
    height: 54px;
    margin-top: -210px;
    margin-left: -30px;
} */
/* .cemetryPhoto5{
    width: auto;
    height: auto;
    margin-top: 11%;
}
.cemetryPhoto6{
    width: auto;
    height: 54px;
    margin-top: 62px;
    margin-left: -44px;
} */






















/* ************  Responsive Content*********** */

@media (max-width:992px){
    .cemetry{
        background-position: 40%;
    }

    /* css for labels */

    #featureMemorialLabel1{
        margin-top: -17%;
        left: 47%;
    }
    #featureMemorialLabel2{
        right: 76%;
        margin-top: 80%;
    }#featureMemorialLabel3{
        right: 26%;
        margin-top: 78%;
    }#featureMemorialLabel4{
        left: 22%; 
        margin-top: 78%;
    }#featureMemorialLabel5{
        left: -55%; 
        margin-top: 140%;
    }#featureMemorialLabel6{
        left: -3%; 
        margin-top: 140%;
    }
    #featureMemorialLabel7{
        left: 7%; 
        margin-top: -21%;
    }#featureMemorialLabel8{
        left: 144%; 
        margin-top: -11%;
    }
    #featureMemorialLabel9{
        left: 136%;
        margin-top:0%; 
    }
    
    
}


@media (max-width:700px){
    .cemetry{
        background-position: 25%;
    }
}

@media (max-width:450px){
    .cemetry{
        background-position: 15%;
    }
}