
<h5 style="text-align: center  ;margin: 0; padding-top:25px;" class="bg-light" >
    <strong>Our Memorial Features</strong>
</h5>

<div class=" d-flex bg-light flex-main w-100 mb-3 justify-content-center" style="background-color: black">

    <div class=" w-75 h-75 d-flex flex-wrap justify-content-center align-items-center" >

         <div class="box d-flex pt-1">
            <img  src="../../../assets/StaticAssets/Home page/death.png" >
             <span>Premium Memorial</span> 
        </div>

        <div class="box d-flex pt-1" >
            <img src="../../../assets/StaticAssets/Home page/mesage.png" >
             <span>gggggggg</span> 

        </div>
        <div class=" box d-flex pt-1" >
            <img src="../../../assets/StaticAssets/Home page/funeral (2).png" >
             <span>Light a Candle</span> 

        </div>
        <div class=" box d-flex pt-1">
            <img src="../../../assets/StaticAssets/Home page/funeral (3).png" >
             <span>Premium Gift</span> 

        </div> 
        <div class=" box d-flex pt-1">
            <img src="../../../assets/StaticAssets/Home page/death (1).png" >
             <span>Premium Memorial</span> 

        </div> 

    </div>

</div>

<!-- The Vertual Cemetry  -->

<div class="d-flex justify-content-center cemetry w-100 h-75" >
</div>

<!-- Memory -->

<div class="memory w-100" >

</div>