<h5 style="text-align: center  ;margin: 0; padding-top:25px;" class="bg-light">
    <strong>Our Memorial Features</strong>
</h5>

<div class=" d-flex bg-light flex-main w-100 mb-3 justify-content-center" style="background-color: black">

    <div class=" w-75 h-75 d-flex flex-wrap justify-content-center align-items-center">

        <div class="box d-flex pt-1">
            <img src="../../../assets/StaticAssets/Home page/death.png">
            <span>Premium Memorial</span>
        </div>

        <div class="box d-flex pt-1">
            <img src="../../../assets/StaticAssets/Home page/mesage.png">
            <span>Leave Condolonces</span>

        </div>
        <div class=" box d-flex pt-1">
            <img src="../../../assets/StaticAssets/Home page/funeral (2).png">
            <span>Light a Candle</span>

        </div>
        <div class=" box d-flex pt-1">
            <img src="../../../assets/StaticAssets/Home page/funeral (3).png">
            <span>Premium Gifts</span>

        </div>
        <div class=" box d-flex pt-1">
            <img src="../../../assets/StaticAssets/Home page/death (1).png">
            <span>Create Photo Albums</span>

        </div>

    </div>

</div>

<!-- The Vertual Cemetry  -->

<div class="cemetry w-100">
    <div>
        <div class="virtualLabel"> <label >Field of Eternity</label></div>
        <div>
            <h5 class="virtualHeading">The Virtual Cemetery</h5>
           
        </div>
        <div>
            <span class="virtualText">
                <small class="mb-1">
                    <p class="virtualPara">On our virtual cemetery there are various places available onwhich to place our memorial.</p>
                    <p class="virtualPara">If place is available, you can move your memorial at any time to another cemetery.</p>
                </small>
            </span>
        </div>
    </div>
    <div>
        <div>
            <!-- <div>
                <img class="cemetryPhoto1" src="../../../assets/StaticAssets/Home page/grave2.png" alt="">
                <img class="cemetryPhoto2" src="../../../assets/StaticAssets/Home page/Group 58.png" alt="">
            </div>
        </div>
        <div>
            <div style="text-align: center;">
                <img class="cemetryPhoto1" src="../../../assets/StaticAssets/Home page/grave2.png" alt="">
                <img class="cemetryPhoto2" src="../../../assets/StaticAssets/Home page/Group 58.png" alt="">
            </div>
        </div> -->
    </div>
</div>

<!-- Memory -->

<!-- <div class="memory w-100" >

</div> -->