<button (click)="openDialogue(1)"  style="right: 36%; top: 9%; z-index: 500;" *ngIf="loginservice.isVisible"
    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton featuredButton"><span><img
            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto" alt=""></span></button>
<h5 class="ourFeatured">
    <strong *ngIf="editservice.numLabel==1">{{respo1?.en}}</strong>
    <strong *ngIf="editservice.numLabel==2">{{respo1?.de}}</strong>
    <strong *ngIf="editservice.numLabel==3">{{respo1?.fr}}</strong>
</h5>

<!-- Extra code for labels -->
<li *ngIf="showNewDiv==1 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="featureMemorialLabel1">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo1.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo1.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>dutch</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo1.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>french</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo1.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<div class=" d-flex flex-main w-100 justify-content-center" style="background-color: #F8F5F0">

    <div class=" w-100 h-75 d-flex flex-wrap justify-content-center align-items-center">

        <div class="box d-flex pt-1">
            <img class="ourFeaturedTextImg" src="../../../assets/StaticAssets/Home page/death.png">
            <span class="ourFeaturedText" *ngIf="editservice.numLabel==1">{{respo2?.en}}</span>
            <span class="ourFeaturedText1" *ngIf="editservice.numLabel==2">{{respo2?.de}}</span>
            <span class="ourFeaturedText2" *ngIf="editservice.numLabel==3">{{respo2?.fr}}</span>

            <button (click)="openDialogue(2)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                        alt=""></span></button>
        </div>
        <!-- Extra code for labels -->
        <li *ngIf="showNewDiv==2 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="featureMemorialLabel2">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo2.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo2.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>dutch</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo2.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>french</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo2.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>


        <div class="box d-flex pt-1">
            <img class="ourFeaturedTextImg" src="../../../assets/StaticAssets/Home page/mesage.png">
            <span class="ourFeaturedText" *ngIf="editservice.numLabel==1">{{respo3?.en}}</span>
            <span class="ourFeaturedText1" *ngIf="editservice.numLabel==2">{{respo3?.de}}</span>
            <span class="ourFeaturedText2" *ngIf="editservice.numLabel==3">{{respo3?.fr}}</span>

            <button (click)="openDialogue(3)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                        alt=""></span></button>
        </div>
        <!-- Extra code for label -->
        <li *ngIf="showNewDiv==3 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="featureMemorialLabel3">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo3.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo3.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>dutch</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo3.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>french</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo3.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>

        <div class=" box d-flex pt-1">
            <img class="ourFeaturedTextImg" src="../../../assets/StaticAssets/Home page/funeral (2).png">
            <span class="ourFeaturedText" *ngIf="editservice.numLabel==1">{{respo4?.en}}</span>
            <span class="ourFeaturedText1" *ngIf="editservice.numLabel==2">{{respo4?.de}}</span>
            <span class="ourFeaturedText2" *ngIf="editservice.numLabel==3">{{respo4?.fr}}</span>
            <button (click)="openDialogue(4)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                        alt=""></span></button>
        </div>

        <!-- Extra code for label -->
        <li *ngIf="showNewDiv==4 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="featureMemorialLabel4">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo4.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo4.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>dutch</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo4.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>french</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo4.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>

        <div class=" box d-flex pt-1">
            <img class="ourFeaturedTextImg" src="../../../assets/StaticAssets/Home page/funeral (3).png">
            <span class="ourFeaturedText" *ngIf="editservice.numLabel==1">{{respo5?.en}}</span>
            <span class="ourFeaturedText1" *ngIf="editservice.numLabel==2">{{respo5?.de}}</span>
            <span class="ourFeaturedText2" *ngIf="editservice.numLabel==3">{{respo5?.fr}}</span>
            <button (click)="openDialogue(5)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                        alt=""></span></button>
        </div>

        <!-- Extra code for label -->
        <li *ngIf="showNewDiv==5 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="featureMemorialLabel5">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo5.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo5.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>dutch</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo5.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>french</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo5.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>


        <div class=" box d-flex pt-1">
            <img class="ourFeaturedTextImg" src="../../../assets/StaticAssets/Home page/death (1).png">
            <span class="ourFeaturedText" *ngIf="editservice.numLabel==1">{{respo6?.en}}</span>
            <span class="ourFeaturedText1" *ngIf="editservice.numLabel==2">{{respo6?.de}}</span>
            <span class="ourFeaturedText2" *ngIf="editservice.numLabel==3">{{respo6?.fr}}</span>
            <button (click)="openDialogue(6)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                        alt=""></span></button>
        </div>

        <!-- Extra code for label -->
        <li *ngIf="showNewDiv==6 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="featureMemorialLabel6">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo6.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo6.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>dutch</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo6.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>french</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo6.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>

    </div>

</div>

<!-- The Vertual Cemetry  -->

<div class="cemetry w-100">
    <div>

        <div>
            <button (click)="openDialogue(9)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                        alt=""></span></button>
            <label class="virtualLabel" *ngIf="editservice.numLabel==1">{{respo9?.en}}</label>
            <label class="virtualLabel1" *ngIf="editservice.numLabel==2">{{respo9?.de}}</label>
            <label class="virtualLabel2" *ngIf="editservice.numLabel==3">{{respo9?.fr}}</label>

        </div>

        <!-- Extra code for label -->
        <li *ngIf="showNewDiv==9 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="featureMemorialLabel9">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo9.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo9.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>dutch</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo9.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>french</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo9.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>


        <div>
            <h5 class="virtualHeading">
                <button style="right: 18%;" (click)="openDialogue(7)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>

                <p *ngIf="editservice.numLabel==1"> {{respo7?.en}}</p>
                <p *ngIf="editservice.numLabel==2"> {{respo7?.de}}</p>
                <p *ngIf="editservice.numLabel==3"> {{respo7?.fr}}</p>
            </h5>


        </div>

        <!-- Extra code for label -->
        <li *ngIf="showNewDiv==7 && isvalid" style="position: absolute; margin-top: 25px;">
            <div class="forDiv" id="featureMemorialLabel7">
                <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                <form class="example-form" #regForm2="ngForm">
                    <mat-form-field class="example-full-width" style="display: none;">
                        <mat-label>id</mat-label>
                        <textarea matInput name="id" [(ngModel)]="respo7.id"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width englishLng">
                        <mat-label>English</mat-label>
                        <textarea matInput name="en" [(ngModel)]="respo7.en"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>dutch</mat-label>
                        <textarea matInput name="de" [(ngModel)]="respo7.de"></textarea>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>french</mat-label>
                        <textarea matInput name="fr" [(ngModel)]="respo7.fr"></textarea>
                    </mat-form-field>
                </form>
                <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
            </div>
        </li>
        <div>
            <span class="virtualText">
                <div>
                    <button (click)="openDialogue(10)" style="right: 0%;" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                                alt=""></span></button>
                    <small>
                        <p class="virtualPara1" *ngIf="editservice.numLabel==1">{{respo10?.en}}</p>
                        <p class="virtualPara2" *ngIf="editservice.numLabel==2">{{respo10?.de}}</p>
                        <p class="virtualPara1" *ngIf="editservice.numLabel==3">{{respo10?.fr}}</p>
                    </small>
                </div>
                <div>
                    <button (click)="openDialogue(8)" style="right: -5%;" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                                alt=""></span></button>
                    <small class="mb-1">
    
                        <p class="virtualPara" *ngIf="editservice.numLabel==1">{{respo8?.en}}</p>
                        <p class="virtualParaNew2" *ngIf="editservice.numLabel==2">{{respo8?.de}}</p>
                        <p class="virtualPara" *ngIf="editservice.numLabel==3">{{respo8?.fr}}</p>
    
                    </small>
                </div>
            </span>


            <!-- Extra code for label -->
            <li *ngIf="showNewDiv==10 && isvalid" style="position: absolute; margin-top: 25px;">
                <div class="forDiv" id="featureMemorialLabel8">
                    <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                    <form class="example-form" #regForm2="ngForm">
                        <mat-form-field class="example-full-width" style="display: none;">
                            <mat-label>id</mat-label>
                            <textarea matInput name="id" [(ngModel)]="respo10.id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width englishLng">
                            <mat-label>English</mat-label>
                            <textarea matInput name="en" [(ngModel)]="respo10.en"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>dutch</mat-label>
                            <textarea matInput name="de" [(ngModel)]="respo10.de"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>french</mat-label>
                            <textarea matInput name="fr" [(ngModel)]="respo10.fr"></textarea>
                        </mat-form-field>
                    </form>
                    <button (click)="postEditData(regForm2);openDialogue1();"
                        class="btn btn-outline-success">Save</button>
                </div>
            </li>



            <!-- Extra code for label -->
            <li *ngIf="showNewDiv==8 && isvalid" style="position: absolute; margin-top: 25px;">
                <div class="forDiv" id="featureMemorialLabel8">
                    <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                    <form class="example-form" #regForm2="ngForm">
                        <mat-form-field class="example-full-width" style="display: none;">
                            <mat-label>id</mat-label>
                            <textarea matInput name="id" [(ngModel)]="respo8.id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width englishLng">
                            <mat-label>English</mat-label>
                            <textarea matInput name="en" [(ngModel)]="respo8.en"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>dutch</mat-label>
                            <textarea matInput name="de" [(ngModel)]="respo8.de"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>french</mat-label>
                            <textarea matInput name="fr" [(ngModel)]="respo8.fr"></textarea>
                        </mat-form-field>
                    </form>
                    <button (click)="postEditData(regForm2);openDialogue1();"
                        class="btn btn-outline-success">Save</button>
                </div>
            </li>
        </div>
    </div>

    <!-- Memory -->

    <!-- <div class="memory w-100" >

</div> -->