<div class="platform w-100 ps-5">
    <div class="box1 container mb-5">
        <div>

            <h5>
                <button (click)="openDialogue(1)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>
                <p class="platformText" *ngIf="editservice.numLabel==1">{{respo1?.en}}</p>
                <p class="platformText" *ngIf="editservice.numLabel==2">{{respo1?.de}}</p>
                <p class="platformText" *ngIf="editservice.numLabel==3">{{respo1?.fr}}</p>
    
            </h5>
        </div>
        <div>

            <h5>
                <button (click)="openDialogue(4)" *ngIf="loginservice.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>
                <p class="platformText1" *ngIf="editservice.numLabel==1">{{respo4?.en}}</p>
                <p class="platformText1" *ngIf="editservice.numLabel==2">{{respo4?.de}}</p>
                <p class="platformText1" *ngIf="editservice.numLabel==3">{{respo4?.fr}}</p>
    
            </h5>
        </div>

        
    <!-- Extra code for label -->
    <li *ngIf="showNewDiv==1 && isvalid" style="position: absolute; margin-top: 25px;">
        <div class="forDiv" id="platformCss1">
            <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
            <form class="example-form" #regForm2="ngForm">
                <mat-form-field class="example-full-width" style="display: none;">
                    <mat-label>id</mat-label>
                    <textarea matInput name="id" [(ngModel)]="respo1.id"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width englishLng">
                    <mat-label>English</mat-label>
                    <textarea matInput name="en" [(ngModel)]="respo1.en"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>dutch</mat-label>
                    <textarea matInput name="de" [(ngModel)]="respo1.de"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>french</mat-label>
                    <textarea matInput name="fr" [(ngModel)]="respo1.fr"></textarea>
                </mat-form-field>
            </form>
            <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
        </div>
    </li>


     <!-- Extra code for label -->
     <li *ngIf="showNewDiv==4 && isvalid" style="position: absolute; margin-top: 25px;">
        <div class="forDiv" id="platformCss1">
            <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
            <form class="example-form" #regForm2="ngForm">
                <mat-form-field class="example-full-width" style="display: none;">
                    <mat-label>id</mat-label>
                    <textarea matInput name="id" [(ngModel)]="respo4.id"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width englishLng">
                    <mat-label>English</mat-label>
                    <textarea matInput name="en" [(ngModel)]="respo4.en"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>dutch</mat-label>
                    <textarea matInput name="de" [(ngModel)]="respo4.de"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>french</mat-label>
                    <textarea matInput name="fr" [(ngModel)]="respo4.fr"></textarea>
                </mat-form-field>
            </form>
            <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
        </div>
    </li>



        <small class="mb-3">
            <button (click)="openDialogue(2)" style="z-index: 500;" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>
            <p class="platformText2" *ngIf="editservice.numLabel==1">{{respo2?.en}}</p>
            <p class="platformText2" *ngIf="editservice.numLabel==2">{{respo2?.de}}</p>
            <p class="platformText2" *ngIf="editservice.numLabel==3">{{respo2?.fr}}</p>


        
            </small>


                <!-- Extra code for label -->
    <li *ngIf="showNewDiv==2 && isvalid" style="position: absolute; margin-top: 25px;">
        <div class="forDiv" id="platformCss2">
            <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
            <form class="example-form" #regForm2="ngForm">
                <mat-form-field class="example-full-width" style="display: none;">
                    <mat-label>id</mat-label>
                    <textarea matInput name="id" [(ngModel)]="respo2.id"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width englishLng">
                    <mat-label>English</mat-label>
                    <textarea matInput name="en" [(ngModel)]="respo2.en"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>dutch</mat-label>
                    <textarea matInput name="de" [(ngModel)]="respo2.de"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>french</mat-label>
                    <textarea matInput name="fr" [(ngModel)]="respo2.fr"></textarea>
                </mat-form-field>
            </form>
            <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
        </div>
    </li>

    
        <div>
            <button (click)="openDialogue(3)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>
        <button type="button" class="btn createBtnPlatform" routerLink="/create-memorial" *ngIf="editservice.numLabel==1">{{respo3?.en}}</button>
        <button type="button" class="btn createBtnPlatform" routerLink="/create-memorial" *ngIf="editservice.numLabel==2">{{respo3?.de}}</button>
        <button type="button" class="btn createBtnPlatform" routerLink="/create-memorial" *ngIf="editservice.numLabel==3">{{respo3?.fr}}</button>

        <!-- <p *ngIf="editservice.numLabel==1">{{respo2.en}}</p> -->

    </div>
       <!-- Extra code for label -->
       <li *ngIf="showNewDiv==3 && isvalid" style="position: absolute; margin-top: 25px;">
        <div class="forDiv" id="platformCss3">
            <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
            <form class="example-form" #regForm2="ngForm">
                <mat-form-field class="example-full-width" style="display: none;">
                    <mat-label>id</mat-label>
                    <textarea matInput name="id" [(ngModel)]="respo3.id"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width englishLng">
                    <mat-label>English</mat-label>
                    <textarea matInput name="en" [(ngModel)]="respo3.en"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>dutch</mat-label>
                    <textarea matInput name="de" [(ngModel)]="respo3.de"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>french</mat-label>
                    <textarea matInput name="fr" [(ngModel)]="respo3.fr"></textarea>
                </mat-form-field>
            </form>
            <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
        </div>
    </li>
    </div>
    <div class="box2 ps-5 ">
        <img src="../../../assets/StaticAssets/Home page/ipad.png" class="imgBox2" alt="">
    </div>

</div>