.parent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50vw;
    width: 100%;
}
.parentImg{
    height:84%;
    width: 100%;
}
.parentImg1{
    height:70%;
    width: 100%;
}
.box1{
    width:40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}


.name{
    width: 100%;
    height: 5%;
  
}
.name h5{
    font-size: 15px;
}

.info{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 12px;

}

.info img{
    height: 34%;
    width: 2%;
}

.box2{
    width:55%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.child{
    height: 45%;
    width:30%;
    display: flex;
    flex-direction: column;
}

@media (min-width:481px) and (max-width:780px){
    .parentImg{
        height:60%;
        width: 70%;
    }
    .parentImg1{
        height:50%;
        width: 90%;
    }
    .box2{
        height: 68%;
    }
}