.forDiv{
    position: relative;
    z-index: 10;
    color: black;
    border: 1px dotted tomato;
    /* text-align: center; */
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 250px;
    font-size: 1rem;
    background-color: #F8F8F8;
}

/* For map key */
agm-map {
    height: 300px;
}

#map {
    height: 300px;
  }

/* For profile div */

.forProfileDiv{
    position: absolute;
    /* float: right; */
    margin-left: 71%;
    cursor: pointer;
    z-index: 10;
    color: black;
    /* border: 1px dotted tomato; */
    /* text-align: center; */
    border-radius: 10px;
    height: auto;
    /* margin-top: 10%; */
    width: 260px;
    font-size: 0.8rem;
    margin-top: -29px;
    background-color: #F8F8F8;
}
.userDetail{
    color:#CF6363;
}
.profileName{
    margin-left: 15%;
}


.userHeading{
    background-color:#CF6363 ;
    height: 7vw;
}
.userHeading h1{
    text-align: center;
    color: white;
    padding-top: 2%;
}
.userDetail{
    color:#CF6363;
}
.content1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height: 20vw; */
}
.box1{
    /* background-color: yellow; */
     height: auto;
     width:65%;
     display: flex;
     flex-direction: column;
     /* left: auto; */
     /* align-items: center; */
     /* flex-wrap: wrap; */
 }
 .box2{
    /* background-color: #f87171;  */
   height: 80vw;
   width:35%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   /* font-size: 0.5rem; */
   flex-direction: row;
}

.box2 .child1{
    /* background-color: yellow; */
    height: 17%;
    font-style: normal;
}


.content2{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* height: 20vw; */
}
.box3{
    height: auto;
    width: 25%;
    margin-top: 6%;
    
}
.box4{
   width: 72%; 
   height: auto;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
}
.content3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height: 20vw; */
    width: 100%;
}
.box5{
    width: 45%;
    height: auto;
    margin-left: 4%;
}
.userName{
    margin: 5%;
}
.userLable{
    color: gray;
}
.box6{
    width: 45%;
    height: auto;
}
.userImage{
  width: 100%; 
  height: auto; 
  border: 1px solid black;
}
.Photo{
    text-align: center;
    /* align-items: center; */
    display: block;
    font-size: larger;
}
.userAbout{
    /* background-color: yellow; */
    height: 16vw;
}
.userAbout1{
    font-size: 1rem;
    color: #CF6363;
    font-weight: bold;
}
#photo{
    display: none;
}

@media (min-width:481px) and (max-width:780px){
    
    .forProfileDiv{
        margin-left: 60%;
    }

}
/* @media (min-width:780px) and (max-width:1197px){
    .forProfileDiv{
        margin-left: 67%;
    }
}
@media (min-width:992px) and (max-width:1197px){
    .forProfileDiv{
        margin-left: 60%;
    }
}
@media (min-width:1398px){
    .forProfileDiv{
        margin-left: 60%;
    }
} */
@media (min-width:820px){
    .forProfileDiv{
        margin-left: 60%;
    }
}
@media (min-width:1398px) and (max-width:1520px){
    .forProfileDiv{
        margin-left: 76%;
    }
}
@media (min-width:1520px)and (max-width:1820px){
    .forProfileDiv{
        margin-left: 70%;
    }
}
@media (min-width:1820px)and (max-width:2048px){
    .forProfileDiv{
        margin-left: 60%;
    }
}
@media (min-width:2049px)and (max-width:2560px){
    .forProfileDiv{
        margin-left: 57%;
    }
}
@media (min-width:2560px)and (max-width:2732px){
    .forProfileDiv{
        margin-left: 45%;
    }
}
@media (min-width:2732px)and (max-width:3098px){
    .forProfileDiv{
        margin-left: 42%;
    }
}
@media (min-width:4000px){
    .forProfileDiv{
        margin-left: 28%;
    }
}
@media (min-width:5464px){
    .forProfileDiv{
        margin-left: 21%;
    }
}