@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

.forDiv {
    position: relative;
    z-index: 10;
    color: black;
    border: 1px dotted tomato;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 250px;
    font-size: 1rem;
    background-color: #F8F8F8;
}

/* For div css */
.forDiv1 {
    position: relative;
    z-index: 10;
    color: black;
    text-align: center;
    border-radius: 10px;
    height: auto;
    width: 300px;
    font-size: 1rem;
    background-color: #F8F8F8;
}

.englishLng {
    padding-top: 15%;
    padding-left: 2%;
    margin-left: 12%;
}

/* user Div css */
.userProfileDiv1 {
    margin-top: -13%;
    left: 3%;
}

.userProfileDiv2 {
    left: 268%;
    margin-top: -14%;
}

.userProfileDiv3 {
    right: 27%;
    margin-top: -15%;
}

.userProfileDiv4 {
    right: 27%;
    margin-top: -15%;
}

.userProfileDiv5 {
    right: 27%;
    margin-top: -15%;
}

.userProfileDiv6 {
    right: 27%;
    margin-top: -15%;
}

.userProfileDiv7 {
    right: 27%;
    margin-top: -15%;
}

.userProfileDiv8 {
    right: 27%;
    margin-top: -15%;
}

.userProfileDiv9 {
    right: 27%;
    margin-top: -15%;
}

.userProfileDiv10 {
    right: 27%;
    margin-top: -15%;
}

.userProfileDiv11 {
    right: 27%;
    margin-top: -15%;
}

.userProfileDiv12 {
    margin-top: 124%;
    left: 293%;
}

.userProfileDiv13 {
    margin-top: -15%;
}

.userProfileDiv14 {
    margin-top: -15%;
}

.userProfileDiv15 {
    margin-top: -15%;
}

.userProfileDiv16 {
    margin-top: -15%;
}

.userProfileDiv17 {
    margin-top: -15%;
}

.userProfileDiv18 {
    margin-top: -2%;
}

.vertical-menu1 {
    width: 80%;
    height: 150px;
    overflow-y: auto;
}

.userDetailPopupSave {
    font-size: 0.9rem;
    border: 1px solid #4BC252;
}

.userDetailPopupSave:hover {
    background-color: #4BC252;
    color: white;
}

.userDetailPopupCancel {
    font-size: 0.9rem;
    border: 1px solid #CF6363;
    color: black;
}

.userDetailPopupCancel:hover {
    background-color: #CF6363;
    color: white;
}

.forButton {
    position: relative;
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207, 99, 99, 0.2);
    opacity: 0.7;
}


.vertical-menu {
    width: 100%;
    height: 150px;
    overflow-y: auto;
}


/* For map key */
agm-map {
    height: 300px;
}

#map {
    height: 300px;
}

/* For profile div */

.forProfileDiv {
    position: absolute;
    /* float: right; */
    margin-left: 71%;
    cursor: pointer;
    z-index: 10;
    color: black;
    border-radius: 10px;
    height: auto;
    width: 260px;
    font-size: 0.8rem;
    margin-top: -29px;
    background-color: #F8F8F8;
}

.userDetail {
    color: #CF6363;
}

.profileName {
    margin-left: 15%;
    cursor: pointer;
}

.profileUserName {
    font-size: 0.9;
    font-weight: 600;
    opacity: 0.9;
}

.imgWidth {
    width: 9%;
}

.divText {
    font-size: 0.7rem;
    font-weight: 600;
    opacity: 0.9;
}

.userHeading {
    background-color: #CF6363;
    height: 6vw;
}

.userHeading h1 {
    text-align: center;
    color: white;
    padding-top: 1.3%;
    font-weight: 600;
    font-size: 2.4rem;
    font-family: 'Rubik', sans-serif;
}

.profileOption {
    float: right;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 0.9;
    cursor: pointer;
}

.messageText {
    font-size: 0.9rem;
    font-weight: 600;
    opacity: 0.9;
    cursor: pointer;
}

.messageImg {
    height: 22px;
}

.profileImg {
    height: 22px;
}

.carousel-indicators {
    top: 100%;
}

.carousel-indicators button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    /* color: black; */
    background-color: black;
}

.carousel-control-next {
    position: absolute;
    top: 40%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 6%;
    height: 10%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.carousel-control-prev {
    position: absolute;
    top: 40%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 6%;
    height: 10%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.carousel-item button {
    height: 45%;
    width: 32%;
}

.fontColorSize {
    font-size: 0.75rem;
    color: #B5B5B5;
    font-weight: 600;
}

.memorialName {
    font-size: 0.8rem;
    font-weight: 800;
}

.memorialCity {
    color: #989898;
    font-size: 0.8rem;
}

.memorialText {
    color: #B7B7B7;
    font-size: 0.777rem;
    font-weight: 600;
    margin-left: 12%;
}

.forProfileMemory {
    top: 24px;
    left: 3%;
}

.onlineImg {
    height: 16px;
}

.onlineUser {
    float: right;
    font-size: 0.7rem;
    margin-top: 1%;
    opacity: 0.9;
}

.onlineUser1 {
    float: left;
    font-size: 0.7rem;
    margin-top: 1.3%;
    font-weight: 100;
    opacity: 0.9;
    cursor: pointer;
}

.onlineUser2 {
    font-size: 2rem;
    font-weight: 100;
    float: left;
    opacity: 0.9;
}

.userDetail {
    color: #CF6363;
}

.content1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box1 {
    height: auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-top: -1%;
}

.box2 {
    height: 80vw;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    margin-top: 2.2%;
}

.box2 .child1 {
    height: 17%;
    font-style: normal;
}


.content2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box3 {
    height: auto;
    width: 25%;
    margin-top: 6%;

}

.box4 {
    width: 72%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.content3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.box5 {
    width: 45%;
    height: auto;
    margin-left: 9%;
    padding-left: 13%;
}

.userName {
    margin: 5%;
}

.userLable {
    color: gray;
}

.box6 {
    width: 45%;
    height: auto;
    padding-left: 15%;
}

.userImage {
    width: 233px;
    height: 180px;
    border: 1px solid black;
    object-fit: fill;
}

.Photo {
    text-align: center;
    display: block;
    font-size: larger;
    margin-left: 24%;
}

.userAbout {
    height: 8vw;
}

.userAbout1 {
    font-size: 0.7rem;
    color: #CF6363;
    font-weight: 800;
    opacity: 0.9;
}

#photo {
    display: none;
}

.userProfileDivNew {
    margin-top: -18%;
    left: 42%;
}

.userProfileDivNew1 {
    margin-top: -19%;
    left: 156%;
}

.userProfileDivNew2 {
    margin-top: -19%;
    left: 288%;
}

.forButtonAlign {
    float: left;
    left: 34%;
    top: 30%;
}

@media (min-width:481px) and (max-width:780px) {
    .forProfileDiv {
        margin-left: 60%;
    }

    /* user Div css */
    .userProfileDiv1 {
        margin-top: -13%;
        left: 3%;
    }

    .userProfileDiv2 {
        left: 123%;
        margin-top: -14%;
    }

    .userProfileDiv3 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv4 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv5 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv6 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv7 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv8 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv9 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv10 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv11 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv12 {
        margin-top: 123%;
        left: 125%;
    }

    .userProfileDiv13 {
        margin-top: -15%;
    }

    .userProfileDiv14 {
        margin-top: -15%;
    }

    .userProfileDiv15 {
        margin-top: -15%;
    }

    .userProfileDiv16 {
        margin-top: -15%;
    }

    .userProfileDiv17 {
        margin-top: -15%;
    }

    .userProfileDiv18 {
        margin-top: -2%;
    }

}

/* @media (min-width:780px) and (max-width:1197px){
    .forProfileDiv{
        margin-left: 67%;
    }
}
@media (min-width:992px) and (max-width:1197px){
    .forProfileDiv{
        margin-left: 60%;
    }
}
@media (min-width:1398px){
    .forProfileDiv{
        margin-left: 60%;
    }
} */
@media (min-width:781px) and (max-width:821px) {
    .forProfileDiv {
        margin-left: 66%;
        width: 216px;
    }

    .userProfileDiv2 {
        left: 123%;
        margin-top: -14%;
    }

    .userProfileDiv3 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv4 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv5 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv6 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv7 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv8 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv9 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv10 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv11 {
        right: 41%;
        margin-top: -15%;
    }

    .userProfileDiv12 {
        margin-top: 123%;
        left: 125%;
    }

    .userProfileDiv13 {
        margin-top: -15%;
    }

    .userProfileDiv14 {
        margin-top: -15%;
    }

}

@media (min-width:1398px) and (max-width:1520px) {
    .forProfileDiv {
        margin-left: 76%;
    }
}

@media (min-width:1520px)and (max-width:1820px) {
    .forProfileDiv {
        margin-left: 70%;
    }
}

@media (min-width:1820px)and (max-width:2048px) {
    .forProfileDiv {
        margin-left: 60%;
    }
}

@media (min-width:2049px)and (max-width:2560px) {
    .forProfileDiv {
        margin-left: 57%;
    }
}

@media (min-width:2560px)and (max-width:2732px) {
    .forProfileDiv {
        margin-left: 45%;
    }
}

@media (min-width:2732px)and (max-width:3098px) {
    .forProfileDiv {
        margin-left: 42%;
    }
}

@media (min-width:4000px) {
    .forProfileDiv {
        margin-left: 28%;
    }
}

@media (min-width:5464px) {
    .forProfileDiv {
        margin-left: 21%;
    }
}