@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap');


*{
    font-family: 'Rubik', sans-serif;
}

/* css for labels */
.forButton{
    position: relative;
    /* z-index: 10; */
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207,99,99, 0.2);
    opacity: 0.7;
}

/* For div css */
.forDiv{
    position: relative;
    z-index: 10;
    /* border: 1px dotted tomato; */
    text-align: center;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 300px;
    font-size: 1rem;
    background-color: #F8F8F8;
}
.englishLng{
    padding-top: 15%; 
    padding-left: 2%;
    margin-left: 12%;
}





.main{
 
    font-family: 'Libre Franklin', sans-serif;
    font-size: 50%;
    height: 45vw;
    width: 100%;
    flex-direction: column;
    align-content: flex-start;
    display: flex;
   
}
.userName{
    font-weight: 600;
    font-size: 0.9rem;
}
.userName1{
    font-size: 0.9rem;
    color: #8B8B8B;
}
.userName2{
    font-size: 0.9rem;
    font-weight: 600;

}
.nameSml{
    font-size: 0.55rem;
    color: #CF6363;
    padding-top: 2%;
}
.premiumButton{
    background-color: #CF6363;
    float: right;
    font-size: 0.7rem;
    font-weight: 800;
    color: #FFF8F8;
    margin-right: 13%;
}
.recentMem{
    font-weight: 800;
    font-size: 1.3rem;
}
.recentPmem{
    font-size: 1.3rem;
    font-weight: 800;
}

.box1{
    width:30%;
    font-size: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
}

.box1 .child1{
    height: 17%;
    font-style: normal;
}

.box2{
    width: 56.5rem;
    width: 68%;
    display: flex;
    flex-direction: column;   
}

.box2 .premium{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.premium-child{
    height: 47%;
    width:19%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mainIMG{
    height: 59%;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #DF9494;
}

.premium-child .name{
    height: 20%;
    width: 100%;

}
/* .premium-child .name h6{
    font-size: 1rem;
} */



.premium-child span{
    color: #DF9494;
}

/* .premium-child .info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    color: #f87171;
} */

.info img{
    height:40%;
    width: 10%;
}

/* 
responsive code */

/* @media (max-width:992px){
    .main{
      height: 50vw;
    }
}

@media (max-width:800px){
   .main{
    height: 70vw;
   }
   .box2 .premium{
    justify-content: space-around;
   }
} */

@media (max-width:480px){
    .main{
        height: 562px;
    }
    .recentMem{
        font-size: 1rem;
    }
    .recentPmem{
        font-size: 0.8rem;
    }
    .box1{
        width:40%;
        font-size: 0.5rem;
    }

    .box2{
        width: 58%;
    }
    .mainIMG{
        height: 27%;
        width: 50px;
    }
    .premium-child{
        height: 47%;
        width:18%;
    }
    .box2 .premium{
        height:54%;
        width: 206px;
    }
    .premium-child .name{
        height: 64%;
        width: 350%;
    }
    .premium-child .name h6{
        font-size: 0.6rem;
    }
    .imgSml{
        /* height: 10px;
        width: 10px; */
        /* width: 11%; */
        height: 9px;
        width: 14px;
    }
    .nameSml{
        font-size: 0.2rem;
        color: #CF6363;
    }
    
}
@media (min-width:481px) and (max-width:780px){
    .main{
        width: 90%;
        height: 432px;
    }
    .main{
        font-size: 15%;
    }
    
}
@media (min-width:781px) and (max-width:1160px){}

/* @media (max-width:720px){
    .box1{
        width: 100%;
        justify-content: space-around;
    }

    .box1 .child1{
        justify-content: center;
    }

    .box1 .child1 img{
        width: 15%;
    }

    .main{
        flex-direction: row;
    }

    .box2{
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-left: 0px;
    }

    .box2 .premium-child h6{
        font-size: 0.8rem;
    }

} */
