<span *ngIf="!inviteUserData" class="btn exUser mb-3" (click)="externalUser()">External User</span>
<span *ngIf="inviteUserData" class="btn exUser1 mb-5" (click)="externalUserClose()">Back</span>
<div *ngIf="!inviteUserData">
    <div>
        <span style="font-size: 0.9rem; color:gray">Invite People</span>
        <form #heroForm="ngForm">
            <span class="inviteInput input-group">
                <input (keyup)="searchInviteUser($event)" type="text" class="form-control shadow bg-body rounded"
                    name="searchUser" ngModel aria-describedby="basic-addon2" placeholder="Search User">

            </span>
        </form>
    </div>
    <div style="margin-top: 5%; margin-left: 10%;" class="vertical-menu"
        *ngFor="let data of inviteList | paginate: { itemsPerPage: 20, currentPage: page, totalItems:totalLength }">
        <div class="row">
            <div class="col-8 openForm" (click)="inviteUserOpenForm(data.email)">
                <span>{{data.name}}</span>
            </div>

            <hr style="margin: 0px; padding:0px; width: 400px; text-align: center;">
        </div>
    </div>
    <pagination-controls *ngIf="paginationHide" class="text-center paginationText" (pageChange)="page = $event">
    </pagination-controls>
    <div>
        <button class="btn btn closeBtn" [mat-dialog-close]=true>Cancel</button>
    </div>
</div>
<div *ngIf="inviteUserData" class="mt-5">
    <div class="invitePeople">
        <span style="font-size: 0.9rem; color:gray">Invite People</span>
    </div>
    <form #inviteForm="ngForm">
        <div class="mb-3">
            <div>
                <input type="text" name="userName" ngModel class="form-control" placeholder="Please enter your name">
            </div>
        </div>
        <div class="mb-3">
            <div>
                <input type="text" name="userEmail" ngModel [(ngModel)]="fillEmailId" class="form-control"
                    placeholder="Please enter the email address of the receiver">
            </div>
        </div>
        <div class="mb-3">
            <div>
                <textarea class="form-control" name="userMsg" ngModel cols="30" rows="4"
                    placeholder="Your optional comment"></textarea>
            </div>
        </div>
        <div class="mb-3">
            <button class="btn InviteBTN" (click)="inviteUser(inviteForm)">Invite</button>
        </div>
    </form>
</div>