@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap');


*{
    font-family: 'Rubik', sans-serif;
}

/* css for labels */
.forButton{
    position: relative;
    /* z-index: 10; */
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207,99,99, 0.2);
    opacity: 0.7;
}

/* For div css */
.forDiv{
    position: relative;
    z-index: 10;
    color: black;
    /* border: 1px dotted tomato; */
    text-align: center;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 300px;
    font-size: 1rem;
    background-color: #F8F8F8;
}

#loginLabel1{
    right: 64%;
}
#loginLabel2{
    right: 45%;
}
#loginLabel3{
    right: 63%;
}
#loginLabel4{
    right: 65%;
}

#loginDiv1{
    left: 67%;
    margin-top: -15%;
}
#loginDiv2{
    left: 89%;
    margin-top: -23%;
}
#loginDiv3{
    left: 71%;
    margin-top: -30%;
}
#loginDiv4{
    left: 50%;
    margin-top: -37%;
}
#loginDiv5{
    left: 66%;
    margin-top: -17%;
}
#loginDiv6{
    right: 156%;
    margin-top: 117%;
}
#loginDiv7{
    margin-top: -76%;
    left: 72%;
}
#loginDiv8{
    margin-top: -49%;
    left: 71%;
}


.navbarBackImg{
    background-image: url('../../../assets/StaticAssets/Login Page/header.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 211px;
}
.marginImg{
    margin-top: -6%;
}


.login{
    font-family: 'Libre Franklin', sans-serif;
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -1%;
    /* float: left; */
}
input.ng-touched.ng-invalid{
    border: 0.5px solid #FF5C5C;
}
.fontSizeBtn{
    font-size: 0.97rem;
}


.fireError{
    color: tomato;
    font-size: small;
}
.form{
    height: 100%;
    width: 50%;
   
}
.form h6{
    color: #CF6363;
    opacity: 0.9;
    font-weight: 500;
    font-size: 0.9rem;
}
.userLoginText{
    font-weight: 600;
    color: #5D5959;
}
.userLoginText1{
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.8;
    color: black;
}
::placeholder{
    color: #B5B5B5;
    font-size: 0.9rem;
    opacity: 0.9;
    margin-left: 20px;
}
.form a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
}
.forgotLink{
   color: #303030; 
   opacity: 0.9;
}
.forgotHr{
    width: 28%; 
    margin-top: -2%;
}
.englishLng{
    padding-top: 15%; 
    padding-left: 2%;
    margin-left: 12%;
}

.showCase{
    height: 100%;
    width: 45%;
    display: flex;
    /* justify-content:space-between; */
    flex-direction: column;
}

.image{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content:center;
    background-image: url('../../../assets/StaticAssets/Login Page/46.png');
    background-repeat: no-repeat;
}

.image img{
    height: 130%;
    width: 100%;

    margin-top: -11%;

}

/* .container {
    /* position: absolute; */
    /* text-align: center; */
    /* color: white; */
    /* background-color: yellow; */
    /* margin: 2% auto; */
  /* } */ */


.centered {
    /* position: absolute; */
    top: 89%;
    left: 52%;
    transform: translate(-50%, -50%);
    color: black;
    /* background-color: red; */
  }

  
.bottom-right {
    position: absolute;
    bottom: 30px;
    right: 390px;
    color: black;
    /* background-color: green; */
} 
/* .btnCM{
    padding-left: 10%;
    padding-right: 10%;
} */
.btnSpace{
    right: 1%;
}

.errorDis{
    color: red;
    font-size: 1.2rem;
    margin-left: 10px;
}
.loginBtn{
    background-color: #CF6363;
    color: white;
    font-size: 0.9;
    padding-left: 8%;
    padding-right: 8%;
    font-weight: 600;
}

@media (max-width:480px){
    .largInpt{
        width: 230%;
    }
}

@media (min-width:481px) and (max-width:780px){
    .crtBtn{
        margin-right: 36px;
    }
    

    #loginLabel1{
        right: 26%;
    }
    #loginLabel2{
        right: 22%;
    }
    #loginLabel3{
        right: 39%;
    }
    #loginLabel4{
        right: 30%;
    }

    #loginDiv1{
        left: 74%;
        margin-top: -16%;
    }
    #loginDiv2{
        left: 89%;
        margin-top: -23%;
    }
    #loginDiv3{
        left: 106%;
        margin-top: -49%;
    }
    
    #loginDiv6{
        left: -18%;
    }
    

}



