<div class="w-90">
    <div>
        <div class="navbarBackImg w-100">
            <app-navbar></app-navbar>
        </div>
    </div>


    <div class="login container">
        <div class="form p-3">
            <h6>
                <button id="loginLabel1" (click)="openDialogue(1)" *ngIf="service.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>
                <strong *ngIf="editservice.numLabel==1">{{respo1?.en}}</strong>
                <strong *ngIf="editservice.numLabel==2">{{respo1?.de}}</strong>
                <strong *ngIf="editservice.numLabel==3">{{respo1?.fr}}</strong>
            </h6>

            <!-- Extra code for label -->
            <li *ngIf="showNewDiv==1 && isvalid" style="position: absolute; margin-top: 25px;">
                <div class="forDiv" id="loginDiv1">
                    <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                    <form class="example-form" #regForm2="ngForm">
                        <mat-form-field class="example-full-width" style="display: none;">
                            <mat-label>id</mat-label>
                            <textarea matInput name="id" [(ngModel)]="respo1.id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width englishLng">
                            <mat-label>English</mat-label>
                            <textarea matInput name="en" [(ngModel)]="respo1.en"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>dutch</mat-label>
                            <textarea matInput name="de" [(ngModel)]="respo1.de"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>french</mat-label>
                            <textarea matInput name="fr" [(ngModel)]="respo1.fr"></textarea>
                        </mat-form-field>
                    </form>
                    <button (click)="postEditData(regForm2);openDialogue1();"
                        class="btn btn-outline-success">Save</button>
                </div>
            </li>

            <div>
                <button id="loginLabel2" (click)="openDialogue(2)" *ngIf="service.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>
                <h1 class="userLoginText" *ngIf="editservice.numLabel==1">{{respo2?.en}}</h1>
                <h1 class="userLoginText" *ngIf="editservice.numLabel==2">{{respo2?.de}}</h1>
                <h1 class="userLoginText" *ngIf="editservice.numLabel==3">{{respo2?.fr}}</h1>
            </div>


            <!-- Extra code for label -->
            <li *ngIf="showNewDiv==2 && isvalid" style="position: absolute; margin-top: 25px;">
                <div class="forDiv" id="loginDiv2">
                    <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                    <form class="example-form" #regForm2="ngForm">
                        <mat-form-field class="example-full-width" style="display: none;">
                            <mat-label>id</mat-label>
                            <textarea matInput name="id" [(ngModel)]="respo2.id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width englishLng">
                            <mat-label>English</mat-label>
                            <textarea matInput name="en" [(ngModel)]="respo2.en"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>dutch</mat-label>
                            <textarea matInput name="de" [(ngModel)]="respo2.de"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>french</mat-label>
                            <textarea matInput name="fr" [(ngModel)]="respo2.fr"></textarea>
                        </mat-form-field>
                    </form>
                    <button (click)="postEditData(regForm2);openDialogue1();"
                        class="btn btn-outline-success">Save</button>
                </div>
            </li>

            <button (click)="openDialogue(3)" *ngIf="service.isVisible"
                class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                        src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                        alt=""></span></button>
            <div>
                <p class="userLoginText1" *ngIf="editservice.numLabel==1"><small>{{respo3?.en}}</small></p>
                <p class="userLoginText1" *ngIf="editservice.numLabel==2"><small>{{respo3?.de}}</small></p>
                <p class="userLoginText1" *ngIf="editservice.numLabel==3"><small>{{respo3?.fr}}</small></p>
            </div>

            <!-- Extra code for label -->
            <li *ngIf="showNewDiv==3 && isvalid" style="position: absolute; margin-top: 25px;">
                <div class="forDiv" id="loginDiv3">
                    <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                    <form class="example-form" #regForm2="ngForm">
                        <mat-form-field class="example-full-width" style="display: none;">
                            <mat-label>id</mat-label>
                            <textarea matInput name="id" [(ngModel)]="respo3.id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width englishLng">
                            <mat-label>English</mat-label>
                            <textarea matInput name="en" [(ngModel)]="respo3.en"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>dutch</mat-label>
                            <textarea matInput name="de" [(ngModel)]="respo3.de"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>french</mat-label>
                            <textarea matInput name="fr" [(ngModel)]="respo3.fr"></textarea>
                        </mat-form-field>
                    </form>
                    <button (click)="postEditData(regForm2);openDialogue1();"
                        class="btn btn-outline-success">Save</button>
                </div>
            </li>


            <br>
            <div class="mb-3">
                <div class="errorDis" *ngIf="condition==true">
                    <span> Please check your email and password</span>
                </div>
                <form #logForm="ngForm" method="post">

                    <input type="email" class="form-control form-control-lg largInpt"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required placeholder="Your email address"
                        name="username" ngModel #username="ngModel">

                    <div class="fireError" *ngIf='username.invalid && username.touched'>Enter Proper email</div>

                    <br>

                    <input type="password" class="form-control form-control-lg largInpt"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required autocomplete="on"
                        placeholder="Your password" name="password" ngModel #password="ngModel">

                    <div class="fireError" *ngIf='password.invalid && password.touched'>Password Must contain at least
                        one number and one uppercase and lowercase letter, and at least 8 or more characters</div>

                    <br>

                    <button id="loginLabel3" (click)="openDialogue(4)" *ngIf="service.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                                alt=""></span></button>
                    <button [disabled]="logForm.invalid" type="submit" class="btn fontSizeBtn largInpt loginBtn"
                        (click)="login(logForm)" *ngIf="editservice.numLabel==1">{{respo4?.en}}</button>
                    <button [disabled]="logForm.invalid" type="submit" class="btn largInpt loginBtn"
                        (click)="login(logForm)" *ngIf="editservice.numLabel==2">{{respo4?.de}}</button>
                    <button [disabled]="logForm.invalid" type="submit" class="btn largInpt loginBtn"
                        (click)="login(logForm)" *ngIf="editservice.numLabel==3">{{respo4?.fr}}</button>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <!-- For create memorial button -->
                    <button routerLink="/create-memorial" class="btn btnCM loginBtn"
                        *ngIf="editservice.numLabel==1">{{respo6?.en}}</button>
                    <button routerLink="/create-memorial" class="btn btnCM loginBtn"
                        *ngIf="editservice.numLabel==2">{{respo6?.de}}</button>
                    <button routerLink="/create-memorial" class="btn btnCM loginBtn"
                        *ngIf="editservice.numLabel==3">{{respo6?.fr}}</button>

                    <button (click)="openDialogue(6)" *ngIf="service.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton btnSpace"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                                alt=""></span></button>



                    <br>
                    <!-- [disabled]="logForm.invalid" -->
                    <br>

                    <button id="loginLabel4" (click)="openDialogue(5)" *ngIf="service.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                                alt=""></span></button>
                    <p *ngIf="editservice.numLabel==1"><a class="forgotLink"
                                routerLink="/forgot-password">{{respo5?.en}}</a></p>
                                <hr *ngIf="editservice.numLabel==1" class="forgotHr">
                    <p *ngIf="editservice.numLabel==2"><a class="forgotLink"
                                routerLink="/forgot-password">{{respo5?.de}}</a></p>
                                <hr *ngIf="editservice.numLabel==2" class="forgotHr">
                    <p *ngIf="editservice.numLabel==3"><a class="forgotLink"
                                routerLink="/forgot-password">{{respo5?.fr}}</a></p>
                                <hr *ngIf="editservice.numLabel==3" class="forgotHr">
                </form>

                <!-- Extra code for label -->
                <li *ngIf="showNewDiv==4 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="loginDiv4">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo4.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo4.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>dutch</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo4.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>french</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo4.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>


                <!-- Extra code for label -->
                <li *ngIf="showNewDiv==5 && isvalid" style="position: absolute; margin-top: 25px;">
                    <div class="forDiv" id="loginDiv5">
                        <button style="float: right;" (click)="openDialogue1()"
                            class="btn btn-outline-danger">X</button>
                        <form class="example-form" #regForm2="ngForm">
                            <mat-form-field class="example-full-width" style="display: none;">
                                <mat-label>id</mat-label>
                                <textarea matInput name="id" [(ngModel)]="respo5.id"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width englishLng">
                                <mat-label>English</mat-label>
                                <textarea matInput name="en" [(ngModel)]="respo5.en"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>dutch</mat-label>
                                <textarea matInput name="de" [(ngModel)]="respo5.de"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>french</mat-label>
                                <textarea matInput name="fr" [(ngModel)]="respo5.fr"></textarea>
                            </mat-form-field>
                        </form>
                        <button (click)="postEditData(regForm2);openDialogue1();"
                            class="btn btn-outline-success">Save</button>
                    </div>
                </li>

            </div>
        </div>

        <div class="showCase ms-5 p-3">
            <div class="d-flex justify-content-end crtBtn">
                <!-- <button routerLink="/create-memorial" class="btn btn-lg btn-danger btnCM"
                    *ngIf="editservice.numLabel==1">{{respo6?.en}}</button>
                <button routerLink="/create-memorial" class="btn btn-lg btn-danger btnCM"
                    *ngIf="editservice.numLabel==2">{{respo6?.de}}</button>
                <button routerLink="/create-memorial" class="btn btn-lg btn-danger btnCM"
                    *ngIf="editservice.numLabel==3">{{respo6?.fr}}</button>

                <button (click)="openDialogue(6)" *ngIf="service.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button> -->
            </div>

            <!-- Extra code for label -->
            <li *ngIf="showNewDiv==6 && isvalid" style="position: absolute; margin-top: 25px;">
                <div class="forDiv" id="loginDiv6">
                    <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
                    <form class="example-form" #regForm2="ngForm">
                        <mat-form-field class="example-full-width" style="display: none;">
                            <mat-label>id</mat-label>
                            <textarea matInput name="id" [(ngModel)]="respo6.id"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width englishLng">
                            <mat-label>English</mat-label>
                            <textarea matInput name="en" [(ngModel)]="respo6.en"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>dutch</mat-label>
                            <textarea matInput name="de" [(ngModel)]="respo6.de"></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>french</mat-label>
                            <textarea matInput name="fr" [(ngModel)]="respo6.fr"></textarea>
                        </mat-form-field>
                    </form>
                    <button (click)="postEditData(regForm2);openDialogue1();"
                        class="btn btn-outline-success">Save</button>
                </div>
            </li>


            <div class="image mt-5">
                <img src="../../../assets/StaticAssets/Login Page/Group 332.png">
            </div>
        </div>
    </div>

    <div class="marginImg">
      <app-memory-images></app-memory-images>
  </div>

    <!-- other components -->
    <!-- <div>
    <div class="container" id="imageMemorial">
        <img src="../../../assets/StaticAssets/Create memorial/step1/Untitled-1.png" style="width: 100%;">
        <div class="centered">"I made a memorial for my son that passed away <br> and it has been very helpful to my family
            during this difficult time."</div>
        <div class="bottom-right">John A, New York</div>
    </div>
    
</div> -->


    <!-- For spinner -->
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>

    <!-- <app-memorial-features></app-memorial-features> -->
    <app-recent></app-recent>
    <!-- <app-most-visited></app-most-visited> -->
    <!-- <app-platform></app-platform> -->
    <!-- <app-everyday></app-everyday> -->
    <app-grief></app-grief>
    <app-footer></app-footer>

</div>