<div>
    <!-- Navbar -->
    <div>
        <app-navbar></app-navbar>
    </div>
    <!-- Heading -->
    <div>
        <div class="userHeading">
            <h1>{{lovedPersonData?.fname}}&nbsp;{{lovedPersonData?.lname}}</h1>
            <!-- <h1>welcome</h1> -->
            <div class="userDate">
                <span>{{lovedPersonData?.birthdate}}</span>&nbsp;<span>-</span>&nbsp;<span>{{lovedPersonData?.starvedate}}</span>
            </div>
            <div class="userBackground">
                <p>Add Background</p>
            </div>
            <div style="float: right; margin-right: 10%;" class="pt-4" *ngFor="let item of lovedPersonData1">
                <span>
                    <img src="../../../assets/StaticAssets/Visitor Mode/share.png" alt="" style="width: 8%;">&nbsp;<small class="shareEdit">Share</small>
                </span>
                &nbsp;
                <span>
                    <img src="../../../assets/StaticAssets/Visitor Mode/eye-1.png" alt="" style="width: 8%;">&nbsp;<small class="shareEdit1">view</small>
                </span>
                &nbsp;
                <span>
                    <img src="../../../assets/StaticAssets/Visitor Mode/candle-2.png" alt="" style="width: 8%;">&nbsp;<small class="shareEdit1">{{item.litCandle}}</small>
                </span>
                &nbsp;
                <span>
                    <img src="../../../assets/StaticAssets/Visitor Mode/google-docs-1.png" alt="" style="width: 6%;">&nbsp;<small class="shareEdit1">{{item.kondolenz}}</small>
                </span>
            </div>
            <div class="steeper rounded-circle circleImage">
                <img src="" alt="">
                <!-- userImage1 -->
                <!-- class="userImage" -->
            </div>
        </div>
    </div>

    <!-- Buttons -->
    <div class="container">
        <div class="mt-5">
            <div class="pt-5">
                <button class="btn btn-outline-secondary ms-2 btnColor">Life Story</button>
                <button class="btn btn-outline-secondary ms-2 btnColor" (click)="photoVideoScroll(target)">Photo/Video
                    Gallery</button>
                <button class="btn btn-outline-secondary ms-2 btnColor"
                    (click)="condolenceScroll(target1)">Condolences</button>
                <button class="btn btn-outline-success ms-2 btnColor1"><img
                        src="../../../assets/StaticAssets/Visitor Mode/relationship.png">&nbsp; Invite</button>
            </div>
        </div>
    </div>

    <!-- Canvas component -->
    <div style="height: 70vw;" class="container pt-5">
        <app-visitor-canvas></app-visitor-canvas>
    </div>

    <!-- Photo/video gallery -->
    <div>
        <div class="photoVideoGallary" #target>
            <div class="container">
                <h6 class="pt-5">Photo/Video Gallery</h6>
                <div class="row">
                    <div class="col-12">
                        <span class="pVGallery" style="position: relative; left: 0; top: 0;">
                            <img [src]="getPhotoVideoImage1" *ngIf="!getPhotoVideoImage1" onerror="this.style.display='none'" alt="" class="imageButton">
                            <img [src]="getPhotoVideoImage1" *ngIf="getPhotoVideoImage1" alt="" class="imageButton">
                        </span>
                        <span class="pVGallery" style="position: relative; left: 0; top: 0;">
                            <img [src]="getPhotoVideoImage2" *ngIf="!getPhotoVideoImage2" onerror="this.style.display='none'" alt="" class="imageButton">
                            <img [src]="getPhotoVideoImage2" *ngIf="getPhotoVideoImage2" alt="" class="imageButton">
                           
                        </span>
                        <span class="pVGallery" style="position: relative; left: 0; top: 0;">
                            <img [src]="getPhotoVideoImage3" *ngIf="!getPhotoVideoImage3" onerror="this.style.display='none'" alt="" class="imageButton">
                            <img [src]="getPhotoVideoImage3" *ngIf="getPhotoVideoImage3" alt="" class="imageButton">
                           
                        </span>
                        <span class="pVGallery" style="position: relative; left: 0; top: 0;">
                            <img [src]="getPhotoVideoImage4" *ngIf="!getPhotoVideoImage4" onerror="this.style.display='none'" alt="" class="imageButton">
                            <img [src]="getPhotoVideoImage4" *ngIf="getPhotoVideoImage4" alt="" class="imageButton">
                           
                        </span>
                        <span class="pVGallery" style="position: relative; left: 0; top: 0;">
                            <img [src]="getPhotoVideoImage5" *ngIf="!getPhotoVideoImage5" onerror="this.style.display='none'" alt="" class="imageButton">
                            <img [src]="getPhotoVideoImage5" *ngIf="getPhotoVideoImage5" alt="" class="imageButton">
                           
                        </span>
                        <span class="pVGallery" style="position: relative; left: 0; top: 0;">
                            <img [src]="getPhotoVideoImage6" *ngIf="!getPhotoVideoImage6" onerror="this.style.display='none'" alt="" class="imageButton">
                            <img [src]="getPhotoVideoImage6" *ngIf="getPhotoVideoImage6" alt="" class="imageButton">
                           
                        </span>
                    </div>
                    <div class="col-12">
                        <span class="pVGallery" style="position: relative; left: 0; top: 0;">
                            <img [src]="getPhotoVideoImage7" *ngIf="!getPhotoVideoImage7" onerror="this.style.display='none'" alt="" class="imageButton">
                            <img [src]="getPhotoVideoImage7" *ngIf="getPhotoVideoImage7" alt="" class="imageButton">
                           
                        </span>
                        <span class="pVGallery" style="position: relative; left: 0; top: 0;">
                            <img [src]="getPhotoVideoImage8" *ngIf="!getPhotoVideoImage8" onerror="this.style.display='none'" alt="" class="imageButton">
                            <img [src]="getPhotoVideoImage8" *ngIf="getPhotoVideoImage8" alt="" class="imageButton">
                           
                        </span>
                        <span class="pVGallery" style="position: relative; left: 0; top: 0;">
                            <img [src]="getPhotoVideoImage9" *ngIf="!getPhotoVideoImage9" onerror="this.style.display='none'" alt="" class="imageButton">
                            <img [src]="getPhotoVideoImage9" *ngIf="getPhotoVideoImage9" alt="" class="imageButton">
                           
                        </span>
                        <span class="pVGallery" style="position: relative; left: 0; top: 0;">
                            <img [src]="getPhotoVideoImage10" *ngIf="!getPhotoVideoImage10" onerror="this.style.display='none'" alt="" class="imageButton">
                            <img [src]="getPhotoVideoImage10" *ngIf="getPhotoVideoImage10" alt="" class="imageButton">
                           
                        </span>
                        <span class="pVGallery" style="position: relative; left: 0; top: 0;">
                            <img [src]="getPhotoVideoImage11" *ngIf="!getPhotoVideoImage11" onerror="this.style.display='none'" alt="" class="imageButton">
                            <img [src]="getPhotoVideoImage11" *ngIf="getPhotoVideoImage11" alt="" class="imageButton">
                           
                        </span>
                        <span class="pVGallery" style="position: relative; left: 0; top: 0;">
                            <img [src]="getPhotoVideoImage12" *ngIf="!getPhotoVideoImage12" onerror="this.style.display='none'" alt="" class="imageButton">
                            <img [src]="getPhotoVideoImage12" *ngIf="getPhotoVideoImage12" alt="" class="imageButton">
                        </span>
                    </div>
                    <!-- <input id="photo" type="file" accept=".png, .jpeg, .jpg" style="display: none;"> -->
                    <!-- (change)="onselectFile($event)" -->
                <!-- </div>
            </div>
        </div>
    </div>

    <!-- condolences -->
    <div>
        <div class="container" #target1>
            <div class="editCondolences">
                <div class="pt-5">
                    <img src="../../../assets/StaticAssets/Visitor Mode/religion.png" alt="">
                </div>
                <div style=" height: 40vw;">
                    <h5 style="font-weight: bold">Latest Condolonces</h5>
                    <div class="row">
                        <div class="col-6">
                            <div class="condolencesEdit">
                                <img src="../../../assets/StaticAssets/Visitor Mode/invertedCommas.png" alt="">
                                <p style="padding: 4%; padding-left: 30%; color: white; text-align: left;">Lorem ipsum,
                                    dolor sit amet consectetur adipisicing elit. Nihil beatae ducimus temporibus
                                    repudiandae deleniti neque quibusdam porro at, dolor eos omnis! Cumque mollitia et
                                    neque ipsum molestiae iure molestias ut atque,</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="condolencesEdit">
                                <img src="../../../assets/StaticAssets/Visitor Mode/invertedCommas.png" alt="">
                                <p style="padding: 4%; padding-left: 30%; color: white; text-align: left;">Lorem ipsum
                                    dolor, sit amet consectetur adipisicing elit. Illum animi et sapiente eveniet, ipsam
                                    vitae adipisci corrupti. Nisi facilis, quisquam officia fugit eveniet nam
                                    perspiciatis, praesentium atque deserunt eaque exercitationem libero soluta, laborum
                                    nihil dolore.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-outline-secondary readAllCondo">READ ALL CONDOLENCES</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Subscribe -->
    <div>
        <div class="container">
            <div class="subscribeImage">
                <div>
                    <p class="pt-5 ms-5" style="font-weight: bold;">SUBSCRIBE TO THIS MEMORIAL</p>
                </div>
                <div style="display: flex;">
                    <span class="ms-5">
                        <input class="form-control" placeholder="Your email adress" type="text">
                    </span>
                    <span class="ms-3">
                        <button class="btn btn-dark">Subscribe</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Recent memorials -->
    <div class="recentMemorial mt-5">
        <div class="container">
            <h4 class="mb-4">
                <h5 class="recentHeading pt-5">Recent memorials</h5>
            </h4>
            <div class="recentMemo h-100 p-2">
                <div *ngFor="let memData of Memorials" class="child1">
                    <!-- <div class="mt-3 mb-2"> -->
                    <img src="{{memData.path}}" class="me-2 rounded recentImage">
                    <!-- </div> -->
                    <div class="ms-2 mt-3">
                        <h6 style="font-weight: bold;">
                            {{memData.fname}} {{ memData.lname}}
                        </h6>
                        <h6 style="color: #CF6363;">
                            {{memData.age}}Y Old,
                            &nbsp;
                            {{memData.starvetown}}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- For memorial Image -->
    <div class="mt-5">
        <app-memory-image></app-memory-image>
    </div>

    <!-- For footer -->
    <div>
        <app-footer></app-footer>
    </div>



</div>