.userHeading{
    background-color:#CF6363 ;
    height: 16vw;
}
.userHeading h1{
    text-align: center;
    color: white;
    padding-top: 2%;
}
.userDate{
    text-align: center;
    color: white;
}
.userBackground{
    text-align: center;
    color: white;
    padding-top: 1%;
    font-size: 0.6rem;
}
.circleImage{
    width: 11%;
    height: 61%;
    margin-left: 45%;
    margin-top: 2%;
    border: 5px solid white;
    background-color: gray;
}
.photoVideoGallary{
    height: 25vw;
    background-color: #F8F4EF;
}
.editCondolences{
    text-align: center;
}
/* For editCondolences */
.condolencesEdit{
    /* border: 1px solid black;  */
    background-color: #CF6363;
    border-radius: 10px;
    width: 100%; 
    height: auto;
    display: flex;
}
.readAllCondo{
    padding-left: 3%;
    padding-right: 3%;
}

.subscribeImage{
    /* background-image: "../../../assets/StaticAssets/Visitor Mode/112.png"; */
    background-image: url('../../../assets/StaticAssets/Visitor Mode/112.png');
    border-radius: 20px;
    height: 16vw;
    width: 100%;
    /* display: flex; */
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-position: center;
}
.recentMemorial{
    background-color: #F8F4EF;
}
.recentHeading{
    font-weight: bold;
    text-align: center;
}
.recentMemo{
    /* width:30%; */
    /* font-size: 0.5rem; */
    display: flex;
    /* flex-wrap: wrap; */
    align-content: flex-start;
    /* flex-direction: row; */
}
.recentMemo .child1{
    /* height: 20%; */
    font-style: normal;
    margin: 0%;
    padding: 0%;
   
}
.recentImage{
    width: 83%;
    height: auto;
    border: 2px solid #CF6363;
    text-align: center;

}























@media (min-width:481px) and (max-width:979px){
    .photoVideoGallary{
        margin-top: 140%;
    }
    .submenu{
        margin-left: 66px;
    }
}