/* for admin edit */
.forButton{
    position: relative;
    /* z-index: 10; */
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207,99,99, 0.2);
    opacity: 0.7;
}
.forDiv1{
    position: relative;
    z-index: 10;
    color: black;
    /* border: 1px dotted tomato; */
    text-align: center;
    border-radius: 10px;
    height: auto;
    /* margin-top: 10%; */
    width: 300px;
    font-size: 1rem;
    background-color: #F8F8F8;
}
.visitorDiv1{
    margin-top: -13%;
    left: 48%;
}
.visitorDiv4{
    margin-top: -13%;
    left: 0%;
}
.visitorDiv5{
    margin-top: -13%;
    left: 46%;
}
.visitorDiv6{
    margin-top: -13%;
    left: 115%;
}
.visitorDiv7{
    margin-top: -13%;
    left: 70%;
}
.visitorDiv8{
    margin-top: -63%;
    left: 159%;
}
.latestCondo{
    top: -38px;
    right: 38%;
}
.subscribeAdminButton{
    right: 73%;
    margin-top: 3%;
}
.subscribeAdminButton1{
    left: 6%;
}
.subscribeAdminButton2{
    left: 52%;
}
.recentAdminButton{
    right: 37%;
    margin-top: 3%;
}
.visitorDiv11{
    margin-top: -59%;
    left: 132%;
}
.visitorDiv12{
    margin-top: -26%;
    left: 72%;
}
.visitorDiv13{
    margin-top: -25%;
    left: 114%;
}
.visitorDiv14{
    margin-top: -103%;
    left: 170%;
}
.englishLng{
    padding-top: 15%; 
    padding-left: 2%;
    margin-left: 12%;
}


.userHeading{
    background-color:#CF6363 ;
    height: 16vw;
}
.userHeading h1{
    text-align: center;
    color: white;
    padding-top: 2%;
    font-size: 2rem;
}
.userDate{
    text-align: center;
    color: whitesmoke;
    font-size: 0.85rem;
    opacity: 0.9;

}
.share{
    float: right; 
    margin-right: 10%;
    padding-top: 7%;
}
.share1{
    float: left;
    margin-right: 10%;
    /* padding-top: 7%; */
    margin-left: 16%;
    margin-top: 7%;
    border: 1px solid white;
    height: 20px;
    width: 90px;
}
.userBackground{
    text-align: center;
    color: white;
    padding-top: 1%;
    font-size: 0.6rem;
}
.circleImage{
    width: 11%;
    height: 66%;
    margin-left: 45%;
    margin-top: 3%;
    border: 5px solid white;
    background-color: #5D5959;

    border-radius: 50%;
    overflow: hidden;
    display:inline-block;
    vertical-align:middle;
}
.leave{
    /* border: 1px solid black; */
    width: 22%;
    background-color: white;
    height: 74px;
    margin-left: 9%;
    margin-top: -3%;
    border-radius: 15px;
}
.backCorousel{
    margin-top: 7%;
}
.corouseImg{
    padding-left: 10%;
    /* height: 21%; */
    padding-top: 2%;
    width: 70%;
}
.corouseImg1{
    padding-left: 10%;
    /* height: 21%; */
    padding-top: 2%;
    width: 67%;
}
.candleAlign{
    text-align: center;
    margin-top: 4%;
    cursor: pointer;
}
.candleAlign1{
    width: 84px;
    margin-left: -29%;
}
.fullDiv{
    width: 90%;
    margin-left: 4%;
    margin-top: 2%;
}
.candleFontColor{
    font-size: 0.5rem;
    color: #B5B5B5;
    cursor: pointer;
}
.candleFontColorNew{
    font-size: 0.5rem;
    color: #B5B5B5;
    margin-left: -30%;
    margin-right: -30%;
}
.prevButton{
    margin-left: -3%;
    margin-top: -6%;
}
.nextButton{
    margin-left: -3%;
    margin-top: -6%;
}
.backImg{
    width: 55%;
}
.content2{
    display: flex;
    height: 70vw;
}
.box1{
    width: 58%;
}
.box2{
   width: 40%;
   margin-top: 7%;
}
.recentCsndleSection{
    color: #CF6363;
    font-size: 0.9rem;
    font-weight: 500;
}
.recentCsndleSectionMain{
    margin-top:18%;
}
.recentCsndleSectionMain1{
    margin-top:11%;
}
.recentCsndleSectionShow{
    float: right;
    font-size: 0.7rem;
    color: #4BC252;
    font-weight: 500;
    margin-top: 2%;
}
.recentCsndleSectionShow1{
    float: right;
    font-size: 0.7rem;
    color: #4BC252;
    font-weight: 500;
    /* margin-top: 2%; */
}
.recentCsndleSectionImg{
    margin-top: -3%;
    width: 8%;
}
.recentCsndleSectionImg1{
    margin-top: -3%;
    width: 5%;
}
.frontImage{
    color: green;
    width: 9%;
}
.frontCorousel{
    float: right;
    margin-top: 7%;

}
.circleImage img{
    width:100%;
}
.plusImageOnHeader{
      /* float: right; */
      margin-top: 1.5%;
      /* border: 1px solid white; */
      z-index: 500;
      color: white;
      width: 2%;
      margin-left: -2%;
}

.photoVideoGallary{
    height: 35vw;
    background-color: #F8F4EF;
    margin-top: 1%;
}
.photoVideoGalleryText{
    font-size: 0.85rem;
    font-weight: 600;
    margin-left: 10%;
}
.editCondolences{
    text-align: center;
}
.condolenceMain{
    height: 15vw; 
    margin-bottom: 2%;
}
.condolenceMain1{
    height: auto; 
    margin-bottom: 2%;
}
/* For editCondolences */
.condolencesEdit{
    /* border: 1px solid black;  */
    background-color: #CF6363;
    border-radius: 20px;
    width: 100%; 
    height: 13vw;
    display: flex;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}
.visitorCanvasCss{
    height: 70vw; 
    margin-left: 6%; 
    width: 100%;
}
.condolencesEdit1{
      /* border: 1px solid black;  */
    background-color: #CF6363;
    border-radius: 10px;
    width: 100%; 
    height: auto;
    display: flex;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}

.readAllCondo{
    padding-left: 3%;
    padding-right: 3%;
    border: 2px solid black;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 1%;
    padding-bottom: 1%;
}
.readAllCondo:hover{
    background-color: #B5B5B5;
    color: white;
    border: none;
}

.crossImg{
    height: 63px;
}
.condolenceDiv{
    height: auto;
}
.condolencesText{
    font-weight: 600;
    font-size: 1.3rem;
}
.qotesImg{
    width: 68px;
    margin-top: 19%;
    opacity: 0.9;
}
.condolenceImg{
    width: 6%;
    float: left;
    margin-left: -1%;
}
.condolenceText{
    font-size: 0.7rem;
    color: #FFFFFF;
    opacity: 0.8;
    float: left;
    padding-top: 1%;
}

.condolencesComment{
    font-size: 0.9rem;
    color: #FFFFFF;
    text-align: justify;
    float: left;
    padding-top: 2%;
    width: 90%;
    opacity: 0.9;
    margin-left: -7%;
    height: 6vw;
    /* border: 1px solid black; */
    overflow: hidden;
}
.condolencesComment1{
    font-size: 0.9rem;
    color: #FFFFFF;
    text-align: justify;
    float: left;
    padding-top: 2%;
    width: 90%;
    opacity: 0.9;
    margin-left: -7%;
    height: auto;
    /* border: 1px solid black; */
    overflow: hidden;
}
.rightImg{
    width: 12%;
}
.viewEntire{
    float: left;
    font-size: 0.7rem;
    font-weight: 500;
    cursor: pointer;
}
.deletrImg{
    width: 20px;
}
.viewEntireDiv{
    padding-top: 20%;
}
.subscribeImage{
    /* background-image: "../../../assets/StaticAssets/Visitor Mode/112.png"; */
    background-image: url('../../../assets/StaticAssets/Visitor Mode/112.png');
    background-size: 100%;
    border-radius: 20px;
    height: 14vw;
    width: 100%;
    /* display: flex; */
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-position: center;
}
.subscribeText{
    font-size: 0.9rem;
    font-weight: 500;
}
.subInputBox{
    width: 29%;
    height: 45px;
    border-radius: 0px;
}
.subInputBox1{
    height: 45px;
    border-radius: 0px;
}
.subscribeBtn{
    height: 45px;
    font-size: 0.9rem;
    padding-left: 30%;
    padding-right: 30%;
    border-radius: 0;
}
::placeholder{
    font-size: 0.9rem;
    padding-left: 3%;
    color: #B5B5B5;
}
.recentMemorial{
    background-color: #F8F4EF;
    height: 25vw;
}
.recentHeading{
    font-weight: 800;
    text-align: center;
    font-size: 1.1rem;
}
.recentMemo{
    /* width:30%; */
    /* font-size: 0.5rem; */
    display: flex;
    /* flex-wrap: wrap; */
    align-content: flex-start;
    /* flex-direction: row; */
    margin-left: 12%;
}
.recentMemo .child1{
    /* height: 20%; */
    font-style: normal;
    margin: 0%;
    padding: 0%;
   
}
.recentImage{
    width: 50%;
    height: auto;
    border: 2px solid #CF6363;
    text-align: center;

}
.recentName{
    font-weight: 600;
    font-size: 0.9rem;
}
.pVGallery{
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
    width: 14%;
    height: 150px;
    margin: 1%;
    border-radius: 7px;
}
.imageButton{
    position: relative;
    width: 100%; 
    height: 100%;
}
.plusButton{
    position: absolute;
    /* float: right; */
    left: 80%;
    /* z-index: 10; */
}

.shareEdit{
    font-size: 0.6rem;
    color: whitesmoke;
    cursor: pointer;
    opacity: 0.7;
}
.shareEdit1{
    font-size: 0.7rem; 
    color: white;
}

.photoVideoCss{
    border: 1px solid black;
    width: 12%;
    height: 20%;
}























@media (min-width:481px) and (max-width:979px){
    .photoVideoGallary{
        margin-top: 140%;
    }
    .submenu{
        margin-left: 66px;
    }
}

@media (min-width:1518px)and (max-width:2017px){
    .content2{
        height: 53vw;
    }
    .photoVideoGalleryText{
        margin-left: 1%;
    }
}
@media (min-width:2017px)and (max-width:2049px){
   
}
@media (min-width:2050px)and (max-width:3839px){
    .leave{
        height: 100px;
    }
    .content2{
        height: 36vw;
    }
    .visitorCanvasCss{
        height: 36vw;
    }
    .photoVideoGallary{
        height: 18vw;
    }
    /* .photoVideoGallaryDiv{
        margin-right: 16%;
    } */
    .subscribeImage{
        background-position: top;
    }
    .photoVideoGalleryText{
        margin-left: 1%;
    }
}
@media (min-width:3840px)and (max-width:4098px){
    .leave{
        height: 144px;
    }
    .circleImage{
        margin-top: 7%;
        width: 8%;
        height: 50%;
    }
    .content2{
        height: 25vw;
    }
    .visitorCanvasCss{
        height: 36vw;
    }
    .photoVideoGallary{
        height: 12vw;
    }
    .subscribeImage{
        background-position: top;
        height: 6vw;
    }
    .recentMemorial{
        height: 10vw;
    }
    .photoVideoGalleryText{
        margin-left: 1%;
    }
}
@media (min-width:4098px){
    
}