<mat-dialog-content class="mat-typography">
    <div>
        <small class="textPop">Your password has been reset,</small>
    </div>
    <div>
        <small class="textPop1">Please check your email and login again.</small>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-outline-dark m-2">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-outline-dark m-2"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>Ok<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>  </button>
  </mat-dialog-actions>
