<div class="content2 w-100 p-1 ">
    <img style="display: none;" src="../../../../assets/StaticAssets/Home page/asset-1.png" id="igh" alt="">

    <div class="box1">
        <!-- <canvas id="Mycanvas" class="canvas" crossorigin="anonymous" height="600" width="600"></canvas> -->
            <!-- (drop)="DropImageToCan($event)" -->

        <img [src]="jsonData1" alt="" style="width: 100%; height: auto;">

        <!-- For vita text -->
        <div class="row">
            <!-- <span class="col-1 vitaImage1" (click)="openUser(100)"><img
                    src="../../../../assets/StaticAssets/Visitor Mode/writing (1).png" alt=""></span> -->
            <span class="col-11 vertical-menu">
                <p class="vitaFetch">{{vitaData}}</p>
            </span>
        </div>
        <!-- Edit memorial page -->
        <div>
            <button class="btn btn-outline-danger" (click)="goesToEditMemo()">Edit Memorial</button>
        </div>
    </div>
</div>