@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

.vertical-menu {
    width: 200%;
    height: 150px;
    overflow-x: auto;
}

.candleSection {
    border: 1px solid black;
    width: 100%;
    height: 14vw;
}

.giftSection {
    border: 1px solid black;
    width: 100%;
    height: 17.2vw;
}

/* css for labels */
.forButton {
    position: relative;
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207, 99, 99, 0.2);
    opacity: 0.7;
}

/* For div css */
.forDiv {
    position: relative;
    z-index: 10;
    color: black;
    border: 1px dotted tomato;
    text-align: center;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 300px;
    font-size: 1rem;
    background-color: white;
}

.forVitaDiv {
    position: absolute;
    z-index: 10;
    color: black;
    border: 1px dotted tomato;
    border-radius: 10px;
    height: auto;
    margin-top: 50%;
    margin-left: 4%;
    width: 39%;
    font-size: 1rem;
    background-color: #F8F8F8;
}

#canvasDivCss1 {
    left: 178%;
    margin-top: -2%;
}

#canvasDivCss2 {
    left: 233%;
    margin-top: -2%;
}

#canvasDivCss3 {
    left: 268%;
    margin-top: -2%;
}

#canvasDivCss4 {
    left: 305%;
    margin-top: -2%;
}

#canvasDivCss5 {
    left: 151%;
    margin-top: 42%;
}

#canvasDivCss6 {
    left: 199%;
    margin-top: 42%;
}

#canvasDivCss7 {
    left: 245%;
    margin-top: 42%;
}

#canvasDivCss8 {
    left: 287%;
    margin-top: 42%;
}

#canvasDivCss9 {
    left: 334%;
    margin-top: 42%;
}

#canvasDivCss10 {
    margin-top: 34%;
    left: 284%;
}

#canvasDivCss16 {
    left: 133%;
    margin-top: -13%;
}

#canvasDivCss17 {
    left: 246%;
    margin-top: -13%;
}

#canvasDivCss18 {
    left: 125%;
    margin-top: 82%;
}

#canvasDivCss19 {
    left: 240%;
    margin-top: 79%;
}

#canvasDivCss20 {
    left: 134%;
    margin-top: 121%;
}

.saveAndPublish {
    top: -140%;
    right: 33%;
}

.englishLng {
    padding-top: 15%;
    padding-left: 2%;
    margin-left: 12%;
}

.btnColorHeading {
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.headerCanvasTxt {
    font-size: 0.7rem;
    color: #6A6A6A;
}

.decorationImg {
    width: 14px;
    margin-top: -6%;
}

.verticalRow {
    margin-top: 1%;
    color: #F2F2F2;
    margin-left: -1%;
    margin-right: -2%;
}

.btnColorHeading {
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.candleImgSize {
    width: 23px;
}

.candleDarkImgSize {
    width: 63px;
    margin-bottom: -17%;
}

.headerCanvasTxt2 {
    font-size: 0.6rem;
    color: #6A6A6A;
    font-weight: 600;
}

.candleImgSize1 {
    width: 30%;
}

.candleImgSize2 {
    width: 35%;
}

.candleImgSize3 {
    width: 45%;
}

.candleImgSize4 {
    width: 35%;
}

#tombstoneWidth {
    width: 17%;
}

.personNav {
    width: 100%;
}

.tombstoneText {
    margin-top: 3%;
    font-size: 0.9rem;
    /* color: #4BC252; */
}

.tombstoneText1 {
    margin-top: 0%;
    font-size: 0.9rem;
    /* color: black; */
}

.personCentricMemo {
    height: 23px;
    width: 23px;
}

.tambstone {
    height: 100%;
    width: 100%;
}

.tambstone .carousel-item button {
    height: 45%;
    width: 32%;
}

.tambstone button img {
    height: 100%;
    width: 100%;
}

.personImageSize {
    width: 100%;
    margin-left: 67%;
}

.personImageSizeNew {
    margin-left: 0%;
    font-size: 0.7rem;
}

.Photo {
    text-align: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

#photoNew {
    display: none;
}

#createMemoDivCssNew1 {
    left: 12%;
}

#createMemoDivCssNew12 {
    left: 79%;
    margin-top: 40%;
}

.box1 {
    height: auto;
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundText {
    font-size: 0.65rem;
    text-align: center;
    margin-bottom: -6%;
    margin-top: 5%;
    color: #B5B5B5;
    opacity: 0.9;
}

.saveBtn {
    background-color: #4BC252;
    color: white;
    padding: 1%;
    padding-left: 6%;
    padding-right: 6%;
    text-align: center;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin-top: -24%;
}

.textAlign1 {
    margin-left: 2%;
}

.changeTombstone {
    font-size: 0.52rem;
    font-weight: bold;
}

.flwSize {
    width: 80px;
    height: 105px;
}

.alignBgcolor {
    border: 1px solid black;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    margin: 2px;
}

.alignBgcolor:hover {
    background-color: lightgray;
}

.alignBgcolor:focus {
    background-color: lightgray;
}

.colorPickerImg {
    text-align: center;
    cursor: pointer;
}

.vitaData {
    margin-top: 18px;
    width: 100%;
    height: 10%;
    border: none;
}

.flowers {
    height: auto;
    width: 6rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-block: inherit;
}

.canvas {
    border: 2px solid black;
}

.vitaFetch {
    margin-top: 5%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.9rem;
}

.vitaImage {
    width: 79.666667%;
}

.vitaImage1 {
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.box2 {
    height: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}

.box3 {
    height: auto;
    width: 56%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.showbackground {
    height: 100px;
    width: 100px;
}

.background {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    flex-direction: row;
    justify-content: flex-start;
}

.menuNew {
    width: 100%;
    margin-top: -25%;
}

.recentCsndleSection {
    color: #CF6363;
    font-size: 0.9rem;
    font-weight: 500;
}

.recentCsndleSectionMain {
    margin-top: 18%;
}

.recentCsndleSectionMain1 {
    margin-top: 11%;
}

.recentCsndleSectionShow {
    float: right;
    font-size: 0.7rem;
    color: #4BC252;
    font-weight: 500;
    margin-top: 2%;
}

.recentCsndleSectionShow1 {
    float: right;
    font-size: 0.7rem;
    color: #4BC252;
    font-weight: 500;
}

.recentCsndleSectionImg {
    margin-top: -3%;
    width: 8%;
}

.recentCsndleSectionImg1 {
    margin-top: -3%;
    width: 5%;
}

.frontImage {
    color: green;
    width: 9%;
}


.submenu {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.submenu .candle {
    height: 100%;
    width: 14%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 0.65rem;
    cursor: pointer;
}

.SubmenuContent {
    height: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    margin-left: 4%;
}

.carousel-indicators button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.tombStyle {
    height: 130px;
    width: 130px;
}

.canddles {
    height: 92px;
    width: 70px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: move;
}

.carousel-control-next {
    position: absolute;
    top: 40%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 15%;
    height: 10%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.carousel-control-prev {
    position: absolute;
    top: 40%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 15%;
    height: 10%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.carousel-item.active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.background1 {
    height: 100%;
    width: 100%;
    margin-top: 7%;
}

.background1 .carousel-item button {
    height: 45%;
    width: 32%;
}

.backWidth {
    width: 90%;
    margin-top: 6%;
    margin-left: 3%;
}

.backMargin {
    padding-left: 9%;
}

#tombstoneSizeBack {
    height: 160px;
    width: 160px;
    padding: 6%;
}

.imgCorouselRight {
    margin-left: 50%;
}

.imgCorouselLeft {
    margin-right: 50%;
}

.itemAlign {
    width: 72%;
    margin-left: 100px;
}

.itemAlign1 {
    width: 85%;
    margin-left: 76px;
}

.URNS {
    height: 6rem;
    width: 6rem;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vita {
    width: 80%;
    height: 75%;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5%;
}

.vitaBtnColor {
    border: 1px solid black;
    background-color: #4BC252;
    color: white;
}

.vitaBtnColor:hover {
    border: none;
    background-color: #4BC252;
    color: white;
}

.video {
    width: 100%;
    height: 75%;
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.video .addVideo {
    height: 50%;
    width: 30%;
    border: 2px solid gray;
    display: flex;
}

.content2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 70vw;
}

#toggleVideo {
    visibility: hidden;
}

#divCanvas {
    height: 50%;
    width: 80%;
}

.btnAddText {
    background-color: lightgray;
    color: white;
}

::placeholder {
    font-size: 0.8rem;
    padding-left: 3%;
}

#imgLogo {
    width: 51px;
    height: 49px;
}

@media (max-width:480px) {
    .box1 {
        height: auto;
        width: 100%;
        display: inline-block;
        flex-direction: column;
        position: relative;
    }

    .personCentric {
        height: 198px;
        width: 71%;
    }

    .box2 {
        height: auto;
        width: 100%;
        display: inline-block;
        flex-direction: column;
    }

    .carousel-control-prev {
        width: 1rem;
    }

    .carousel-control-next {
        width: 1rem;
    }

    .itemAlign {
        width: 100%;
        margin-left: 0px;
    }

    .menu {
        width: 100%;
        display: block;
        flex-direction: column;
    }

    .submenu .candle {
        height: 100%;
        width: 14%;
        display: inline-block;
        text-align: center;
        align-items: center;
        font-size: 0.6rem;
        padding-top: 4%;
    }

    #imgLogo {
        /* margin-left: inherit; */
        width: 42px;
        height: 42px;
    }

    #rect {
        width: 100%;
    }

    .background {
        padding-top: 7%;
    }

    .video .addVideo {
        height: 70%;
        align-items: center;
        text-align: center;
        padding-top: 2%;
        width: 35%;
        border: 2px solid gray;
        display: flex;
    }

    .tombStyle {
        height: 70px;
        width: 70px;
    }


}

@media (min-width:481px) and (max-width:780px) {
    .box1 {
        /* background-color: rebeccapurple; */
        height: auto;
        width: 100%;
        /* text-align: center; */
        padding-left: 68px;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
    }

    #mobileRes {
        height: 170px;
        width: 180px;
        align-items: center;
    }

    .personImageSize {
        margin-left: 23%;
    }

    .forVitaDiv {
        margin-top: 90%;
        margin-left: 13%;
        width: 74%;
    }

    .box1 button {
        margin-left: 265px;
        margin-bottom: 2%;
    }

    .menu {
        margin-left: 117px;
    }

    .box2 {
        /* background-color: #f87171;  */
        height: auto;
        width: 100%;
        display: block;
        flex-direction: column;
        /* flex-wrap: wrap; */
        /* align-content: flex-start; */

    }

    .itemAlign {
        width: 90%;
        margin-left: 35px;
    }

    .carousel-control-prev {
        width: 1rem;
    }

    .carousel-control-next {
        width: 1rem;
    }

    .tombStyle {
        height: 120px;
        width: 120px;
    }

    .submenu {
        margin-left: 66px;
    }

    .submenu .candle {
        width: 13%;
    }

    #canvasDivCss1 {
        left: 76%;
        margin-top: 214%;
    }

    #canvasDivCss2 {
        left: 135%;
        margin-top: 212%;
    }

    #canvasDivCss3 {
        left: 69%;
        margin-top: 212%;
    }

    #canvasDivCss4 {
        left: 106%;
        margin-top: 212%;
    }

    #canvasDivCss5 {
        left: 32%;
        margin-top: 255%;
    }

    #canvasDivCss6 {
        left: 79%;
        margin-top: 254%;
    }

    #canvasDivCss7 {
        left: 125%;
        margin-top: 256%;
    }

    #canvasDivCss8 {
        left: 75%;
        margin-top: 253%;
    }

    #canvasDivCss9 {
        left: 112%;
        margin-top: 259%;
    }

    #canvasDivCss10 {
        margin-top: 365%;
        left: 91%;
    }

}

@media (min-width:781px) and (max-width:1160px) {
    .box1 {
        /* background-color: rebeccapurple; */
        height: auto;
        width: 70%;
        display: inline-block;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
    }

    .forVitaDiv {
        margin-top: 84%;
        margin-left: 5%;
        width: 70%;
    }

    .box2 {
        /* background-color: #f87171;  */
        height: auto;
        width: 100%;
        display: block;
        flex-direction: column;
        /* flex-wrap: wrap; */
        /* align-content: flex-start; */

    }
}

/* for big device */
/* @media (min-width:1517px){
    .content2{
        height: 49vw;
    }
}*/

@media (min-width:1517px)and (max-width:2017px) {
    .content2 {
        height: 47vw;
    }

    .content2 {
        height: 49vw;
        margin-left: 8%;
    }

    .giftSection {
        height: 16.5vw;
    }

    .subscribeImage {
        background-size: 98%;
    }
}

@media (min-width:1517px)and (max-width:2017px) {
    .giftSection {
        height: 12.5vw;
    }
}

@media (min-width:2017px)and (max-width:2049px) {
    .content2 {
        height: 38vw;
    }
}

@media (min-width:2050px)and (max-width:2731px) {
    .leave {
        height: 100px;
    }

    .giftSection {
        height: 10vw;
    }

    .candleSection {
        height: 10vw;
    }

    .content2 {
        height: 35vw;
        margin-left: 8%;
    }
}

@media (min-width:2732px) and (max-width:4098px) {
    .content2 {
        height: 25vw;
        margin-left: 8%;
    }

    .giftSection {
        height: 6.5vw;
    }

    .candleSection {
        height: 7vw;
    }

}

@media (min-width:4098px) {
    .content2 {
        height: 25vw;
    }
}