@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap');

/* css for labels */
.forButton {
    position: relative;
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207, 99, 99, 0.2);
    opacity: 0.7;
}

/* For div css */
.forDiv {
    position: relative;
    z-index: 10;
    color: black;
    text-align: center;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 300px;
    font-size: 1rem;
    background-color: #F8F8F8;
}

.englishLng {
    padding-top: 15%;
    padding-left: 2%;
    margin-left: 12%;
}

.userText {
    padding-left: 4.5%;
    width: 108%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin: 2% auto;
}


.centered {
    position: absolute;
    top: 53%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: #4A4A4B;
    font-size: 1.35rem;
    font-family: 'Satisfy', cursive;
    width: 100%;
}

.centered1 {
    position: absolute;
    top: 29%;
    left: 56%;
    transform: translate(-50%, -50%);
    color: #4A4A4B;
    font-size: 1.5rem;
    font-family: 'Satisfy', cursive;
    width: 100%;
}

.fontStyle {
    font-family: 'Satisfy', cursive;
    font-size: 1.4rem;
    color: grey;
}

.centered2 {
    position: absolute;
    top: 49%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'Rubik', sans-serif;
}


.bottom-right {
    position: absolute;
    bottom: 11px;
    right: 328px;
    color: grey;
    width: 14%;
    font-family: 'Rubik', sans-serif;
}

.fontCenter {
    font-size: 0.85rem;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 356px;
    color: black;
    font-weight: 500;
    font-size: 0.85rem;
}

.bottom-right1 {
    position: absolute;
    bottom: 20px;
    right: 359px;
    color: black;
    font-weight: 500;
    font-size: 0.85rem;
}

.memoImg {
    height: 15px;
}

#createMemoDivCss15 {
    margin-top: -61%;
    left: 286%;
}

#createMemoDivCss16 {
    margin-top: -146%;
    left: 160%;
}

#createMemoDivCss17 {
    left: 49%;
    margin-top: -131%;
}

#createMemoDivCss18 {
    left: 111%;
    margin-top: -131%;
}

#createMemoDivCss19 {
    left: 166%;
    margin-top: -131%;
}

@media (min-width:481px) and (max-width:979px) {
    .centered {
        font-size: 1rem;
    }

    .bottom-left {
        bottom: 25px;
        left: 540px;
        font-size: 1rem;
    }

    #rect {
        width: 100%;
    }

    .bottom-right1 {
        bottom: 25px;
        right: 550px;
        font-size: 1rem;
    }

    #imageMemorial {
        font-size: 0.7rem;
    }
}

@media (min-width:980px) and (max-width:1197px) {
    .nextBtn1 {
        padding-top: 900px;
    }

    .centered {
        font-size: 1rem;
    }

    .bottom-left {
        bottom: 25px;
        left: 480px;
        font-size: 1rem;
    }

    .bottom-right1 {
        bottom: 25px;
        right: 480px;
        font-size: 1rem;
    }
}

@media (min-width:992px) and (max-width:1197px) {
    .centered {
        font-size: 1rem;
    }

    .bottom-left {
        bottom: 15px;
        left: 558px;
        font-size: 0.8rem;
    }

    .bottom-right1 {
        bottom: 15px;
        right: 552px;
        font-size: 0.8rem;
    }
}

@media (min-width:1398px) {
    .centered {
        font-size: 1rem;
    }

    .fontCenter {
        font-size: 1rem;
        margin-top: -4px;
        left: 50%;
    }

    .bottom-left {
        bottom: 25px;
        left: 419px;
        font-size: 1rem;
    }

    .bottom-right1 {
        bottom: 25px;
        right: 422px;
        font-size: 1rem;
    }

    .userText {
        font-size: 1.5rem;
    }
}