<div class="container" id="imageMemorial" *ngIf="loginservice.hideMemorialImage">
    <img src="../../../assets/StaticAssets/Create memorial/step1/Untitled-1.png" style="width: 110.4%;">
    <div class="centered1">
        <button (click)="openDialogue(20)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>

        <p *ngIf="editservice.numLabel==1">{{respo20?.en}}</p>
        <p *ngIf="editservice.numLabel==2">{{respo20?.de}}</p>
        <p *ngIf="editservice.numLabel==3">{{respo20?.fr}}</p>
    </div>
    <div class="centered">
        <button (click)="openDialogue(15)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>

        <p class="userText" *ngIf="editservice.numLabel==1">{{respo15?.en}}</p>
        <p class="userText" *ngIf="editservice.numLabel==2">{{respo15?.de}}</p>
        <p class="userText" *ngIf="editservice.numLabel==3">{{respo15?.fr}}</p>
    </div>

    <!-- Extra code for label -->
    <li *ngIf="showNewDiv==15 && isvalid" style="position: absolute; margin-top: 25px;">
        <div class="forDiv" id="createMemoDivCss15">
            <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
            <form class="example-form" #regForm2="ngForm">
                <mat-form-field class="example-full-width" style="display: none;">
                    <mat-label>id</mat-label>
                    <textarea matInput name="id" [(ngModel)]="respo15.id"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width englishLng">
                    <mat-label>English</mat-label>
                    <textarea matInput name="en" [(ngModel)]="respo15.en"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>dutch</mat-label>
                    <textarea matInput name="de" [(ngModel)]="respo15.de"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>french</mat-label>
                    <textarea matInput name="fr" [(ngModel)]="respo15.fr"></textarea>
                </mat-form-field>
            </form>
            <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
        </div>
    </li>
     <!-- Extra code for label -->
     <li *ngIf="showNewDiv==20 && isvalid" style="position: absolute; margin-top: 25px;">
        <div class="forDiv" id="createMemoDivCss15">
            <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
            <form class="example-form" #regForm2="ngForm">
                <mat-form-field class="example-full-width" style="display: none;">
                    <mat-label>id</mat-label>
                    <textarea matInput name="id" [(ngModel)]="respo20.id"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width englishLng">
                    <mat-label>English</mat-label>
                    <textarea matInput name="en" [(ngModel)]="respo20.en"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>dutch</mat-label>
                    <textarea matInput name="de" [(ngModel)]="respo20.de"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>french</mat-label>
                    <textarea matInput name="fr" [(ngModel)]="respo20.fr"></textarea>
                </mat-form-field>
            </form>
            <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
        </div>
    </li>



    <div class="bottom-right">
        <button (click)="openDialogue(16)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>

        <p *ngIf="editservice.numLabel==1">{{respo16?.en}}</p>
        <p *ngIf="editservice.numLabel==2">{{respo16?.de}}</p>
        <p *ngIf="editservice.numLabel==3">{{respo16?.fr}}</p>
    </div>

    <!-- Extra code for label -->
    <li *ngIf="showNewDiv==16 && isvalid" style="position: absolute; margin-top: 25px;">
        <div class="forDiv" id="createMemoDivCss16">
            <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
            <form class="example-form" #regForm2="ngForm">
                <mat-form-field class="example-full-width" style="display: none;">
                    <mat-label>id</mat-label>
                    <textarea matInput name="id" [(ngModel)]="respo16.id"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width englishLng">
                    <mat-label>English</mat-label>
                    <textarea matInput name="en" [(ngModel)]="respo16.en"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>dutch</mat-label>
                    <textarea matInput name="de" [(ngModel)]="respo16.de"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>french</mat-label>
                    <textarea matInput name="fr" [(ngModel)]="respo16.fr"></textarea>
                </mat-form-field>
            </form>
            <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
        </div>
    </li>
</div>
<div class="container">
    <img id="rect" src="../../../assets/StaticAssets/Create memorial/step1/Rectangle 375.png" style="width: 42%;">
    <div class="bottom-left"><span><img class="memoImg" src="../../../assets/StaticAssets/Create memorial/step1/funeral (1).png">&nbsp;</span>
        <small *ngIf="editservice.numLabel==1">{{respo17?.en}}</small>
        <small *ngIf="editservice.numLabel==2">{{respo17?.de}}</small>
        <small *ngIf="editservice.numLabel==3">{{respo17?.fr}}</small>

        <button (click)="openDialogue(17)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>
    </div>

    <li *ngIf="showNewDiv==17 && isvalid" style="position: absolute; margin-top: 25px;">
        <div class="forDiv" id="createMemoDivCss17">
            <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
            <form class="example-form" #regForm2="ngForm">
                <mat-form-field class="example-full-width" style="display: none;">
                    <mat-label>id</mat-label>
                    <textarea matInput name="id" [(ngModel)]="respo17.id"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width englishLng">
                    <mat-label>English</mat-label>
                    <textarea matInput name="en" [(ngModel)]="respo17.en"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>dutch</mat-label>
                    <textarea matInput name="de" [(ngModel)]="respo17.de"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>french</mat-label>
                    <textarea matInput name="fr" [(ngModel)]="respo17.fr"></textarea>
                </mat-form-field>
            </form>
            <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
        </div>
    </li>

    <div class="centered2 fontCenter">
        <span>
            <img class="memoImg" src="../../../assets/StaticAssets/Create memorial/step3/Group 339.png">&nbsp;
            <small *ngIf="editservice.numLabel==1">{{respo18?.en}}</small>
            <small *ngIf="editservice.numLabel==2">{{respo18?.de}}</small>
            <small *ngIf="editservice.numLabel==3">{{respo18?.fr}}</small>
        </span>

        <button (click)="openDialogue(18)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>
    </div>

    <li *ngIf="showNewDiv==18 && isvalid" style="position: absolute; margin-top: 25px;">
        <div class="forDiv" id="createMemoDivCss18">
            <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
            <form class="example-form" #regForm2="ngForm">
                <mat-form-field class="example-full-width" style="display: none;">
                    <mat-label>id</mat-label>
                    <textarea matInput name="id" [(ngModel)]="respo18.id"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width englishLng">
                    <mat-label>English</mat-label>
                    <textarea matInput name="en" [(ngModel)]="respo18.en"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>dutch</mat-label>
                    <textarea matInput name="de" [(ngModel)]="respo18.de"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>french</mat-label>
                    <textarea matInput name="fr" [(ngModel)]="respo18.fr"></textarea>
                </mat-form-field>
            </form>
            <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
        </div>
    </li>

    <div class="bottom-right1"><span><img class="memoImg" src="../../../assets/StaticAssets/Create memorial/step1/candle.png">&nbsp;
            <small *ngIf="editservice.numLabel==1">{{respo19?.en}}</small>
            <small *ngIf="editservice.numLabel==2">{{respo19?.de}}</small>
            <small *ngIf="editservice.numLabel==3">{{respo19?.fr}}</small>
        </span>

        <button (click)="openDialogue(19)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>
    </div>

    <li *ngIf="showNewDiv==19 && isvalid" style="position: absolute; margin-top: 25px;">
        <div class="forDiv" id="createMemoDivCss19">
            <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
            <form class="example-form" #regForm2="ngForm">
                <mat-form-field class="example-full-width" style="display: none;">
                    <mat-label>id</mat-label>
                    <textarea matInput name="id" [(ngModel)]="respo19.id"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width englishLng">
                    <mat-label>English</mat-label>
                    <textarea matInput name="en" [(ngModel)]="respo19.en"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>dutch</mat-label>
                    <textarea matInput name="de" [(ngModel)]="respo19.de"></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>french</mat-label>
                    <textarea matInput name="fr" [(ngModel)]="respo19.fr"></textarea>
                </mat-form-field>
            </form>
            <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
        </div>
    </li>


</div>