@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap');

/* css for labels */
.forButton {
    position: relative;
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207, 99, 99, 0.2);
    opacity: 0.7;
}

/* For div css */
.forDiv {
    position: relative;
    z-index: 10;
    color: black;
    text-align: center;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 300px;
    font-size: 1rem;
    background-color: #F8F8F8;
}

.englishLng {
    padding-top: 15%;
    padding-left: 2%;
    margin-left: 12%;
}

.userText {
    padding-left: 4.5%;
    width: 100%;
}

.container {
    text-align: center;
    color: white;
    margin: 2% auto;
}

.footer-banner {
    background-image: url("../../../assets/StaticAssets/Create memorial/step1/Untitled-1.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 90px 0px;
    position: relative;
}

.centered {
    position: absolute;
    top: 53%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: #4A4A4B;
    font-size: 1.35rem;
    font-family: 'Satisfy', cursive;
    width: 100%;
}

.centered1 {
    position: absolute;
    top: 29%;
    left: 56%;
    transform: translate(-50%, -50%);
    color: #4A4A4B;
    font-size: 1.5rem;
    font-family: 'Satisfy', cursive;
    width: 100%;
}

.fontStyle {
    font-family: 'Satisfy', cursive;
    font-size: 1.4rem;
    color: grey;
}

.centered2 {
    position: absolute;
    top: 49%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: 'Rubik', sans-serif;
}


.bottom-right {
    position: absolute;
    bottom: 11px;
    right: 328px;
    color: grey;
    width: 14%;
    font-family: 'Rubik', sans-serif;
}

.main-container-box {
    background-color: #f8f7f6;
    padding: 13px 13px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 50%;
}

.fontCenter {
    font-size: 0.9rem;
    color: black;
    font-family: 'Rubik', sans-serif;
}

.memoImg {
    height: 15px;
}

#createMemoDivCss15 {
    margin-top: -61%;
    left: 286%;
}

#createMemoDivCss16 {
    margin-top: -146%;
    left: 160%;
}

#createMemoDivCss17 {
    left: 49%;
    margin-top: -131%;
}

#createMemoDivCss18 {
    left: 111%;
    margin-top: -131%;
}

#createMemoDivCss19 {
    left: 166%;
    margin-top: -131%;
}

@media (max-width:481px) {
    .centered {
        font-size: 0.5rem;
    }

    .centered1 {
        position: absolute;
        top: 29%;
        left: 56%;
        transform: translate(-50%, -50%);
        color: #4A4A4B;
        font-size: 0.5rem;
        font-family: 'Satisfy', cursive;
        width: 100%;
    }

    .bottom-right {
        position: absolute;
        bottom: -12px;
        right: 90px;
        color: grey;
        width: 30%;
        font-family: 'Rubik', sans-serif;
    }

    #rect {
        width: 100%;
    }

    #imageMemorial {
        font-size: 0.7rem;
    }
}

@media (min-width:481px) and (max-width:750px) {
    .centered {
        font-size: 0.6rem;
    }

    .centered1 {
        position: absolute;
        top: 29%;
        left: 56%;
        transform: translate(-50%, -50%);
        color: #4A4A4B;
        font-size: 0.6rem;
        font-family: 'Satisfy', cursive;
        width: 100%;
    }

    .bottom-right {
        position: absolute;
        bottom: -12px;
        right: 172px;
        color: grey;
        width: 30%;
        font-family: 'Rubik', sans-serif;
    }

    #rect {
        width: 100%;
    }

    #imageMemorial {
        font-size: 0.7rem;
    }
}

@media (min-width:750px) and (max-width:980px) {
    .centered {
        font-size: 0.7rem;
    }

    .centered1 {
        position: absolute;
        top: 29%;
        left: 56%;
        transform: translate(-50%, -50%);
        color: #4A4A4B;
        font-size: 0.7rem;
        font-family: 'Satisfy', cursive;
        width: 100%;
    }

    .bottom-right {
        position: absolute;
        bottom: -12px;
        right: 172px;
        color: grey;
        width: 30%;
        font-family: 'Rubik', sans-serif;
    }

    #rect {
        width: 100%;
    }

    #imageMemorial {
        font-size: 0.7rem;
    }
}

@media (min-width:980px) and (max-width:1197px) {
    .nextBtn1 {
        padding-top: 900px;
    }

    .centered {
        font-size: 0.9rem;
    }

    .centered1 {
        position: absolute;
        top: 29%;
        left: 56%;
        transform: translate(-50%, -50%);
        color: #4A4A4B;
        font-size: 0.9rem;
        font-family: 'Satisfy', cursive;
        width: 100%;
    }

    .bottom-right {
        position: absolute;
        bottom: -12px;
        right: 172px;
        color: grey;
        width: 30%;
        font-family: 'Rubik', sans-serif;
    }
}

@media (max-width:497px) {
    .main-container-box {
        background-color: #f8f7f6;
        padding: 10px 9px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        width: 100%;
    }

    .fontCenter {
        font-size: 0.7rem;
        color: black;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
    }
}

@media (min-width:497px) and (max-width:768px) {
    .main-container-box {
        background-color: #f8f7f6;
        padding: 13px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        width: 100%;
    }

    .fontCenter {
        font-size: 0.7rem;
        color: black;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
    }
}

@media (min-width:769px) and (max-width:1215px) {
    .main-container-box {
        background-color: #f8f7f6;
        padding: 13px 13px;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        width: 80%;
    }

    .fontCenter {
        font-size: 0.9rem;
        color: black;
        font-family: 'Rubik', sans-serif;
    }
}

@media (max-width:1201px) {
    .footer-banner {
        padding: 70px 0px;
    }
}

@media (max-width:1001px) {
    .footer-banner {
        padding: 60px 0px;
    }
}

@media (max-width:801px) {
    .footer-banner {
        padding: 50px 0px;
    }
}

@media (max-width:651px) {
    .footer-banner {
        padding: 40px 0px;
    }
}

@media (max-width:501px) {
    .footer-banner {
        padding: 30px 0px;
    }
}

@media (max-width:351px) {
    .footer-banner {
        padding: 20px 0px;
    }
}