.condolenceMainDiv{
    margin-left: 9%;
}
.carousel-indicators {
    top: 100%;
}
.carousel-indicators button{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    /* color: black; */
    background-color: black;
}
.carousel-control-next {
    position: absolute;
    top: 40%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 6%;
    height: 10%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}
.carousel-control-prev{
    position: absolute;
    top: 40%;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 6%;
    height: 10%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}
.carousel-item button{
    height: 45%;
    width: 32%;
}
.box2{
    /* background-color: #f87171;  */
   height: 80vw;
   width:35%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   /* font-size: 0.5rem; */
   flex-direction: row;
   margin-top: 2.2%;
}

.box2 .child1{
    /* background-color: yellow; */
    height: 17%;
    font-style: normal;
}
.vertical-menu1 {
    width: 80%;
    height: 150px;
    overflow-y: auto;
}
.memorialName{
    font-size: 0.8rem; 
    font-weight: 800;
}
.memorialCity{
    color: #989898;
    font-size: 0.8rem;
}
.memorialText{
    color: #B7B7B7;
    font-size: 0.777rem;
    font-weight: 600;
    /* margin-left: 12%; */
}
.editCondolences{
    text-align: center;
}
.crossImg{
    height: 63px;
}
.condolenceDiv{
    height: auto;
}
.condolencesText{
    font-weight: 600;
    font-size: 1.3rem;
}
.condolenceMain{
    height: 15vw; 
    margin-bottom: 2%;
}
.condolenceMain1{
    height: auto; 
    margin-bottom: 2%;
}
.condolencesEdit{
    /* border: 1px solid black;  */
    background-color: #CF6363;
    border-radius: 20px;
    width: 100%; 
    height: 13vw;
    display: flex;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}
.condolencesEdit1{
    /* border: 1px solid black;  */
  background-color: #CF6363;
  border-radius: 10px;
  width: 100%; 
  height: auto;
  display: flex;
  padding-top: 5%;
  padding-bottom: 2%;
  margin-bottom: 5%;
}
.qotesImg{
    width: 68px;
    margin-top: 19%;
    opacity: 0.9;
}
.condolenceImg{
    width: 6%;
    float: left;
    margin-left: -1%;
}
.condolenceText{
    font-size: 0.7rem;
    color: #FFFFFF;
    opacity: 0.8;
    float: left;
    padding-top: 1%;
}

.condolencesComment{
    font-size: 0.9rem;
    color: #FFFFFF;
    text-align: justify;
    float: left;
    padding-top: 2%;
    width: 90%;
    opacity: 0.9;
    margin-left: -7%;
    height: 6vw;
    /* border: 1px solid black; */
    overflow: hidden;
}
.condolencesComment1{
    font-size: 0.9rem;
    color: #FFFFFF;
    text-align: justify;
    float: left;
    padding-top: 2%;
    width: 90%;
    opacity: 0.9;
    margin-left: -7%;
    height: auto;
    /* border: 1px solid black; */
    overflow: hidden;
}
.viewEntireDiv{
    padding-top: 20%;
}
.viewEntire{
    float: left;
    font-size: 0.7rem;
    font-weight: 500;
    cursor: pointer;
}
.rightImg{
    width: 12%;
}
.deletrImg{
    width: 20px;
}
