<!-- second part -->

<div class="createPreMem p-2 pt-5">
    <div class="container">
        <div class="box1">
            <!-- <div> -->
                <img src="../../../assets/StaticAssets/Create memorial/thank you page/diamond.png">
                <h1>
                    <button (click)="openDialogue(4)" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                                alt=""></span></button>
                    <strong *ngIf="editservice.numLabel==1">{{respo4?.en}}</strong>
                    <strong *ngIf="editservice.numLabel==2">{{respo4?.de}}</strong>
                    <strong *ngIf="editservice.numLabel==3">{{respo4?.fr}}</strong>
                </h1>
            <!-- </div> -->
            <!-- <br> -->
            <div>
                <span class="premiumText" *ngIf="editservice.numLabel==1">{{respo5?.en}}</span>
                <span class="premiumText" *ngIf="editservice.numLabel==2">{{respo5?.de}}</span>
                <span class="premiumText" *ngIf="editservice.numLabel==3">{{respo5?.fr}}</span>
                <button (click)="openDialogue(5)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>
            </div>
        </div>

        <div class="box2 mb-2">
            <div class="specification">
                <img class="me-2 specificationMargin" style="width: 21px;" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
                <span id="m" class="premiumText1" *ngIf="editservice.numLabel==1">{{respo6?.en}}</span>
                <span id="m" class="premiumText1" *ngIf="editservice.numLabel==2">{{respo6?.de}}</span>
                <span id="m" class="premiumText1" *ngIf="editservice.numLabel==3">{{respo6?.fr}}</span>

                <button (click)="openDialogue(6)" *ngIf="loginservice.isVisible" style="right: 6%;"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>
            </div>
            <div class="specification divPadding">
                <img class="me-2" style="width: 21px;" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
                <span class="premiumText1" *ngIf="editservice.numLabel==1">{{respo7?.en}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==2">{{respo7?.de}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==3">{{respo7?.fr}}</span>

                <button (click)="openDialogue(7)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>
            </div>
            <div class="specification">
                <img class="me-2" style="width: 21px;" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
                <span class="premiumText1" *ngIf="editservice.numLabel==1">{{respo8?.en}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==2">{{respo8?.de}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==3">{{respo8?.fr}}</span>

                <button (click)="openDialogue(8)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>
            </div>
            <div class="specification divPadding">
                <img class="me-2" style="width: 21px;" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
                <span class="premiumText1" *ngIf="editservice.numLabel==1">{{respo9?.en}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==2">{{respo9?.de}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==3">{{respo9?.fr}}</span>

                <button (click)="openDialogue(9)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>
            </div>
            <div class="specification">
                <img class="me-2" style="width: 21px;" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
                <span class="premiumText1" *ngIf="editservice.numLabel==1">{{respo10?.en}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==2">{{respo10?.de}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==3">{{respo10?.fr}}</span>

                <button (click)="openDialogue(10)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>
            </div>
            <div class="specification divPadding">
                <img class="me-2" style="width: 21px;" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
                <span class="premiumText1" *ngIf="editservice.numLabel==1">{{respo11?.en}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==2">{{respo11?.de}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==3">{{respo11?.fr}}</span>

                <button (click)="openDialogue(11)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>
            </div>
            <div class="specification">
                <img class="me-2" style="width: 21px;" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
                <span class="premiumText1" *ngIf="editservice.numLabel==1">{{respo12?.en}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==2">{{respo12?.de}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==3">{{respo12?.fr}}</span>

                <button (click)="openDialogue(12)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>
            </div>
            <div class="specification divPadding">
                <img class="me-2" style="width: 21px;" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
                <span class="premiumText1" *ngIf="editservice.numLabel==1">{{respo13?.en}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==2">{{respo13?.de}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==3">{{respo13?.fr}}</span>

                <button (click)="openDialogue(13)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>
            </div>
            <!-- <div class="specification">
                <div style="display: none;">
                    <img class="me-2" style="width: 21px;" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
                    <span *ngIf="editservice.numLabel==1">{{respo14?.en}}</span>
                    <span *ngIf="editservice.numLabel==2">{{respo14?.de}}</span>
                    <span *ngIf="editservice.numLabel==3">{{respo14?.fr}}</span>
    
                    <button (click)="openDialogue(14)" *ngIf="loginservice.isVisible"
                        class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                                src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                                alt=""></span></button>
                </div>
            </div> -->
            <div class="specification">
                <img class="me-2" style="width: 21px;" src="../../../assets/StaticAssets/Create memorial/thank you page/check (1).png">
                <span class="premiumText1" *ngIf="editservice.numLabel==1">{{respo14?.en}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==2">{{respo14?.de}}</span>
                <span class="premiumText1" *ngIf="editservice.numLabel==3">{{respo14?.fr}}</span>

                <button (click)="openDialogue(14)" *ngIf="loginservice.isVisible"
                    class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                            src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                            alt=""></span></button>
            </div>
        </div>
    </div>


</div>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==4 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss4">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo4.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo4.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo4.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo4.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>


<!-- Extra code for label -->
<li *ngIf="showNewDiv==5 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss5">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo5.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo5.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo5.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo5.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==6 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss6">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo6.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo6.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo6.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo6.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==7 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss7">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo7.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo7.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo7.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo7.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==8 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss8">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo8.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo8.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo8.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo8.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==9 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss9">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo9.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo9.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo9.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo9.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==10 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss10">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo10.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo10.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo10.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo10.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==11 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss11">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo11.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo11.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo11.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo11.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==12 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss12">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo12.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo12.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo12.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo12.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==13 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss13">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo13.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo13.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo13.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo13.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==14 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss14">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo14.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo14.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo14.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo14.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>


<div class="price">
    <h1>
        <button (click)="openDialogue(15)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>
        <strong *ngIf="editservice.numLabel==1">{{respo15?.en}}</strong>
        <strong *ngIf="editservice.numLabel==2">{{respo15?.de}}</strong>
        <strong *ngIf="editservice.numLabel==3">{{respo15?.fr}}</strong>


    </h1>
    <div>
        <button (click)="openDialogue(16)" *ngIf="loginservice.isVisible"
            class="d-flex justify-content-center flex-wrap align-items-center border border-1 rounded-circle shadow rounded forButton"><span><img
                    src="../../../assets/StaticAssets/pencil.svg" style="width:16px; height:auto"
                    alt=""></span></button>
        <button class="btn btn-lg buyPremium" *ngIf="editservice.numLabel==1">{{respo16?.en}}</button>
        <button class="btn btn-lg buyPremium" *ngIf="editservice.numLabel==2">{{respo16?.de}}</button>
        <button class="btn btn-lg buyPremium" *ngIf="editservice.numLabel==3">{{respo16?.fr}}</button>
        
    </div>

</div>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==15 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss15">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo15.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo15.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo15.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo15.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>

<!-- Extra code for label -->
<li *ngIf="showNewDiv==16 && isvalid" style="position: absolute; margin-top: 25px;">
    <div class="forDiv" id="thankCss16">
        <button style="float: right;" (click)="openDialogue1()" class="btn btn-outline-danger">X</button>
        <form class="example-form" #regForm2="ngForm">
            <mat-form-field class="example-full-width" style="display: none;">
                <mat-label>id</mat-label>
                <textarea matInput name="id" [(ngModel)]="respo16.id"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width englishLng">
                <mat-label>English</mat-label>
                <textarea matInput name="en" [(ngModel)]="respo16.en"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>German</mat-label>
                <textarea matInput name="de" [(ngModel)]="respo16.de"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>French</mat-label>
                <textarea matInput name="fr" [(ngModel)]="respo16.fr"></textarea>
            </mat-form-field>
        </form>
        <button (click)="postEditData(regForm2);openDialogue1();" class="btn btn-outline-success">Save</button>
    </div>
</li>