@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');

.grief{
    height: 40vw;
    background-image: url('../../../assets/StaticAssets/Home page/Group 332.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    
}

.giftImage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3rem;
    z-index:1;
    height: 10vw;
    justify-content: space-evenly;
    
}

.img{
    border-radius: 50%;
    border:2px solid gray;
    height: 100%;
    width: 11%;
}


/* new  tab  css*/

.trendingDiscuss{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height:30vw;
    width: 100%;
   }

.discuss{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.discuss2{
    height: 25%;
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.discussSub{
    /* border: 0.4px solid green; */
    height:100%;
    width:19%;
}
.discussSub p {
    color: rgb(169 141 141);
    text-shadow: 0 0 5px rgba(27, 24, 24, 0.5);
}