<div class="grief w-100 ">
    <h3 style="color:white;letter-spacing: 0.2rem;" class="lineHeight">The online cemetery on the internet, Grief Online</h3>
    <br>
    <button class="btn btn-danger btn-lg">
        CREATE MEMORIAL
    </button>
    <br>
    <br>
    <small>Newest <strong>GIFTS & CANDLES</strong> available</small>

    <div class="giftImage w-75 p-3">
        <div class="d-flex justify-content-center img bg-light ">
            <img src="../../../assets/StaticAssets/Home page/asset-1.png">
        </div>
        <div class="d-flex justify-content-center img bg-light ">
            <img src="../../../assets/StaticAssets/Home page/asset-2.png">
        </div>
        <div class="d-flex justify-content-center img bg-light ">
            <img src="../../../assets/StaticAssets/Home page/66.png">
        </div>
        <div class="d-flex justify-content-center img bg-light ">
            <img src="../../../assets/StaticAssets/Home page/asset-4.png">
        </div>
        <div class="d-flex justify-content-center img bg-light ">
            <img src="../../../assets/StaticAssets/Home page/asset-5.png">
        </div>
        <div class="d-flex justify-content-center img bg-light ">
            <img src="../../../assets/StaticAssets/Home page/asset-6.png">
        </div>
    </div>

</div>

<!-- TrendingDiscussion -->

<div class="trendingDiscuss mb-5">
    <div class="discuss">
        <img src="../../../assets/StaticAssets/Home page/forum.png" class="h-75">
        <br>
        <h5><strong>Trending Discussion</strong></h5>
    </div>

    <div class="discuss2 mt-5">
        <div class="discussSub shadow-lg p-3 mb-5 bg-white rounded p-3 ps-4">
            <h6>
                <img class="griefImg" src="../../../assets/StaticAssets/Forgot password/Group 9.png">
                17-01-2019
            </h6>
            <p>How to get good custom dissetion writing services</p>
        </div>

        <div class="discussSub shadow-lg p-3 mb-5 bg-white rounded p-3 ps-4">
            <h6>
                <img class="griefImg" src="../../../assets/StaticAssets/Forgot password/Group 9.png">
                17-01-2019
            </h6>
            <p>How to get good custom dissetion writing services</p>
        </div>
        
        <div class="discussSub shadow-lg p-3 mb-5 bg-white rounded p-3 ps-4">
            <h6>
                <img class="griefImg" src="../../../assets/StaticAssets/Forgot password/Group 9.png">
                17-01-2019
            </h6>
            <p>How to get good custom dissetion writing services</p>
        </div>

        <div class="discussSub shadow-lg p-3 mb-5 bg-white rounded p-3 ps-4">
            <h6>
                <img class="griefImg" src="../../../assets/StaticAssets/Forgot password/Group 9.png">
                17-01-2019
            </h6>
            <p>How to get good custom dissetion writing services</p>
        </div>


    </div>
</div>