/* @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

/* css for labels */
.forButton {
    position: relative;
    /* z-index: 10; */
    top: 0px;
    float: right;
    right: 0px;
    background-color: rgba(207, 99, 99, 0.2);
    opacity: 0.7;
}

/* For div css */
.forDiv {
    position: relative;
    z-index: 10;
    color: black;
    /* border: 1px dotted tomato; */
    text-align: center;
    border-radius: 10px;
    height: auto;
    margin-top: 10%;
    width: 300px;
    font-size: 1rem;
    background-color: #F8F8F8;
}

.ImageSection {
    width: 80%;
    height: 80%;
    margin-top: 9%;
}

.englishLng {
    padding-top: 15%;
    padding-left: 2%;
    margin-left: 12%;
}

#griefCss1 {
    left: 59%;
    margin-bottom: -5%;
}

#griefCss2 {
    right: 14%;
    margin-bottom: -11%;
}

#griefCss3 {
    margin-bottom: -37%;
    right: 6%;
}

#griefCss4 {
    margin-bottom: -45%;
    left: 155%;
}

.lineHeight {
    color: white;
    letter-spacing: 0.1rem;
    padding-top: 14%;
}

.grief {
    /* height: 32vw; */
    background-image: url('../../../assets/StaticAssets/Home page/Group 332-copy.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    width: 100%;
}

.griefBtn {
    background-color: #CF6363;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0.9;
    padding-top: 4%;
    padding-bottom: 4%
}

.giftImage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    z-index: 1;
    /* height: 10vw; */
    margin-bottom: -3%;
    /* margin-left: 17%; */
}

.trendingText {
    font-weight: 900;
    font-size: 1.1rem;
    opacity: 0.9;
}

.img {
    border-radius: 50%;
    border: 1px solid gray;
    height: 100%;
    width: 11%;
    margin-left: 2%;
}

.trendingDiscuss {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 3rem;
    /* height: 30vw;
    width: 100%; */
}

.discuss {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.griefImg {
    /* height: 16px; */
}

.discuss2 {
    /* height: 35%;
    width: 95%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}

.discussSub {
    /* height: 100%; */
    width: 15rem;
    border: 1px solid lightgray;
}

.discussSub p {
    /* color: #C0C0C0; */
    color: #6f6f6f;
    font-size: 0.8rem;
}

@media (max-width:480px) {
    .grief {
        /* height: 100%; */
        /* width: 100%; */
    }

    .discuss2 {
        /* height: 48%;
        width: 100%; */
    }

    .trendingDiscuss {
        /* height: 100vw; */

    }

    .discussSub {
        /* width: 23%; */
    }

    .griefImg {
        /* width: 10px;
        height: 10px; */
    }

    .discussSub h6 {
        margin-top: -3px;
        font-size: 0.7rem;
    }

    .discussSub p {
        font-size: 0.8rem;
    }

    .lineHeight {
        font-size: 0.5rem;
        padding-top: 10px;
    }
}

@media (min-width:481px) and (max-width:780px) {
    .discussSub h6 {
        margin-top: -3px;
        font-size: 0.7rem;
    }

    .discussSub p {
        font-size: 0.8rem;
    }

    .trendingDiscuss {
        /* height: 45vw; */
    }

    .discuss2 {
        /* height: 50%;
        width: 85%; */
    }

    .grief {
        /* width: 90%;
        height: 52%; */
    }

    .lineHeight {
        font-size: 0.8rem;
    }

    #griefCss1 {
        left: 7%;
        margin-bottom: -6%;
    }

    #griefCss2 {
        right: 14%;
        margin-bottom: -31%;
    }

    #griefCss3 {
        margin-bottom: -58%;
        right: 6%;
    }

    #griefCss4 {
        margin-bottom: -41%;
        left: 62%;
    }

}

@media (min-width:781px) and (max-width:1160px) {}

@media (min-width:1398px) {
    .griefBtn {
        font-size: 1.2rem;
    }

    .lineHeight {
        font-size: 2rem;
    }
}