@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');

.grief{
    height: 40vw;
    background-image: url('../../../assets/StaticAssets/Home page/Group 332.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    width: 100%;
    /* margin-left: 3%; */
}

.giftImage{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 3rem;
    z-index:1;
    height: 10vw;
    justify-content: space-evenly;
    
}

.img{
    border-radius: 50%;
    border:2px solid gray;
    height: 100%;
    width: 11%;
}


/* new  tab  css*/

.trendingDiscuss{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height:30vw;
    width: 100%;
   }

.discuss{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.discuss2{
    height: 35%;
    width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.discussSub{
    /* border: 0.4px solid green; */
    height:100%;
    width:19%;
}
.discussSub p {
    color: rgb(169 141 141);
    text-shadow: 0 0 5px rgba(27, 24, 24, 0.5);
}

@media (max-width:480px){
    .grief{
        height: 100%;
        width: 100%;
    }
    .discuss2{
        height: 48%;
        width: 100%;
    }
    .trendingDiscuss{
        height: 100vw;
        
    }
    .discussSub{
        width: 23%;
    }
    .griefImg{
        width: 10px;
        height: 10px;
    }
    .discussSub h6{
        margin-top: -3px;
        font-size: 0.35rem;
    }
    .discussSub p {
        font-size: 0.8rem;
    }
    .lineHeight{
        font-size: 0.5rem;
        padding-top: 10px;
    }
}
@media (min-width:481px) and (max-width:780px){
    .discussSub h6{
        margin-top: -3px;
        font-size: 0.7rem;
    }
    .discussSub p{
        font-size: 0.8rem;
    }
    .trendingDiscuss{
        height:45vw;
    }
    .discuss2{
        height: 50%;
        width: 85%;
    }
    .grief{
        width: 90%;
    }
    .lineHeight{
        font-size: 0.8rem;
    }

}
@media (min-width:781px) and (max-width:1160px){}
