<form class="example-form">
    <mat-form-field class="example-full-width" >
        <mat-label>English</mat-label>
        <textarea matInput>{{respo1.en}}</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>dutch</mat-label>
        <textarea matInput>{{respo1.de}}</textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>french</mat-label>
        <textarea matInput>{{respo1.fr}}</textarea>
    </mat-form-field>
</form>